%h2 Summary

%table.standard
  %tbody
    %tr
      %td Organization
      %td= h @activity.organization_name
    %tr
      %td Activity Name:
      %td= @activity.name.blank? ? "n/a" : h(@activity.name)
    %tr
      %td Activity Description:
      %td= h @activity.description.to_s.titleize
    %tr
      %td Implementer
      %td= h @activity.implementer
    %tr
      %td Associated Project
      %td= h friendly_name(@activity.project)
    %tr
      %td Total Spend
      %td
        = n2c(@activity.spend,  @activity.currency.to_s) || 0
        %p== (Coding Total#{" (District)" if @location}: #{n2c(@spent_assignments_sum, "USD")})
    %tr
      %td Total Budget
      %td
        = n2c(@activity.budget,  @activity.currency.to_s)
        %p== (Coding Total#{" (District)" if @location}: #{n2c(@budget_assignments_sum, "USD")})

    %tr
      %td
        Approved?
        %span= link_to "?", "#", :title => "Whether this activity has been approved by a reviewer yet.", :class => "tooltip help_tip"
      %td
        = @activity.approved? ? "Yes" : "No"