- form_for @data_response do |f|
  %table
    %tbody
      %tr
        %td= f.label :currency, "Default Currency"
        %td
          = f.select :currency, currency_options_for_select, :include_blank => true
          %p.hint You can override this currency on individual projects
      %tr
        %td= f.label :fiscal_year_start_date, "Start of Fiscal Year 2008-2009"
        %td= f.text_field :fiscal_year_start_date, :class => 'date_picker'
      %tr
        %td= f.label :fiscal_year_end_date, "End of Fiscal Year 2008-2009"
        %td= f.text_field :fiscal_year_end_date, :class => 'date_picker'
      %tr
        %td= ""
        %td
          %p
            Choose the fiscal year above that you wish to report in according to what is convenient for you. The date format is YYYY-MM-DD, for example January 10, 2011 is 2011-01-10.
            %br
            This may correspond to the fiscal year of your organization, donors, GOR, etc.
            %br
            We will extrapolate that your 2010-2011 begins and ends on the same dates, one year later.
            %br
            If this is not the case, contact us using the Help/Contact Us form at the bottom of this page.
      %t
        %td= f.label :contact_name, "Point of Contact Name"
        %td= f.text_field :contact_name
      %tr
        %td= f.label :contact_position, "Point of Contact Position"
        %td= f.text_field :contact_position
      %tr
        %td= f.label :contact_phone_number, "Point of Contact Phone Number"
        %td= f.text_field :contact_phone_number
      %tr
        %td= f.label :contact_main_office_phone_number, "Point of Contact Office Phone Number"
        %td= f.text_field :contact_main_office_phone_number
      %tr
        %td= f.label :contact_office_location, "Point of Contact Office Location"
        %td= f.text_field :contact_office_location
  = submit_tag 'Save'

