- if activities.empty?
- else
  %p.guide Click the classify link at the end of each row to classify each activity. Unchecked boxes mean that coding has not been started or does not add up to the correct amount. You may click the "Use Budget codings for Expenditure" box to use the classifications as for the budget if they are roughly similar. Refreshing this page will remove rows you have corrected.
  %h3= "Uncoded #{type.capitalize}"
  .simple_table
    %table
      %thead
        %tr
          %th Name
          %td Description
          %td Expenditure by Coding
          %td Expenditure by District
          %td Expenditure by Cost Category
          %td Use Budget codings for Expenditure
          %td.manage Manage
      %tbody
        - activities.each do |activity|
          %tr
            %th= activity.name
            %th= activity.description
            %th= check_box_tag "", "", activity.spend?, {:disabled => "disabled"}
            %th= check_box_tag "", "", activity.spend_by_district?, {:disabled => "disabled"}
            %th= check_box_tag "", "", activity.spend_by_cost_category?, {:disabled => "disabled"}
            %th= check_box_tag "activity_#{activity.id}", true, activity.use_budget_codings_for_spend, {:class => "use_budget_codings_for_spend"}
            %th= "#{link_to 'Classify', activity_coding_path(activity), :target => "_blank"} #{link_to 'Edit', edit_activity_path(activity)}"
    %hr
