- title("Edit Data Response")

- content_for :sub_nav do
  = render :partial => 'layouts/sub_nav'

#page_tips
  .nav
    = link_to "Show Page Tips", "#", :id => "page_tips_open"
  .desc
    %h2 Description
    %span.close= link_to "Close", "#", :id => "page_tips_close"
    %p Welcome to the Resource Tracking Tool! Please don't forget to change your password to something easier to remember by selecting the "change password" link in the upper right corner of the page.
    %p On this page, you can enter basic information that will be used throughout data entry, such as currency and your fiscal year. This is used to make the data entry experience easier and to customize the process for your organization.
    %p You can also enter information about a primary contact at your organization that will help the resource tracking team if there are any questions throughout the process.


= error_messages_for :data_response,  :header_message  => nil, :message => "Oops, we couldn't save your changes."

= render 'form'

= render 'comments'