- content_for :sub_nav do
  = render :partial => 'layouts/sub_nav'

= title ("Data Response Details")
- form_for @data_response, :url => data_response_edit_url(@data_response.id), :method => :post do |form|
  %table
    %tbody
      %tr
        %td
          = form.label :currency, "Currency"
        %td
          = form.text_field :currency
      %tr
        %td
          = form.label :fiscal_year_start_date, "Start of Fiscal Year 2008-2009"
        %td
          = form.text_field :fiscal_year_start_date, :class => 'date_picker'
      %tr
        %td
          = form.label :fiscal_year_end_date, "End of Fiscal Year 2008-2009"
        %td
          = form.text_field :fiscal_year_end_date, :class => 'date_picker'
      %tr
        %td
          = ""
        %td
          %p
            Choose the fiscal year above that you wish to report in according to what is convenient for you.
            %br
            This may correspond to the fiscal year of your organization, donors, GOR, etc.
            %br
            We will extrapolate that your 2010-2011 begins and ends on the same dates, one year later.
            %br
            If this is not the case, contact us using the Help/Contact Us form at the bottom of this page.
      %tr
        %td
          = form.label :contact_name, "Point of Contact Name"
        %td
          = form.text_field :contact_name
      %tr
        %td
          = form.label :contact_position, "Point of Contact Position"
        %td
          = form.text_field :contact_position
      %tr
        %td
          = form.label :contact_phone_number, "Point of Contact Phone Number"
        %td
          = form.text_field :contact_phone_number
      %tr
        %td
          = form.label :contact_main_office_phone_number, "Point of Contact Office Phone Number"
        %td
          = form.text_field :contact_main_office_phone_number
      %tr
        %td
          = form.label :contact_office_location, "Point of Contact Office Location"
        %td
          = form.text_field :contact_office_location
  = submit_tag 'Save'

= render :partial => 'shared/bottom_data_entry',
  :locals => { :record_type => DataResponse }
