%h2
  Organizations I Manage
.dashboard_section
  %h3.tracked
    %br
    %span.light Total Organizations
    %span.large= @organizations.count
  %h3.tracked
    %br
    %span.light Approved Activities
    %span.large= @approved_activities
  %h3.tracked
    %br
    %span.light Pending Activities
    %span.large= @pending_activities
  %h3.tracked.last
    %br
    %span.light Recently Submitted
    - unless @recent_responses.empty?
      %ul.recently_submitted
        - @recent_responses.each do |r|
          %li= link_to r.organization.name, response_projects_path(r)
    - else
      %span.none No responses submitted recently


%h2.overflow_hidden
  = link_to "Download Combined Workplan", activity_manager_workplan_path, :class => 'dropdown dropless right heading_button'
  =image_tag "icon_reporter.png", :class => "heading_icon"
  Organizations List
.dashboard_section
  %table.modern_table.am_organizations.clickable
    %thead
      %tr
        %th.am_organization Organization
        %th.am_contacts Contacts
        %th.am_activities.center Approved Activities
        %th.am_status.center Status
        %th.am_download.center Actions
    %tbody
      - @organizations.each do |organization|
        - response = organization.data_responses.detect { |dr| dr.data_request_id == current_request.id }
        %tr
          %td.title= link_to organization.name, response_projects_path(response)
          %td
            %ul
              %li
                = organization.contact_name
                %span= "(#{organization.contact_position})" if organization.contact_position.present?
              %li
                = organization.contact_phone_number.presence || organization.contact_main_office_phone_number
            %ul
              - organization.user_emails(2).each do |email|
                %li= mail_to email

          %td.center= link_to "#{response.activities.manager_approved.count}/#{response.activities.count}", response_projects_path(response)
          %td.center= link_to response.status, response_projects_path(response)
          %td.center= link_to "Download Workplan", export_workplan_response_projects_path(response), :class => 'download_workplan'
