%h2
  Organizations I Manage
.dashboard_section
  %h3.tracked
    %br
    %span.light Total Organizations
    %span.large= @organizations.count
  %h3.tracked
    %br
    %span.light Approved Activities
    %span.large= @approved_orgs
  %h3.tracked
    %br
    %span.light Pending
    %span.large= @total_activities - @approved_orgs
  %h3.tracked.last
    %br
    %span.light Recently Submitted for Approval
    - unless @recent_responses.empty?
      %ul
        - @recent_responses.each do |r|
          %li= link_to r.organization.name, response_projects_path(r)
    - else
      %span.none No responses submitted recently

%h2
  =image_tag "icon_reporter.png", :class => "heading_icon"
  Organizations List
.dashboard_section
  %table.modern_table
    %thead
      %tr
        %th Organization
        %th Contacts
        %th Approved Activities
        %th Status
        %th Export
    %tbody
      - @organizations.each do |organization|
        - response = @responses.detect { |dr| dr.organization_id == organization.id }
        %tr
          %td.title= link_to organization.name, response_projects_path(response)
          %td.contacts
            %h3 Primary
            %ul
              %li
                %span Name
                = organization.contact_name
              %li
                %span Position
                = organization.contact_position
              %li

                %span Phone Number
                = organization.contact_phone_number
              %li
                %span Office Phone Number
                = organization.contact_main_office_phone_number
              %li

                %span.info_type Office Location
                = organization.contact_office_location

            %h3 Secondary
            %ul
              - organization.user_emails.each do |email|
                %li= mail_to email

          %td= response.nil? ? "n/a" : "#{response.activities.manager_approved.count}/#{response.activities_count}"
          %td= response.nil? ? "n/a" : response.status
          %td= link_to "Export Workplan", export_workplan_response_projects_path(response)
