- title("Dashboard")

- if current_user.district_manager?
  %h1.main_heading= current_user.location.short_display
- else
  %h1.main_heading Dashboard

- if current_user.admin?
  = render 'sysadmin'
- elsif current_user.activity_manager?
  = render 'activity_manager'
- elsif current_user.district_manager?
  = render 'district_manager'
- else
  = render 'reporter'

-#- unless current_user.district_manager?
= render 'dashboard/requests'

= render 'comments/short_listing', :comments => @comments
