%h1.main_heading Edit Profile

= error_messages_for :user, :header_message  => nil, :message => "Oops, we couldn't save your changes."

%h2 Enter your personal information
.dashboard_section
  - semantic_form_for @user, :url => profile_path, :html => {:class => "basic_form"} do |f|
    - f.inputs :class => 'wrap-80 inputs' do
      %ul.dashboard_section
        = f.input :full_name, :hint => "Your first and last name"
        = f.input :username, :hint => "Your username"
        = f.input :email, :hint => "Your email address"
        = f.input :password, :hint => "Your password", :label => "New password", :required => false
        = f.input :password_confirmation, :hint => "Type your new password again", :label => "Confirm new password", :required => false
        %li
          .inputs 
            =f.label "Picture"
          = image_tag current_user.gravatar(60), :class => "gravatar"
          %p.inline-hints= "You can change the picture for #{current_user.email} at <a href=\"http://www.gravatar.com\" target=\"_blank\">gravatar.com</a>"
        = f.input :tips_shown, :hint => "Show the Getting Started tips at the top of each page?", :label => "Show tips?", :required => false

    - f.buttons :class => 'wrap-80 buttons' do
      = f.commit_button "Save", :class => "last"
