- title 'Reports'

%h1.main_heading Reports

.first-half
  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    Data Responses
  .dashboard_section
    %ul.admin_reports
      - if current_user.current_data_response
        %li
          %a{ :href => reporter_data_response_path(current_user.current_data_response), :class => "drill_down"}
            Review My Response
            %span.hint Interactive report of your current data response

  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    Districts
  .dashboard_section
    %ul.admin_reports
      %li
        %a{ :href => reports_districts_path, :class => "drill_down"}
          Review District Expenditures and Budgets
          %span.hint Interactive reports
      %li

  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    National
  .dashboard_section
    %ul.admin_reports
      %li
        %a{ :href => reports_country_path, :class => "drill_down"}
          Review National Expenditures and Budgets
          %span.hint Interactive reports
      %li

.second-half
  %h2
    =image_tag "icon_users.png", :class => "heading_icon"
    Users
  .dashboard_section
    %ul
      %li= link_to "Users In My Organization", users_in_my_organization_path

  %h2
    =image_tag "icon_reporter.png", :class => "heading_icon"
    Codes
  .dashboard_section
    %ul
      %li
        %a{:href => all_codes_path}
          All Codes
          %span.hint from budget and expenditure classifications screen

- @data_responses.each do |response|
  %br
  %br
  %h1.sub_heading= "Reports for Response: #{response.data_request.title}"

  .first-half
    %h2
      =image_tag "icon_reporter.png", :class => "heading_icon"
      Activities
    .dashboard_section
      %ul.admin_reports
        %li=  link_to "Grouped by NSP", activities_by_nsp_url(:id => response.id, :type => :budget)
        %li= link_to "Grouped by All Codes", activities_by_full_coding_url(:id => response.id, :type => :budget)

    %h2
      =image_tag "icon_reporter.png", :class => "heading_icon"
      Districts
    .dashboard_section
      %ul.admin_reports
        %li=  link_to "Grouped by NSP", districts_by_nsp_url(:id => response.id, :type => :budget)
        %li= link_to "Grouped by All Codes", districts_by_full_coding_url(:id => response.id, :type => :budget)

  .second-half
    %h2
      =image_tag "icon_reporter.png", :class => "heading_icon"
      Maps
    .dashboard_section
      .first-half
        %h3 Districts
        %ul
          %li=  link_to "Grouped by NSP", map_districts_by_nsp_url(:id => response.id, :type => :budget)
          %li=  link_to "Grouped by All Codes", map_districts_by_full_coding_url(:id => response.id, :type => :budget)

      .second-half
        %h3 Facilities
        %ul
          %li N/A


