/ js event: .form_box, .new_form, .edit_form
%div{:class => "form_box #{(@comment.new_record? ? 'new_form' : 'edit_form')}"}
  / js event: .cancel_btn
  - if request.format == "text/javascript"
    = link_to "Close", reporter_comments_path, :class => "cancel_btn close"
  - semantic_form_for @comment, :url => @comment.new_record? ? reporter_comments_path(:commentable_type => comment.commentable_type, :commentable_id => comment.commentable_id) : reporter_comment_path(comment) do |f|
    = f.semantic_errors :state
    - f.inputs do
      - f.inputs "", :id => "basic", :class => "collapsible" do
        = f.input :title, :label => 'Title'
        = f.input :comment, :label => 'Comment'
      - f.buttons do
        / js event: .submit_btn
        = f.commit_button :label => (comment.new_record? ? "Create Comment" : "Update Comment"), :button_html => { :class => "submit_btn" }
