- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

:javascript
  google.load("visualization", "1", {packages:["corechart", "treemap"]});
  var _treemap = #{@treemap.to_json};
  var _spent_pie_values   = #{js_safe(@spent_pie_values)};
  var _budget_pie_values  = #{js_safe(@budget_pie_values)};
  var _code_spent_values  = #{js_safe(@code_spent_values)};
  var _code_budget_values = #{js_safe(@code_budget_values)};

%ul.breadcrumb
  %li= link_to "Districts", admin_districts_path
  %li= link_to h(@location.name), admin_district_path(@location)
  %li= link_to 'Organizations', admin_district_organizations_path(@location)

%h1.main_heading= "Organization: #{h(friendly_name(@organization))}"

%h2 Summary

%table.standard
  %tbody
    %tr
      %td Organization
      %td= h @organization.name
%br

%ul.group
  %li= link_to "NSP", admin_district_organization_path(@location, @organization, :code_type => "nsp"), active_if(@nsp)
  %li= link_to "MTEF", admin_district_organization_path(@location, @organization, :code_type => "mtef"), active_if(@mtef)

%ul.group
  %li= link_to "Treemap", admin_district_organization_path(@location, @organization, :chart_type => "treemap", :code_type => params[:code_type]), active_if(@treemap)
  %li= link_to "Pie", admin_district_organization_path(@location, @organization, :chart_type => "pie", :code_type => params[:code_type]), active_if(!@treemap)

- type = 'NSP'
- type = 'MTEF' if @mtef

.full
  .first-half
    %h2= "#{type} Spent"
    #code_spent.bordered

  .second-half
    %h2= "#{type} Budget"
    #code_budget.bordered
