%h2 Admin Dashboard

%h3=  link_to "Manage help and page comments", "model_helps"
%h3=  link_to "Manage Organizations", "organizations"
%h3=  link_to "Manage Activities", "activities"
%h3=  link_to "Manage users", "users"
%h3=  link_to "Manage comments", "comments"
%h3=  link_to "Manage codes", "codes"
%h3=  link_to "Respond to help requests", "help_requests"
%h3=  link_to "Review submitted data responses", data_responses_path

%h2 Reports
%h3=  link_to "Activities By District", activities_by_district_path
%h3=  link_to "Activities By District with Sub-Activities", activities_by_district_sub_activities_path
%h3=  link_to "Activities By Budget Coding (beta)", activities_by_budget_coding_path
%h3=  link_to "Activities By Budget Cost Categorization (beta)", activities_by_budget_cost_cat_path
%h3=  link_to "Activities By Expenditure Coding (beta)", activities_by_expenditure_coding_path
%h3=  link_to "Activities By Expenditure Cost Categorization (beta)", activities_by_expenditure_cost_cat_path
%h3=  link_to "Users By Organization", users_by_organization_path

