%h2 Admin Dashboard

%h3=  link_to "Manage help and page comments", "model_helps"
%h3=  link_to "Manage Organizations", "organizations"
%h3=  link_to "Manage Activities", "activities"
%h3=  link_to "Manage users", "users"
%h3=  link_to "Manage comments", "comments"
%h3=  link_to "Manage codes", "codes"
%h3=  link_to "Respond to help requests", "help_requests"

%h2 Reports
%h3=  link_to "Activities By District", activities_by_district_path

