%h2 Donor/NGO Dashboard
%br
%h3 Data Requests

- @data_requests_fulfilling.each do |req|
  %p
    = req.title
    = link_to "Edit", start_data_response_url(DataResponse.find_by_data_request_id(req.id))

- @data_requests_unfulfilled.each do |req|
  - form_for DataResponse.new(:responding_organization => current_user.organization, :data_request => req), :url => data_responses_path, :method => :post do |form|
    = form.hidden_field(:organization_id_responder)
    = form.hidden_field(:data_request_id)
    %p
      = req.title
      = form.submit "Respond"

