%table.standard.clickable
  %thead
    %tr
      %th Activity
      %th Organization
      %th Total Spent

  %tbody
    - top_activities.each do |activity|
      %tr{:class => cycle("even", "odd")}
        %td= link_to "#{friendly_name(activity)}", reports_country_activity_path(activity)
        %td= h activity.org_name
        - spent_total = activity.spent_sum
        %td
          %ul
            %li= n2c(spent_total * usd_to_local_currency, Money.default_currency.iso_code)
            %li= "(#{n2c(spent_total, '$')})"
