%ul.third
  %li
    %span Districts:
    = activity.locations.map(&:name).join(', ')
  %li
    %span Start:
    = activity.start
  %li
    %span End:
    = activity.end
  %li
    %span Text for Provider:
    = activity.text_for_provider
  %li
    %span Beneficiaries:
    = activity.beneficiaries.map(&:short_display).join(', ')
  %li
    %span Text for Beneficiaries:
    = activity.text_for_beneficiaries
  %li
    %span Org's Assisted:
  %li
    = activity.organizations.map(&:name).join(', ')
  %li
    %span Sub-Activities:
    = render 'sub_activities', :activity => activity
  %li
    %span Comments:
    %ul
      - activity.comments.each do |c|
        %li= "#{c.title}, #{c.comment}"
  %li
    %span= "#{link_to "Edit", edit_activity_url(activity.id)} #{popup_classify_link_for activity}"
