- other_costs = false unless other_costs

%table.activities
  %thead
    %tr
      %th
        = other_costs ? "Other Costs" : "Activities"
        = "(#{activities.count})"
      %th Classified?
      %th Approved?
      - unless other_costs
        %th Sub-Implementers
      %th Spend
      %th Budget
      %th Manage
  %tbody
    - activities.each do |activity|
      %tr.activity.entry_header
        %td
          %ul
            %li.name
              = activity.name
            %li.descr= activity.description.to_s.first(300)
            - unless activity.type == "OtherCost"
              %li.implementer= "Implementer: #{activity.implementer.try(:name)}"
        %td= activity.classified? ? "Yes" : "No"
        %td= activity.approved
        - unless other_costs
          %td= activity.sub_activities.count
        %td= number_to_currency(activity.spend, :unit => activity.currency.to_s + ' ', :separator => ".", :delimiter => ",")
        %td= number_to_currency(activity.budget, :unit => activity.currency.to_s + ' ', :separator => ".", :delimiter => ",")
        %td
          = link_to "Edit", edit_activity_path(activity)
          = link_to "Delete", activity, :method => :delete, :confirm => "Are your sure?"
      %tr.activity.entry_main
        %td.s_border{:colspan => 100}
          = render '/admin/data_responses/activity_summary', :activity => activity, :other_costs => other_costs

          = render '/admin/data_responses/classifications', :activity => activity, :other_costs => other_costs

          = render '/admin/data_responses/sub_activities', :activity => activity

          = render '/admin/data_responses/comments', :commentable => activity
