%table.activities
  %thead
    %tr
      %th= "Activities (#{project.activities.count})"
      %th Classified?
      %th Approved?
      %th Sub-Implementers
      %th Spend
      %th Budget
  %tbody
    - project.activities.each do |activity|
      %tr.activity.entry_header
        %td
          %ul
            %li.name
              = activity.name
              - if activity.type == "OtherCost"
                (Other Cost)
            %li.descr= activity.description.to_s.first(300)
            - unless activity.type == "OtherCost"
              %li.implementer= "Implementer: #{activity.implementer.try(:name)}"
        %td= activity.classified? ? "Yes" : "No"
        %td= activity.approved
        - unless activity.type == "OtherCost"
          %td= activity.sub_activities.count
        - else
          %td N/A
        %td= number_to_currency(activity.spend, :unit => activity.currency.to_s + ' ', :separator => ".", :delimiter => ",")
        %td= number_to_currency(activity.budget, :unit => activity.currency.to_s + ' ', :separator => ".", :delimiter => ",")
      %tr.activity.entry_main
        %td.s_border{:colspan => 100}
          = render 'activity_summary', :activity => activity

          = render 'classifications', :activity => activity

          = render 'sub_activities', :activity => activity

          = render 'comments', :project => activity