%table.classifications
  %thead
    %tr
      %th Classifications
      %th Completed?
  %tbody
    %tr.classification.entry_header
      %td Budget by Coding
      %td= activity.budget?
    %tr
      %td Budget by District
      %td= activity.budget_by_district?
    %tr
      %td Budget by Cost Category
      %td= activity.budget_by_cost_category?
    %tr
      %td Expenditure by Coding
      %td
        = activity.spend?
        %tr
      %td Expenditure by District
      %td= activity.spend_by_district?
    %tr
      %td Expenditure by Cost Category
      %td= activity.spend_by_cost_category?