- form_for(Comment.new(:commentable => project), :url => new_comment_path) do |form|
  %p
    = form.label :title
    = form.text_field :title
  %p
    = form.label :comment
    = form.text_area :comment
  %p
    = form.submit "Add Comment"

%table.dashboard_comments
  %thead
    %tr
      %th{:colspan => 100}= "Comments (#{project.comments.count})"
  %tbody
    - project.comments.each do |c|
      %tr
        %td= c.title
        %td= c.comment
