%table.projects
  %thead
    %tr
      %th= "Projects (#{projects.count})"
      %th Activities
      %th Spend
      %th Budget
      %td Manage
  %tbody.hidden
    - projects.each do |project|
      %tr.project.entry_header
        %td
          %ul
            %li.name= project.name
            %li.descr= project.description.to_s
            %li.funders
              = "Funders: "
              - FundingFlow.sources_for(project).each do |source|
                = "#{source.from.try(:name)} (#{source.budget}),"
        %td= project.activities.count
        %td= number_to_currency(project.spend, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
        %td= number_to_currency(project.budget, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
        %td
          = link_to "Edit", edit_project_path(project)
          = link_to "Delete", project, :method => :delete, :confirm => "Are your sure?"

      %tr.project.entry_main.s_border
        %td{:colspan => 100}
          = render '/admin/data_responses/project_summary', :project => project
          = render '/admin/data_responses/comments', :commentable => project
          = render '/admin/data_responses/activities', :activities => project.activities.roots.greatest_first
          = render '/admin/data_responses/activities', :activities => project.activities.with_type("OtherCost"), :other_costs => true
