%ul.fourth
  %li
    %span Dates:
    = "#{project.start_date} to #{project.end_date}"

  %li
    %span Districts:
    %ul.dashboard_districts
      - project.locations.map(&:name).each do |loc|
        %li= "#{loc},"

%table.fourth.budget_summary
  %tbody
    %tr
      %td Total Budget:
      %td= number_to_currency(project.entire_budget, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
    %tr
      %td Total Budget (current FY):
      %td= number_to_currency(project.budget, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
    %tr
      %td Total Spend (past FY):
      %td= number_to_currency(project.spend, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
    %tr
      %td Spend Q4 (FY 08-09):
      %td=  number_to_currency(project.spend_q4_prev , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

    %tr
      %td Spend Q1:
      %td=  number_to_currency(project.spend_q1 , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

    %tr
      %td Spend Q2:
      %td=  number_to_currency(project.spend_q2 , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

    %tr
      %td Spend Q3:
      %td=  number_to_currency(project.spend_q3 , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

    %tr
      %td Spend Q4:
      %td=  number_to_currency(project.spend_q4 , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")


.charts
  .chart{:id => "project_#{project.id}_nsp_budget"}
    %strong You need to upgrade your Flash Player

  .chart{:id => "project_#{project.id}_nsp_spend"}
    %strong You need to upgrade your Flash Player

  .chart{:id => "project_#{project.id}_mtef_budget"}
    %strong You need to upgrade your Flash Player

  .chart{:id => "project_#{project.id}_mtef_spend"}
    %strong You need to upgrade your Flash Player
