%ul.half
  %li
    %span Districts:
    = project.locations.map(&:name).join(', ')
  %li
    %span Start:
    = project.start_date
  %li
    %span End:
    = project.end_date
%ul.half.t_right
  %li
    %b Total Budget:
    = project.entire_budget
  %li
    %b Budget (current FY):
    = project.budget
  %li
    %b Spend Q4 (Previous FY):
    = project.spend_q4_prev
  %li
    %b Spend (current FY):
    = project.spend
  %li
    %b Spend Q1:
    = project.spend_q1
  %li
    %b Spend Q2:
    = project.spend_q2
  %li
    %b Spend Q3:
    = project.spend_q3
  %li
    %b Spend Q4:
    = project.spend_q4