%ul.half
  %li
    Districts:
    = project.locations.map(&:name).join(', ')
  %li
    Start:
    = project.start_date
  %li
    End:
    = project.end_date
%ul.half
  %li
    Total Budget:
    = number_to_currency(project.entire_budget, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
  %li
    Total Budget (current FY):
    = number_to_currency(project.budget, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
  %li
    Total Spend (past FY):
    = number_to_currency(project.spend, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
  %li
    Spend Q4 (Previous FY):
    =  number_to_currency(project.spend_q4_prev , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

  %li
    Spend Q1:
    =  number_to_currency(project.spend_q1 , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

  %li
    Spend Q2:
    =  number_to_currency(project.spend_q2 , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

  %li
    Spend Q3:
    =  number_to_currency(project.spend_q3 , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

  %li
    Spend Q4:
    =  number_to_currency(project.spend_q4 , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

