%table.projects
  %thead
    %tr
      %th Projects
      %th Activities
      %th Spend
      %th Budget
  %tbody
    - projects.each do |project|
      %tr.project.entry_header
        %td
          %ul
            %li.name= project.name
            %li.descr= project.description.to_s
            %li.funders
              = "Funders: "
              - FundingFlow.sources_for(project).each do |source|
                = "#{source.from.try(:name)} (#{source.budget}),"
        %td= project.activities.count
        %td= number_to_currency(project.spend, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
        %td= number_to_currency(project.budget, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

      %tr.project.entry_main.s_border
        %td{:colspan => 100}
          = render 'project_summary', :project => project

          = render 'comments', :project => project

          = render 'activities', :project => project
