/ js event: #resources, .funding_sources
#resources.data_responses

  .simple_table
    %h3="Empty Data Responses (#{@empty_data_responses.size})"
    - if @empty_data_responses.empty?
      %p All data responses have been started.
    - else
      %table
        %thead
          %tr
            %th Organization
            %th User Emails
            %th Point of Contact Phone Number
            %th
        %tbody
          - @empty_data_responses.each do |data_response|
            %tr{:id => "row_#{data_response.id}", :class => cycle("even", "odd")}
              %td= data_response.responding_organization
              %td= data_response.responding_organization.user_email_list_limit_3
              %td= data_response.contact_phone_number
              %td
                = link_to "Show", [:admin, data_response]
                = link_to "Delete", delete_admin_data_response_path(data_response), :class => "destroy_btn"
  .simple_table
    %h3="In Process Data Responses (#{@in_progress_data_responses.size})"
    - if @in_progress_data_responses.empty?
      %p No data responses are in progress.
    - else
      %table
        %thead
          %tr
            %th Organization
            %th Projects
            %th Spend Total
            %th Budget Total
            %th Activities
            %th Sub Activities
            %th Spend Total
            %th Budget Total
            %th Unclassified Activities
            %th
        %tbody
          - @in_progress_data_responses.each do |data_response|
            %tr{:id => "row_#{data_response.id}", :class => cycle("even", "odd")}
              %td= data_response.responding_organization
              %td= data_response.projects.count
              %td= n2c data_response.total_project_spend
              %td= n2c data_response.total_project_budget
              %td= data_response.activity_count
              %td= data_response.sub_activity_count
              %td= n2c data_response.total_activity_spend
              %td= n2c data_response.total_activity_budget
              %td= "#{data_response.unclassified_activities_count} / #{data_response.activity_count}"
              %td
                = link_to "Show", [:admin, data_response]
    .simple_table
      %h3="Submitted data responses for review (#{@submitted_data_responses.size})"
      - if @submitted_data_responses.empty?
        %p No submitted data responses are waiting for review.
      - else
        %table
          %thead
            %tr
              %th Organization
              %th Date/time submitted
              %th Total budget
              %th Total spend
              %th
          %tbody
            - @submitted_data_responses.each do |data_response|
              %tr{:id => "row_#{data_response.id}", :class => cycle("even", "odd")}
                %td= data_response.responding_organization
                %td= data_response.submitted_at
                %td
                %td
                %td= link_to "Show", [:admin, data_response]
