%h2= "#{@data_response.data_request.title}: response from #{@data_response.organization.name}"

.simple_table

  %table.projects
    %thead
      %tr
        %th Project
        %th Total Spend
        %th Total Budget
        %th Activities
        %th Sub-Implementers
        %th Activity Spend
        %th Activity Budget
        %th Unclassified Activities
    %tbody
      - @projects.each do |project|
        %tr.project.entry_header
          %td= project.name
          %td= project.spend
          %td= project.budget
          %td= project.activities.count
          %td
          %td
          %td
          %td
        %tr.project.entry_main
          %td{:colspan => 100}
            %dl
              %dt P Descr:
              %dd= project.description
              %dt Districts:
              %dd= project.locations
              %dt Currency:
              %dd= project.currency
              %dt Start:
              %dd= project.start_date
              %dt End:
              %dd= project.end_date

            %table.activities
              %thead
                %tr
                  %th Activity
                  %th Spend
                  %th Budget
                  %th Sub-Implementers
                  %th Org's Assisted
                  %th Comments
              %tbody
                - project.activities.each do |activity|
                  %tr.activity.entry_header
                    %td= activity.name
                    %td= activity.spend
                    %td= activity.budget
                    %td= activity.sub_activities.count
                    %td
                    %td
                  %tr.activity.entry_main
                    %td{:colspan => 100}
                      %dl
                        %dt A Descr:
                        %dd= activity.description
                        %dt Districts:
                        %dd= activity.locations
                        %dt Currency:
                        %dd= activity.currency
                        %dt Start:
                        %dd= activity.start
                        %dt End:
                        %dd= activity.end
                      %table.classifications
                        %thead
                          %tr
                            %th Classification
                            %th Completed?
                        %tbody
                          %tr.classification.entry_header
                            %td Budget by Coding
                            %td
                          %tr
                            %td Budget by District
                            %td
                          %tr
                            %td Budget by Cost Category
                            %td
                          %tr
                            %td Expenditure by Coding
                            %td
                          %tr
                            %td Expenditure by District
                            %td
                          %tr
                            %td Expenditure by Cost Category
