/%h2= "#{@data_response.data_request.title}: response from #{@data_response.organization.name}"
%h2= "Response from #{@data_response.organization.name}"

%p= "Point of Contact: #{@data_response.contact_name} @ #{@data_response.contact_phone_number} or #{@data_response.contact_main_office_phone_number}"
- form_for @data_response do |form|
  %table
    %tbody
      %tr
        %td
          = form.label :currency, "Currency"
        %td
          = form.text_field :currency
      %tr
        %td
          = form.label :fiscal_year_start_date, "Start of Fiscal Year 2008-2009"
        %td
          = form.text_field :fiscal_year_start_date, :class => 'date_picker'
      %tr
        %td
          = form.label :fiscal_year_end_date, "End of Fiscal Year 2008-2009"
        %td
          = form.text_field :fiscal_year_end_date, :class => 'date_picker'
  = submit_tag 'Save'

.simple_table
  = render 'projects', :projects => @projects



