%h2= "#{@data_response.data_request.title}: response from #{@data_response.organization.name}"

.simple_table

  %table.projects
    %thead
      %tr
        %th Project
        %th Total Spend
        %th Total Budget
        %th Activities
        %th Sub-Implementers
        %th Activity Spend
        %th Activity Budget
        %th Unclassified Activities
    %tbody
      - @projects.each do |project|
        %tr.project.entry_header
          %td= project.name
          %td= project.spend
          %td= project.budget
          %td= project.activities.count
          %td
          %td
          %td
          %td
        %tr.project.entry_main
          %td{:colspan => 100}
            %dl
              %dt Descr
              %dd= project.description
              %dt Districts
              %dd= project.locations
              %dt Currency
              %dd= project.currency
              %dt Start
              %dd= project.start_date
              %dt End
              %dd= project.end_date

