- usd_to_rwf = Money.default_bank.get_rate("USD", "RWF")

%table.standard
  %thead
    %tr
      %th Organization
      = render :partial => 'reports/shared/sort_columns'

  %tbody
    - organizations.each do |organization|
      %tr{:class => cycle("even", "odd")}
        %td= link_to organization.name, reports_country_organization_path(organization)

        %td
          %ul
            %li= n2c(organization.spent_sum * usd_to_rwf, 'RWF')
            %li= "(#{n2c(organization.spent_sum, '$')})"
        %td
          %ul
            %li= n2c(organization.budget_sum * usd_to_rwf, 'RWF')
            %li= "(#{n2c(organization.budget_sum, '$')})"