%li.comment_item
  %h4.author.horizontal
    = image_tag comment.user.gravatar
    %span.name= comment.user.name
    %span.time= "#{time_ago_in_words(comment.created_at)} ago"
    - link_to '#', :class => 'js_reply add_row right' do
      = image_tag "icon_reply.png"
      Reply
    %span
      commented on:
      %strong= comment.commentable.name

  %p.comment= comment.comment

  .js_reply_box.comments_input.reply{:style => 'display: none; !important'}
    = render 'comments/reply_form.html.haml', :comment => comment.children.new, :parent => comment


  - if comment.children.present?
    %ul
      = render :partial => 'comments/comment', :collection => comment.children
