%li.comment_item
  %h4.author.horizontal
    = image_tag comment.user.gravatar
    %span.name= "#{comment.user.name} (#{auto_link(comment.user.email)})"
    %span.time= "#{time_ago_in_words(comment.created_at)} ago"
    - link_to '#', :class => 'js_reply add_row right' do
      = image_tag "icon_reply.png"
      Reply

    - if params[:controller] == 'projects' && params[:action] == 'index'
      %span
        commented on:
        - if comment.commentable.is_a?(DataResponse)
          %strong= model_name(comment.commentable)
        - else
          %strong= link_to model_name(comment.commentable), commentable_path(comment, current_user)

  %p.comment= comment.comment

  .js_reply_box.comments_input.reply{:style => 'display: none; !important'}
    = render 'comments/reply_form.html.haml', :comment => comment.children.new, :parent => comment

  - if comment.children.present?
    %ul
      = render :partial => 'comments/comment', :collection => comment.children
