- title("Comments")

%h1.main_heading
  Comments

%table.standard.rounded
  %thead
    %tr
      %th Comment
      %th Comment on
      %th Created at
      %th

  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.comment
        %td= comment.commentable.try(:name) if comment.commentable.respond_to?(:name)
        %td= comment.created_at
        %td
          = link_to "Edit", edit_comment_path(comment)
          = link_to "Delete", comment_path(comment), :method => :delete, :confirm => "Are you sure you want to delete this comment?"

= will_paginate @comments
