- klass = f.object.class.to_s

%ul.section_form.main.first.condensed_fields
  %li#activity_name_input.string.required
    .name
      = f.label :name, "Name"
      %span.required *
      - link_to "#", :title => "A short name for this #{klass}", :class => 'tooltip remaining_characters' do
        =image_tag"tooltip.png"
    = f.text_field :name, :size => "80", "data-maxlength" => "#{Activity::MAX_NAME_LENGTH}"

  %li#activity_project_id_input.select.required
    .name
      = f.label :project_id, "Project"
      - link_to "#", :title => "The Project which this #{klass} belongs to", :class => 'tooltip' do
        =image_tag"tooltip.png"
    = f.select :project_id, sorted_project_select(@response, klass), {}, :class => f.object.errors.on(:project_id) ? "error" : ""
  %li.select.required
    .name
      = f.label :currency, "Currency"
      - link_to "#", :title => "The default (Organization) currency or the Project currency, if selected", :class => 'tooltip' do
        = image_tag "tooltip.png"
    %span.noedit= f.object.currency.nil? ? @response.currency : f.object.currency

  //hack
  %br
  %li#activity_description_input.text
    .name
      = f.label :description, "Description"
      - link_to "#", :title => "A general 1-2 sentence description of the purpose of the #{klass}.", :class => 'tooltip' do
        =image_tag"tooltip.png"
    = f.text_area :description, :rows => 1, :class => f.object.errors.on(:description) ? "error" : ""
