-# auto included by link_to_add_fields()

- error_class = ""
- error_class = "error" unless f.object.errors.empty?

%tr.fields{:class => error_class}
  %td.title
    = f.hidden_field :data_response_id, :value => @response.id
    .js_implementer_container.ui_widget
      - # this can be a perf issue
      = f.select :organization_mask, funding_organizations_select, {:prompt => true}, :class => 'name js_implementer_select js_combobox f_from'

  %td= f.text_field :spend, :class => 'js_spend no_style'
  %td= f.text_field :budget, :class => 'js_budget no_style'
  %td.delete= link_to_remove_fields "x", f, {:class => 'delete_button totals_callback', :callback => 'updateTotalsValuesCallback'}
