- klass = f.object.class.to_s

= render 'shared/outlays/sub_activities_import_export', :outlay => outlay

%ul.wrapped.last
  %table.input_table
    %thead
      %tr
        %th.title
          Implementer
          %span
            - link_to "#", :title => "Direct implementer ('service provider') for this #{klass}. i.e. your own organization or another organization that carried out this work e.g. a NGO, a Health Facility Institution, Government office, or a District.", :class => 'tooltip' do
              = image_tag "tooltip.png"
        %th
          .right_justified Past Expenditure
        %th
          .right_justified Current Budget
        %th.delete
    %tbody
      - f.semantic_fields_for :implementer_splits do |sa|
        = render "shared/outlays/sub_activity_row", :f => sa
      - blank_rows.times do
        - f.object.implementer_splits.build unless f.object.implementer_splits.length > 0
        - new_object = f.object.class.reflect_on_association(:implementer_splits).klass.new
        - f.fields_for(:implementer_splits, new_object) do |builder|
          = render "shared/outlays/implementer_split_fields", :f => builder

      %tr
        %td
          -if show_buttons
            %span= link_to_add_fields "Add Implementer", f, :implementer_splits, "shared/outlays/", :class => "create_alt marginless"
            %span
              - unless outlay.new_record?
                - link_to "#", :id => "import_implementers", :class => "create_alt js_upload_btn overlay sub_impl_imp_exp", :rel => "#sub_activities_upload_box" do
                  = image_tag "icon_import_export.png"
                  Import / Export

        %td
          %p.total.js_total_spend
            %span.label.left Total
            %span.amount.right= number_with_precision(outlay.implementer_splits_total(:spend), :precision => 2)
            %span.currency.right= outlay.currency
        %td
          %p.total.js_total_budget
            %span.label.left Total
            %span.amount.right= number_with_precision(outlay.implementer_splits_total(:budget), :precision => 2)
            %span.currency.right= outlay.currency
