%tr.js_funder_row
  %td.desc{:colspan => 2}= funder.from.try(:name)
  %td= text_field_tag :"funders[#{funder.id}]spend", funder.spend, :class => 'js_spend_column_amount'
  %td= text_field_tag :"funders[#{funder.id}]budget", funder.budget, :class => 'js_budget_column_amount'