:javascript
  var _response_id = "#{@response.id}";
  var _type        = "#{params[:id]}";
- content_for :sub_nav do
  = render 'shared/sub_nav_projects'

%h1.main_heading Funders

= render 'getting_started'

- form_tag response_funder_path(@response, :current), :method => :put, :id => 'js_funders_form' do
  %table.workplan
    %thead
      %tr
        %th.no-bg{:colspan => 4}
        %th.no-padding{:colspan => 100}
          %ul.tabs
            %li= link_to 'Yearly', response_funders_path(@response), :class => 'active'
            %li= link_to 'Quarterly', response_funders_path(@response)
      %tr.head
        %th{:colspan => 3}
        %th.amount= current_fy(@response)
        %th.amount= next_fy(@response)
      %tr.head
        %th Project
        %th{:colspan => 2} Funder
        %th.amount= "Funds Received #{link_to '[?]', '#', :title => "The portion of your expenditure which came from each funder in the past fiscal year", :class => "tooltip"}"
        %th.amount= "Expected Funding #{link_to '[?]', '#', :title => "The portion of your current budget which will come from each funder in the current fiscal year", :class => "tooltip"}"
    %tbody
      - @projects.each do |project|
        = render 'project_row', :project => project

      %tr.filler.js_projects_total_row
        %td{:colspan => 2}
        %td.total Total
        %td.total_amount
          %span.js_projects_total_spend_amount= @response.funders_total_spend(false)
          %span.currency= @response.currency
        %td.total_amount
          %span.js_projects_total_budget_amount= @response.funders_total_budget(false)
          %span.currency= @response.currency
      %tr
        %td.borderless{:colspan => 8}
          = submit_tag "Save & Next >", :style => (@projects.detect{|p| p.response.funding_flows.present? } ? nil : 'display: none;'), :class => 'save_btn right'
          = submit_tag :Save, :style => (@projects.detect{|p| p.response.funding_flows.present? } ? nil : 'display: none;'), :class => 'save_btn right'

- if @projects.empty?
  %p.centered.attention
    You have not added any projects.
    = link_to "Add them now.", response_workplans_path(@response)
