%h1.main_heading Main Dashboard

%h2 Policy Maker Dashboard
%ul.policy_maker_dashboard.link_list
  %li= link_to "Review data responses", policy_maker_data_responses_path

%h2 Admin Dashboard
%ul.admin_dashboard.link_list
  %li=  link_to "Manage help and page comments", model_helps_url
  %li=  link_to "Manage activities", activities_url
  %li=  link_to "Manage comments", comments_url
  %li=  link_to "Manage codes", codes_url
  %li=  link_to "Respond to help requests", help_requests_url

%h2 Recent Comments
= render 'reporter/dashboard/comment_short_list', :comments => @comments

