%h2 Admin Dashboard
%ul
  %li=  link_to "Manage help and page comments", model_helps_url
  %li=  link_to "Manage Organizations", organizations_url
  %li=  link_to "Manage Activities", activities_url
  %li=  link_to "Manage users", users_url
  %li=  link_to "Manage comments", comments_url
  %li=  link_to "Manage codes", codes_url
  %li=  link_to "Respond to help requests", help_requests_url
  %li=  link_to "Review submitted data responses", admin_data_responses_path

%h2 Reports
%ul
  %li=  link_to "Activities By District", activities_by_district_path
  %li=  link_to "Activities By District with Sub-Activities", activities_by_district_sub_activities_path
  %li=  link_to "Activities By Budget Coding (beta)", activities_by_budget_coding_path
  %li=  link_to "Activities By Budget Cost Categorization (beta)", activities_by_budget_cost_cat_path
  %li=  link_to "Activities By Expenditure Coding (beta)", activities_by_expenditure_coding_path
  %li=  link_to "Activities By Expenditure Cost Categorization (beta)", activities_by_expenditure_cost_cat_path
  %li=  link_to "Activities Report NEW", activity_report_path
  %li=  link_to "Activities by District NEW", activities_by_district_new_path
  %li=  link_to "Activities by Budget Coding NEW", activities_by_budget_coding_new_path
  %li=  link_to "Activities - One Row Per District Coded in Classifications + District Classifications Summary per Activity", activities_by_district_row_report_path
  %li=  link_to "Users By Organization", users_by_organization_path

%h2 Recent Comments
= render 'shared/comment_short_list', :comments => @comments
.read_more= link_to "all comments", comments_path
