%h2 Policy Maker Dashboard
%ul.policy_maker_dashboard
  %li= link_to "Review data responses", policy_maker_data_responses_path

%h2 Admin Dashboard
%ul.admin_dashboard
  %li=  link_to "Review data responses", admin_data_responses_path
  %li=  link_to "Manage help and page comments", model_helps_url
  %li=  link_to "Manage organizations", organizations_url
  %li=  link_to "Manage activities", activities_url
  %li=  link_to "Manage users", users_url
  %li=  link_to "Manage comments", comments_url
  %li=  link_to "Manage codes", codes_url
  %li=  link_to "Respond to help requests", help_requests_url

%h2 Reports
%ul.admin_reports
  %li=  link_to "Activities Report", activity_report_path
  %li=  link_to "Activities by District", activities_by_district_new_path
  %li=  link_to "Activities - One Row Per District Coded in Classifications + District Classifications Summary per Activity", activities_by_district_row_report_path
  %li=  link_to "Activities By Budget Coding (beta)", activities_by_budget_coding_path
  %li=  link_to "Activities By Budget Cost Categorization (beta)", activities_by_budget_cost_cat_path
  %li=  link_to "Activities By Budget Districts (beta)", activities_by_budget_districts_path
  %li=  link_to "Activities By Expenditure Coding (beta)", activities_by_expenditure_coding_path
  %li=  link_to "Activities By Expenditure Cost Categorization (beta)", activities_by_expenditure_cost_cat_path
  %li=  link_to "Activities By Expenditure Districts (beta)", activities_by_expenditure_districts_path
  %li=  link_to "Map Districts by Partner Budget", map_districts_by_partner_url( :type => "CodingBudgetDistrict")
  %li=  link_to "Map Districts by Partner Spend", map_districts_by_partner_url( :type => "CodingSpendDistrict")
  %li=  link_to "Users By Organization", users_by_organization_path

%h2 Recent Comments
= render 'reporter/dashboard/comment_short_list', :comments => @comments

