%h1.main_heading Admin Dashboard

.first-half
  %h2
    =image_tag"icon_reporter.png", :class => "heading_icon"
    Latest Requests
  .dashboard_section
    %ul.admin_dashboard
      = render :partial => 'request', :collection => @requests
    .view-all
      =link_to "view all", admin_requests_path

.second-half

  %h2
    = image_tag "icon_lightning.png", :class => "heading_icon"
    Reports
  .dashboard_section
    %ul.admin_reports
      %li
        - link_to admin_responses_path, :class => "drill_down target" do
          Review Organization Expenditures and Current Budgets
          %span.hint Interactive reports
      %li
        - link_to reports_districts_path, :class => "drill_down target" do
          = "Review District Expenditures and Current Budgets [#{current_user.current_request.title}]"
          %span.hint Interactive reports
      %li
        - link_to reports_country_path, :class => "drill_down target" do
          = "Review National Expenditures and Current Budgets [#{current_user.current_request.title}]"
          %span.hint Interactive reports
      %li
        - link_to admin_reports_path, :class => "drill_down target" do
          All Reports
          %span.hint Export a report in CSV

= render 'shared/comments/comment_short_list', :comments => @comments
