%h2= "Data request: #{@data_request.title}"
%table
  %tr
    %td Title:
    %td= @data_request.title
  %tr
    %td Organization:
    %td= @data_request.organization.try(:name)
  %tr
    %td Complete:
    %td= @data_request.complete
  %tr
    %td Pending review:
    %td= @data_request.pending_review


= link_to 'Edit', edit_admin_data_request_path(@data_request)
= link_to "Delete", admin_data_request_path(@data_request), :method => :delete, :confirm => "Are you sure?"
