.form_aside
- f.inputs :class => 'wrap-80 inputs' do
  %li.last
    %h3 Code details
    %ul.dashboard_section
      = f.input :type_string, :collection => ['ActivityCostCategory', 'Beneficiary', 'Code', 'CostCategory', 'Location', 'Mtef', 'Nasa', 'Nha', 'Nsp', 'OtherCostCode', 'OtherCostType'], :as => :select, :label => 'Type', :required => false, :hint => "Type of code"
      = f.input :parent, :collection => Code.all, :as => :select, :required => false, :hint => "The code this one falls underneath"
      = f.input :short_display, :required => false, :hint => "Short text detailing the code"
      = f.input :long_display, :required => false, :hint => "Text detailing the code"
      = f.input :description, :required => false, :hint => "Text detailing the specifics of this code"
      = f.input :official_name, :required => false, :hint => "The name officially used for this code"
      = f.input :hssp2_stratprog_val, :required => false, :hint => "The strategic program this code should be included under."
      = f.input :hssp2_stratobj_val, :required => false, :hint => "The strategic objective this code should be included under."
      = f.input :sub_account, :required => false, :hint => "What this code pertains to"
      = f.input :nasa_code, :required => false, :hint => "The corresponding NASA code"
      = f.input :nha_code, :required => false, :hint => "The corresponding NHA code"

- f.buttons :class => 'wrap-80 buttons' do
  = f.commit_button @code.new_record? ? "Create New Code" : "Update Code", :class => "last"

