- f.inputs :class => 'wrap-80 inputs' do
  %li.last
    %h3 Code details
    %ul.dashboard_section
      = f.input :type_string, :collection => ['ActivityCostCategory', 'Beneficiary', 'Code', 'CostCategory', 'Location', 'Mtef', 'Nasa', 'Nha', 'Nsp', 'OtherCostCode', 'OtherCostType'], :as => :select, :label => 'Type', :required => false, :hint => "Type of code"
      = f.input :parent, :collection => Code.all.collect{|c| ["#{c.to_s} #{c.context}", c.id]}.sort_by{ |a,b| a.to_s.downcase }, :as => :select, :required => false, :hint => "The code this one falls underneath"
      = f.input :code_level, :collection => Code.all.map(&:code_level).uniq, :as => :select, :required => false, :hint => "The code level corresponding to the NHA code"
      = f.input :child_health, :required => false, :label => "Child health?", :hint => "Is this code related to Child Health?"
      = f.input :short_display, :required => false, :hint => "Short text detailing the code"
      = f.input :long_display, :required => false, :hint => "Text detailing the code"
      = f.input :description, :required => false, :hint => "Text detailing the specifics of this code"
      = f.input :official_name, :required => false, :hint => "The name officially used for this code"
      = f.input :hssp2_stratprog_val, :required => false, :hint => "The strategic program this code should be included under."
      = f.input :hssp2_stratobj_val, :required => false, :hint => "The strategic objective this code should be included under."
      = f.input :sub_account, :required => false, :hint => "What this code pertains to"
      = f.input :nasa_code, :required => false, :hint => "The corresponding NASA code"
      = f.input :nha_code, :required => false, :hint => "The corresponding NHA code"

- f.buttons :class => 'wrap-80 buttons' do
  = f.commit_button @code.new_record? ? "Create New Code" : "Update Code", :class => "last"

.wrap-80
  - unless @code.new_record?
    .delete_section
      = link_to "Delete this Code", admin_code_path(@code), :confirm => "Are you sure you want to delete this Code?", :method => :delete, :class => 'delete_action'
      %p
        %strong Warning:
        Once you delete a Code, you will lose all data associated with it, and there is no undo.
