- title(@code.short_display)

%h1.main_heading
  = @code.short_display

  %span
    %ul.manage_bar.inline
      %li= link_to "Edit", edit_admin_code_path(@code)
      %li= link_to "X", admin_code_path(@code), :confirm => "Are you sure you want to delete this code?", :method => :delete

.wrap-70
  %h3.form_heading Code details
  %ul.dashboard_section
    %li
      %ul.row
        %li Type
        %li= @code.type
      %ul.row
        %li Short display
        %li= @code.short_display
      %ul.row
        %li Long display
        %li= @code.long_display
      %ul.row
        %li Code level
        %li= @code.code_level
      %ul.row
        %li Child health?
        %li= @code.child_health
      %ul.row
        %li Description
        %li= @code.description
      %ul.row
        %li Official name
        %li= @code.official_name
      %ul.row
        %li HSSP2 strat prog
        %li= @code.hssp2_stratprog_val
      %ul.row
        %li HSSP2 strat obj
        %li= @code.hssp2_stratobj_val
      %ul.row
        %li Sub account
        %li= @code.sub_account
      %ul.row
        %li Nasa code
        %li= @code.nasa_code
      %ul.row
        %li Nha code
        %li= @code.nha_code
