- form_for @user do |form|
  = form.error_messages
  %table.formList{:border => "0", :cellpadding => "2", :cellspacing => "2", :style => "text-align: left; width: 20%;"}
    %tbody
      %tr
        %td
          = form.label :username, "Username"
        %td
          = form.text_field :username
      %tr
        %td
          = form.label :email, "Email"
        %td
          = form.text_field :email
      %tr
        %td
          = form.label :password, "Password"
        %td
          = form.password_field :password
      %tr
        %td
          = form.label :password_confirmation, "Password confirmation"
        %td
          = form.password_field :password_confirmation
      %tr
        %td
          = form.label :roles, "Roles"
        %td
          = form.select :roles, User.ROLES
      %tr
        %td
          \&nbsp;
        %td{:align => "center", :style => "vertical-align: top;"}
          = form.submit "Submit"
