:javascript
  var _purpose_row = "#{js_safe(escape_javascript(@purpose_row))}"

- content_for :sub_nav do
  = render 'shared/sub_nav_projects'

%h1.main_heading Future Budgets

- form_tag long_term_budget_path(@long_term_budget.year), :method => :put do
  %table.standard.long_term_budget
    %thead
      %tr.head
        %th.desc Health Function
        %th.amount= "FY #{@long_term_budget.year + 1}-#{@long_term_budget.year + 2}"
        %th.amount= "FY #{@long_term_budget.year + 2}-#{@long_term_budget.year + 3}"
        %th.amount= "FY #{@long_term_budget.year + 3}-#{@long_term_budget.year + 4}"
        %th.amount= "FY #{@long_term_budget.year + 4}-#{@long_term_budget.year + 5}"
        %th.action
    %tbody
      - @long_term_budget_by_purposes.each_pair do |purpose, budget_entries|
        = render 'purpose_row', :purpose => purpose, :budget_entries => budget_entries

      %tr.js_activity_total_row
        %td{:colspan => 100}
          - link_to "#", :class => "js_add_purpose add_row" do
            = image_tag "new.png"
            == Add
      %tr
        %td.borderless{:colspan => 100}
          = submit_tag "Save", :class => 'save_btn right'



%ul#purpose_menu.mcdropdown_menu
  - @codes.sort_by(&:short_display).each do |code|
    = render 'shared/code_row', :code => code, :level => 1
