%table#activity_description
  %tr
    %td.title Organization:
    %td= @activity.organization.name
  %tr
    %td.title Activity:
    %td
      = @activity.name.blank? ? "(name n/a)" : @activity.name
      %span= link_to "Edit this Activity", edit_activity_path(@activity)
  %tr
    %td.title Description:
    %td= @activity.description
  %tr
    %td.title Total Budget for FY 10-11:
    %td= @activity.budget.blank? ? "(budget was not entered)" : @activity.budget
  %tr
    %td.title Total Spend for FY 09-10:
    %td= @activity.spend.blank? ? "(spend was not entered)" : @activity.spend
  %tr
    %td.title= label_tag " ", "Use budget codings for Expenditure?"
    %td= check_box_tag 'use_budget_codings_for_spend', true, @activity.use_budget_codings_for_spend

  - if can? :approve, @activity
    %tr
      %td.title= label_tag "Approved?"
      %td= check_box_tag 'approve_activity', true, @activity.approved
