%table#activity_description

  = render  '/code_assignments/progress_bar', :activity => activity
  %tr
    %td.title Implementer:
    %td= @activity.implementer.nil? ? "(no implementer selected)" : @activity.implementer.name
  %tr
    %td.title Activity:
    %td
      = @activity.name.blank? ? "(name was not entered)" : @activity.name
      %span= link_to "Edit this Activity", edit_activity_path(@activity)
  %tr
    %td.title Description:
    %td= @activity.description
  %tr
    %td.title Total Spent for GOR FY 09-10:
    %td= @activity.spend.blank? ? "(expenditure was not entered)" : n2c(@activity.spend)
  %tr
    %td.title Total Budget for GOR FY 10-11:
    %td= @activity.budget.blank? ? "(budget was not entered)" : n2c(@activity.budget)

  - if can? :approve, @activity
    %tr
      %td.title= label_tag :approve_activity, "Approved?"
      %td= check_box_tag :approve_activity, true, @activity.approved, :class => "approve_activity", :"data-id" => @activity.id, :"data-response_id" => @activity.data_response.id
