- content_for :head do
  :javascript
    jQuery(document).ready(function(){
      jQuery('#approve_activity').bind('click', function() {
        jQuery.post( "/activities/#{@activity.id}/approve",
                     { checked : jQuery('#approve_activity').is(':checked') }
                   );
      })
    });

%table#activity_description
  %tr
    %td.title Organization:
    %td= @activity.organization.name
  %tr
    %td.title Name:
    %td= @activity.name
  %tr
    %td.title Total Budget for FY 10-11:
    %td= @activity.budget
  %tr
    %td.title Total Expenditures for FY 09-10:
    %td= @activity.spend
  - if can? :approve, @activity
    %tr
      %td.title
        = label_tag "Approved?"
        = check_box_tag 'approve_activity', true, @activity.approved