%li
  = check_box_tag "activity[code_assignment_tree][]", code.id, @activity.codes.include?(code)
  - assignment = @activity.code_assignments.find_by_code_id(code.id)
  - amount = assignment.nil? ? "" : assignment.amount
  = text_field_tag "activity[code_assignment_amounts][#{code.id}]", amount, :size => 8
  = link_to "?", "#", :title => code.long_display, :class => "tooltip"
  = "#{code.short_display}"

  - unless code.children.empty?
    %ul{:id => code.external_id}
      - code.children.each do |child|
        = render :partial => 'code_row', :locals => {:code => child}