- updater_field = 'updates' # @coding_type + '_updates'
- assignment = @current_assignments[code.id] if @current_assignments.has_key?(code.id)
- amount     = assignment.nil? ? "" : assignment.amount
- percentage = assignment.nil? ? "" : assignment.percentage
- cached_amount = assignment.nil? ? "" : assignment.cached_amount

%li
  = check_box_tag "activity[code_assignment_tree][]", code.id, @current_assignments.has_key?(code.id)
  = text_field_tag "activity[#{updater_field}][#{code.id}][amount]", n2c(amount), :size => 8
  .greyed or
  = text_field_tag "activity[#{updater_field}][#{code.id}][percentage]", h(percentage), :size => 3
  = label_tag "activity[#{updater_field}][#{code.id}][percentage]", "%"

  = text_field_tag "activity[#{updater_field}][#{code.id}][cached_amount]", n2c(cached_amount), :size => 8, :disabled => true, :id => nil
  = label_tag "activity[#{updater_field}][#{code.id}][amount]", "#{code.short_display}"
  = link_to "?", "#", :title => code.description, :class => "tooltip" if code.description


  - unless code.leaf?
    %ul{:id => code.external_id}
      - code.children.each do |child|
        = render '/code_assignments/code_row', :code => child, :tab => tab
