%div{:class => tab}
  - form_for activity, :url => update_path, :method => :post, :html => {:id => ''} do |form|
    %ul.districts
      - @districts.each do |district|
        %li
          = text_field_tag "activity[budget_district][#{district.id}]", "", :size => 3 #h(number_to_percentage(district.percentage))
          = label_tag "activity[budget_district][#{district.id}]", "%"

          = district.short_display
    = submit_tag 'Save'

  = render 'shared/data_entry_help', :record_type => CodeAssignment
