- other_costs = false unless other_costs

// old tab styles
//%ul.group.small_tabs

%ul.ordered_sub_nav
  - if params[:controller] == 'activities' || get_coding_type(coding_type) == :budget
    %li
      %p Current Budget:
    - if @response.request.purposes?
      %li{:class => tab_class(activity, coding_type, 'CodingBudget')}
        = link_to "1. Purposes", activity_code_assignments_path(activity, :coding_type => 'CodingBudget')

    - unless other_costs
      - if @response.request.locations?
        %li{:class => tab_class(activity, coding_type, 'CodingBudgetDistrict')}
          = link_to "2. Locations", activity_code_assignments_path(activity, :coding_type => 'CodingBudgetDistrict')
    - if @response.request.inputs?
      %li{:class => tab_class(activity, coding_type, 'CodingBudgetCostCategorization')}
        = link_to "3. Inputs", activity_code_assignments_path(activity, :coding_type => 'CodingBudgetCostCategorization')
    - if @response.request.service_levels?
      %li{:class => tab_class(activity, coding_type, 'ServiceLevelBudget')}
        = link_to "4. Service Levels", activity_code_assignments_path(activity, :coding_type => 'ServiceLevelBudget')

  - if params[:controller] == 'activities' || get_coding_type(coding_type) == :spend
    %li
      %p Expenditure:
    - if @response.request.purposes?
      %li{:class => tab_class(activity, coding_type, 'CodingSpend')}
        = link_to "1. Purposes", activity_code_assignments_path(activity, :coding_type => 'CodingSpend')

    - unless other_costs
      - if @response.request.locations?
        %li{:class => tab_class(activity, coding_type, 'CodingSpendDistrict')}
          = link_to "2. Locations", activity_code_assignments_path(activity, :coding_type => 'CodingSpendDistrict')
    - if @response.request.inputs?
      %li{:class => tab_class(activity, coding_type, 'CodingSpendCostCategorization')}
        = link_to "3. Inputs", activity_code_assignments_path(activity, :coding_type => 'CodingSpendCostCategorization')
    - if @response.request.service_levels?
      %li{:class => tab_class(activity, coding_type, 'ServiceLevelSpend')}
        = link_to "4. Service Levels", activity_code_assignments_path(activity, :coding_type => 'ServiceLevelSpend')
