- other_costs = false unless other_costs

%ul.inline_tab
  %li Budget:

  - style = CodingBudget.classified(activity) ? 'selected' : 'selected incomplete'
  %li{:id => 'tab1', :class => style }= link_to "Coding", "#"

  - unless other_costs
    - style = CodingBudgetDistrict.classified(activity) ? '' : 'incomplete'
    %li{:id => 'tab2', :class => style}= link_to "District", "#"

  - style = CodingBudgetCostCategorization.classified(activity) ? '' : 'incomplete'
  %li{:id => 'tab3', :class => style}=   link_to "Cost Categorization", "#"

  %li Expenditure:

  - style = CodingSpend.classified(activity) ? '' : 'incomplete'
  %li{:id => 'tab4', :class => style}=   link_to "Coding", "#"

  - unless other_costs
    - style = CodingSpendDistrict.classified(activity) ? '' : 'incomplete'
    %li{:id => 'tab5', :class => style}= link_to "District", "#"

  - style = CodingSpendCostCategorization.classified(activity) ? '' : 'incomplete'
  %li{:id => 'tab6', :class => style}=   link_to "Cost Categorization", "#"