.upload
  %ul.horizontal
    - if @activity.sub_activities.present? && ['CodingBudgetDistrict', 'CodingSpendDistrict'].include?(@coding_type)
      %li
        - link_to derive_classifications_from_sub_implementers_activity_code_assignments_path(@activity, :coding_type => @coding_type), :method => :put, :confirm => "This will overwrite ALL current classifications for the #{friendly_name_for_coding_copy(@coding_type)} tab. This operation cannot be undone. Are you sure?", :title => "Use #{spend_or_budget(@coding_type)} classifications derived from implementers", :class => "create_new" do
          Derive classifications


    - if Activity::BUDGET_CODING_CLASSES.include?(@coding_type)
      %li
        - link_to copy_budget_to_spend_activity_code_assignments_path(@activity, :coding_type => @coding_type), :method => :put, :confirm => "This will overwrite ALL the Expenditure classifications for the #{friendly_name_for_coding_copy(@coding_type)} tab. This operation cannot be undone. Are you sure?", :title => "Click here to copy the Current Budget splits below to the Expenditure #{friendly_name_for_coding_copy(@coding_type)} tab", :class => "create_new" do
          Copy Current Budget to Past Expenditure


    %li
      - link_to "#", :class => "create_new upload_btn" do
        = image_tag "new.png"
        Upload

  .upload_box
    %h3.title_bar Upload a CSV file for Classifications
    .dashboard_section
      %p Create one or more classifications from a CSV file. You can save an Excel spreadsheet as a CSV file through File -> Save As, then select comma separated values (CSV) in the file format box under the file name.
      %br
      - form_tag(bulk_create_activity_code_assignments_path(@activity), :multipart => true, :method => 'put') do
        .upbox
          = hidden_field_tag :coding_type, @coding_type
          = label_tag :file, "File"
          = file_field_tag :file
        = submit_tag "Upload", :class => 'small_submit_button'

        = link_to "Download template", download_template_activity_code_assignments_path(@activity, :coding_type => @coding_type), :class => "create_alt right"


- if @error_message
  .flashes.push
    .error= @error_message

- unless @codes.empty?
  - form_for @activity, :url => activity_code_assignments_path(@activity, :coding_type => @coding_type, :view => params[:view]), :method => :put, :html => {:id => ''} do |form|

    %p#expl
      %span Amount (#{@activity.currency} or %)
      %span Subtotal
    %ul.buttons.left
      %li= link_to 'All data', activity_code_assignments_path(@activity, :coding_type => @coding_type, :view => 'all'), :class => (params[:view] == 'all' ? 'active' : nil)
      %li= link_to 'My data', activity_code_assignments_path(@activity, :coding_type => @coding_type, :view => 'my'), :class => (params[:view] == 'my' ? 'active' : nil)
    %ul.activity_tree
      - if params[:view] == 'my'
        - @coding_tree.roots.each do |node|
          = render 'node_row', { :node => node, :form => form, :tab => tab, :level => 1 }
      - else
        - @codes.each do |code|
          = render 'code_row', { :code => code, :form => form, :tab => tab, :level => 1 }
    = submit_tag 'Save', :class => 'submit_btn js_submit_btn next big'
    = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => 'display: none;'
