:javascript
  var _activity_id = "#{@activity.id}";

- content_for :sub_nav do
  = render :partial => 'layouts/sub_nav'

.nav2
  %h2= "Activity Classification"
  %ul
    %li{:id => 'tab1', :class => 'selected'}
      = link_to "Budget", "#"
    %li{:id => 'tab2'}
      = link_to "Budget by District", "#"
    %li{:id => 'tab3'}
      = link_to "Budget Cost Categorization", "#"
    %li{:id => 'tab4'}
      = link_to "Expenditure", "#"
    %li{:id => 'tab5'}
      = link_to "Expenditure Cost Categorization", "#"

= render :partial => 'code_assignments/activity_description'

#activity_classification
  = render 'tab', { :update_path => activity_update_coding_budget_path(@activity.id), :activity => @activity, :codes => @codes, :tab => 'tab1' }
