- content_for :head do
  :javascript
    jQuery(document).ready(function(){
      jQuery('ul#activity_tree').collapsibleCheckboxTree();
      jQuery('.tooltip').tipsy({gravity: 'e'});

    });

%br

%h2
  = "Activity Classification" #TODO add record type in front nicely

#activity_description
  - [:name, :expected_total, :description].each do |f|
    %p
      = "#{f.to_s.humanize.capitalize}: #{@activity.send(f)}" #TODO currency symbol from data request

#activity_classification
  - form_for @activity, :url => update_code_assignments_path, :method => :post do |form|

    -# Take this out later
    = hidden_field_tag :activity_id, @activity.id

    %ul#activity_tree
      - @activity.valid_roots_for_code_assignment.each  do |code|
        = render :partial => 'code_row', :locals => {:code => code, :form => form}
    = submit_tag 'Save'

  = render :partial => 'shared/data_entry_help' , :locals => {:record_type => CodeAssignment}
