:javascript
  var _activity_id = "#{@activity.id}";

- type = 'Spend'
- if @coding_type =~ /Budget/
  - type = 'Budget'

= render 'breadcrumb', :response => @response, :activity => @activity, :type => type


%h1.main_heading
  = "#{@activity.class.to_s.underscore.humanize.titleize} #{type}"

.main_heading
  = render 'help'

= render 'activities/tab_nav', :activity => @activity

#classification
  %ul#activity_description.status

    %li
      %span= "#{type} Amount:"
      = c(@activity.send(get_coding_type(@coding_type)), @activity.currency)

    = render  '/code_assignments/progress_bar', :activity => @activity

    - if current_user.admin? || current_user.activity_manager?
      %li
        %span= label_tag :approve_activity, "Approved?"
        = check_box_tag :approve_activity, true, @activity.approved, :class => "approve_activity", :"data-id" => @activity.id, :"data-response_id" => @activity.data_response.id


  .upload
    - link_to "#", :class => "create_new upload_btn" do
      = image_tag "new.png"
      Upload

    .upload_box
      %h3.title_bar Upload a CSV file for Classifications
      .dashboard_section
        %p Create one or more classifications from a CSV file. You can save an Excel spreadsheet as a CSV file through File -> Save As, then select comma separated values (CSV) in the file format box under the file name.
        %br
        - form_tag(bulk_create_activity_code_assignments_path(@activity), :multipart => true, :method => 'put') do
          .upbox
            = hidden_field_tag :coding_type, @coding_type
            = label_tag :file, "File"
            = file_field_tag :file
          = submit_tag "Upload", :class => 'small_submit_button'

          = link_to "Download template", download_template_activity_code_assignments_path(@activity, :coding_type => @coding_type), :class => "create_alt right"



  = render 'tab_nav', :activity => @activity, :coding_type => @coding_type

  #activity_classification
    %div.tab1{:style => 'display: block'}
      = render 'tab'
