:javascript
  var _activity_id = "#{@activity.id}";

- type = 'Spend'
- if @coding_type =~ /Budget/
  - type = 'Budget'

= render 'breadcrumb', :response => @response, :activity => @activity, :type => type


%h1.main_heading

  = link_to @activity.name || "(no name)", response_activity_path(@response, @activity), :title => @activity.description, :class => 'tooltip'
  %span.sub
    = "#{@activity.class.to_s.underscore.humanize.titleize} #{get_activity_type(type)}"
    = render 'help'

= render 'getting_started'
= render 'activities/tab_nav', :activity => @activity
= render 'tab_nav', :activity => @activity, :coding_type => @coding_type
#classification
  %ul#activity_description.status{:class => (@classified ? 'go' : 'stop')}

    %li
      %span= "#{get_activity_type(type)} Amount:"
      = c(@activity.send(get_coding_type(@coding_type)), @activity.currency)

    = render  '/code_assignments/progress_bar', :activity => @activity

    - if current_user.admin? || current_user.activity_manager?
      %li
        %span= label_tag :approve_activity, "Approved?"
        = check_box_tag :approve_activity, true, @activity.approved, :class => "approve_activity", :"data-id" => @activity.id, :"data-response_id" => @activity.data_response.id



  #activity_classification
    %div.tab1{:style => 'display: block'}
      = render 'tab'
