:javascript
  var _activity_id = "#{@activity.id}";

- content_for :sub_nav do
  = render :partial => 'layouts/sub_nav'

#classification

  = render '/shared/page_help'

  .nav2
    %h2= "Activity Classification"
    = render 'tab_nav', :activity => @activity

  = render 'code_assignments/activity_description', :activity => @activity

  #activity_classification
    %div.tab1
      = render 'tab', { :coding_type => @coding_type, :activity => @activity, :codes => @codes, :tab => 'tab1' }
    %div.tab2
    %div.tab3
    %div.tab4
    %div.tab5
    %div.tab6
