:javascript
  var _activity_id = "#{@activity.id}";

= render 'breadcrumb', :response => @data_response, :activity => @activity

- type = 'Spend'
- type = 'Budget' if @coding_type == "CodingBudget"

%h1.main_heading= "Activity #{type}"

= render 'help'

= render 'activities/tab_nav', :activity => @activity

#classification
  .nav2
    = render 'tab_nav', :activity => @activity

  = render 'code_assignments/activity_description', :activity => @activity

  #activity_classification
    %div.tab1{:style => 'display: block'}
      = render 'tab'
