- if @response.request.budget_by_quarter?
  %li.amounts.js_row
    %label Quarterly budget
    %ul.js_quarterly_fields.js_budget_quarters
      - if @response.organization.usg?
        = f.input :budget_q4_prev, :label => "#{@response.quarter_label(:budget, 'q4_prev')}", :required => false, :input_html => { :class => 'js_fy_quarter' }
      = f.input :budget_q1, :label => "#{@response.quarter_label(:budget, 'q1')}", :required => false, :input_html => { :class => 'js_fy_quarter' }
      = f.input :budget_q2, :label => "#{@response.quarter_label(:budget, 'q2')}", :required => false, :input_html => { :class => 'js_fy_quarter' }
      = f.input :budget_q3, :label => "#{@response.quarter_label(:budget, 'q3')}", :required => false, :input_html => { :class => 'js_fy_quarter' }
      = f.input :budget_q4, :label => "#{@response.quarter_label(:budget, 'q4')}", :required => false, :input_html => { :class => 'js_fy_quarter' }

