.full_width
  %h3 Add comment
  = render 'comments/form', :comment => @comment
  %ul
    - comments.each do |comment|
      %li.comment_wrap
        .author
          = image_tag comment.user.gravatar
          = "#{comment.user.try(:name)}"
          = "#{time_ago_in_words(comment.created_at)} ago"
        .comment= comment.comment
        .reply= link_to 'Reply', '#'
