%ul
- comments.each do |comment|
  - model = comment.commentable
  - type = comment.commentable_type
  %li
    %span.title= "\"#{comment.title.first(30)}\""
    on
    = "#{commentable_name(type, model, current_user)}:"
    - begin
      = link_to model.try(:name).first(40), commentable_path(type, model, current_user)
    - rescue
      = link_to "(no title)", commentable_path(type, model, current_user)
    %span.time= "#{time_ago_in_words(comment.created_at)} ago" if comment.created_at
