<% model_help = ModelHelp.find_by_model_name record_type.to_s %>

<% if model_help %>
  <% content_for :side_bar do %>
    <script>$('sidebar').show();</script>
    <h2>Help</h2>
    <p><%= link_to 'Field Definitions', '#',  :onclick => "$('terms').toggle();"  %></p>
      <div id="terms">
        <script> $('terms').hide(); </script>
        <%= render :partial => model_help.field_help %>
      </div>
      <p><%= link_to 'Examples', '#',  :onclick => "$('examples').toggle();"  %></p>
      <div id="examples">
        <script> $('examples').hide(); </script>
        <%= link_to 'HIV/AIDS', '#' %>
        <%= link_to 'Health Systems', '#' %>
        <%= link_to 'Technical Assistance', '#' %>
        <%= link_to '...', '#' %> <!-- TODO implement examples as example user owned items-->
      </div>
      
    
  <% end %>

  <% content_for :page_help do %>
    <p><%= h model_help.long %></p>
  <% end %>

  <% content_for :comments do %>
    <p> All users can see the comments in the table below. </p>
    <%= render :active_scaffold => "comments", :label => "General Questions / Comments",
      :constraints => {:commentable_id => model_help.id, :commentable_type => "ModelHelp"} %>
  <% end %>
<% end %>
