#sub-nav.alt
  %ul
    %li{:class => (params[:controller] == 'workplans' && params[:action] == 'edit' ? 'active' : nil)}= link_to 'Workplan', edit_response_workplan_path(@response, :spend)
    %li= link_to 'Funders', '#'
    %li= link_to 'Implementers', '#'
    %li{:class => (params[:controller] == 'classifications' && ['CodingSpend', 'CodingBudget'].include?(params[:id])) ? 'active' : nil}= link_to 'Purposes', edit_response_classification_path(@response, 'CodingSpend')
    %li{:class => (params[:controller] == 'classifications' && ['CodingSpendCostCategorization', 'CodingBudgetCostCategorization'].include?(params[:id])) ? 'active' : nil}= link_to 'Inputs', edit_response_classification_path(@response, 'CodingSpendCostCategorization')
    %li{:class => ['ServiceLevelSpend', 'ServiceLevelBudget'].include?(params[:id]) ? 'active' : nil}= link_to 'Service Levels', edit_response_classification_path(@response, 'ServiceLevelSpend')
    %li{:class => (params[:controller] == 'workplans' && params[:action] == 'index' ? 'active' : nil)}= link_to 'Manage', response_workplans_path(@response)
