<% model_help = @model_help #from before_filter :load_help in app controller
 %>

<% if model_help %>
  <% content_for :side_bar do %>
    <script>$('sidebar').show();</script>

    <h2>Help</h2>
    <p><%= link_to 'Field Definitions', '#',  :onclick => "$('terms').toggle();"  %></p>
      <div id="terms">
        <script> $('terms').hide(); </script>
        <% if model_help.field_help.size > 0 %>
          <%= render :partial => model_help.field_help %>
        <% else %>
          <p> No help for these fields has been entered yet.</p>
        <% end %>
      </div>
      <% if false # TODO implement examples
    %>
        <p><%= link_to 'Examples', '#',  :onclick => "$('examples').toggle();"  %></p>
        <div id="examples">
          <script> $('examples').hide(); </script>
          <p>This section will have links to examples when this feature is complete.</p>
        </div>
      <% end %>


  <% end %>

  <% content_for :page_help do %>
    <script>$('desc').show();</script>
    <p><%= h model_help.long %></p>
  <% end %>

  <% content_for :comments do %>
    <p>
      The comment section below is for asking general questions about this page.
      Ask questions or make comments on the data you have entered
      using the "Comments" link at the end of each row in the grid above.
      If you think the answer to your question will help many others, use the grid below this text.
      All users can see the comments in the table below.
    </p>
    <%= render :active_scaffold => "comments", :label => "General Questions / Comments",
      :constraints => {:commentable_id => model_help.id, :commentable_type => "ModelHelp"} %>
  <% end %>
<% end %>
