%h3 Sign in
- form_for @user_session, :url => user_session_path do |form|
  %fieldset.user_form
    %p
      = form.label :username, "Username or email"
      = form.text_field :username
    %p
      = form.label :password, "Password"
      = form.password_field :password

    %p.checkbox
      = form.check_box :remember_me
      = form.label :remember_me

    .buttons
      = form.submit "Sign in"
