#search_box
  = text_field_tag 'query', params[:query], {:size => 40}
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :filter, params[:filter]
= submit_tag 'Search', :name => nil
