%ul
  %li{:class => (params[:controller] == 'workplans' && params[:action] == 'edit' ? 'active' : nil)}
    = link_to 'Workplan', edit_response_workplan_path(@response, :spend)
  %li{:class => (params[:controller] == 'funders' && params[:action] == 'edit' ? 'active' : nil)}
    = link_to 'Funders', edit_response_funder_path(@response, :spend)
  %li{:class => (params[:controller] == 'implementers' && params[:action] == 'edit' ? 'active' : nil)}
    = link_to 'Implementers', edit_response_implementer_path(@response, :spend)
    
  - if @response.request.purposes?
    %li{:class => (params[:controller] == 'classifications' && ['CodingSpend', 'CodingBudget'].include?(params[:id])) ? 'active' : nil}
      = link_to 'Health Functions', edit_response_classification_path(@response, 'CodingSpend')
      
  - if @response.request.inputs?
    %li{:class => (params[:controller] == 'classifications' && ['CodingSpendCostCategorization', 'CodingBudgetCostCategorization'].include?(params[:id])) ? 'active' : nil}
      = link_to 'Inputs', edit_response_classification_path(@response, 'CodingSpendCostCategorization')
      
  - if @response.request.service_levels?
    %li{:class => ['ServiceLevelSpend', 'ServiceLevelBudget'].include?(params[:id]) ? 'active' : nil}
      = link_to 'Service Levels', edit_response_classification_path(@response, 'ServiceLevelSpend')
      
  - if @response.request.locations?
    %li{:class => 'inactive'}
      = link_to 'Locations', '#'
