%tr.js_activity_row
  %td.name.fixed{:rowspan => activity.sub_activities.length + 2}
    = project.name
    %span= activity.title

- activity.sub_activities.ordered_by_id.each do |implementer|
  = render 'implementer_row', :implementer => implementer, :type => params[:id]

%tr.filler2.js_activity_total_row{:"data-activity_id" => activity.id}
  %td.name.wrap-50
    - link_to new_response_implementer_path(@response), :class => 'add_implementer add_row' do
      = image_tag "new.png"
      Add implementer
  %td.total Subtotal
  %td.total_amount
    %span.js_activity_total= activity.sub_activities_total_by_type(params[:id])
    %span.currency= project.currency
  %td.actions