-# TODO %tr{:class => "js_purpose_row", :"data-amount" => activity.amount}
%tr{:class => "js_purpose_row"}
  %td.name.fixed
    = project.name
    %span= activity.title
  %td.no-padding{:colspan => 3}
    - form_tag response_implementer_path(@response, params[:id], :activity_id => activity.id), :method => :put do
      %table.nested
        %tbody
          - activity.sub_activities.each do |sa|
            = render 'implementer_row', :sub_activity => sa, :type => params[:id]
          = render 'add_implementer_form'
          = render 'implementer_footer', :activity => activity
