%tr
  %td{:colspan => 7, :class => 'new_implementer'}
    - semantic_form_for @implementer, :url => response_implementers_path(@response, :type => params[:type]), :html => {:class => "basic_form new_implementer_form"} do |f|
      - f.inputs :class => 'inputs' do
        = f.input :activity_id, :as => :hidden
        = f.input :data_response_id, :as => :hidden, :value => @response.id, :required => false
        = f.input :provider, :as => :select, :collection => funding_organizations_select, :required => false, :input_html => {:class => 'implementer_select combobox ff_from'}, :label => false
        = f.commit_button "Add implementer", :wrapper_html => {:class => 'js_save_implementer'}, :button_html => {:class => 'create_button'}
        %li= image_tag "ajax-loader.gif", :class => "ajax-loader", :style => 'display: none;'
        %li= link_to "Cancel", "#", :class => 'js_cancel_add_implementer row_cancel'
