:javascript
  var _response_id = "#{@response.id}";
  var _type        = "#{params[:id]}";

- content_for :sub_nav do
  = render 'shared/sub_nav_projects'

%h1.main_heading Implementers

= render "getting_started"

- form_tag response_implementer_path(@response, params[:id]), :method => :put, :id => 'js_implementers_form' do
  %table.workplan
    %thead
      %tr.filler2
        %th{:colspan => 3}
        %th.no-padding{:colspan => "100"}
          %ul.tabs
            %li= link_to 'Yearly', edit_response_implementer_path(@response, :spend), :class => (params[:id] == 'spend' ? 'active' : nil)
            %li= link_to 'Quarterly', edit_response_implementer_path(@response, :budget), :class => (params[:id] == 'budget'  ? 'active' : nil)

      %tr.head
        %th{:colspan => 3}
        - start_year = @response.request.start_date.try(:year)
        - end_year = @response.request.end_date.try(:year)
        - if start_year == end_year
          - prev_fy = "FY #{start_year}"
          - next_fy = "FY #{start_year+1}"
        - else
          - prev_fy = "FY #{start_year}-#{end_year}"
          - next_fy = "FY #{start_year+1}-#{end_year+1}"
        %th= prev_fy
        %th{:colspan => 10}= next_fy
      %tr.head
        %th Activity
        %th{:colspan => 2} Implementer
        %th Spend
        %th Budget
        %th.actions

    %tbody
      - @projects.each do |project|
        - project.activities.ordered.each do |activity|
          = render 'activity_row', :project => project, :activity => activity

      %tr.filler.js_projects_total_row
        %td{:colspan => "2", :class => "name fixed"}
        %td.total Total
        %td.total_amount
          %span.js_projects_total_amount= @projects.map{ |p| p.sub_activities_total_by_type(:spend)}.sum
          %span.currency= @response.currency
        %td.total_amount
          %span.js_projects_total_amount= @projects.map{ |p| p.sub_activities_total_by_type(:budget)}.sum
          %span.currency= @response.currency
        %td.actions

      %tr
        %td.borderless{:colspan => 100}
          = submit_tag :Save, :style => (@projects.detect{|p| p.activities.present? } ? nil : 'display: none;'), :class => 'save_btn right big'

- if @projects.empty? || !@response.projects_have_activities?
  %p.centered.attention
    You have not added any activities.
    = link_to "Add them now.", edit_response_workplan_path(@response, :spend)
