%h1.main_heading Data Responses

= render 'group_tabs'

/ js event: #resources, .data_responses
%div{:class => "resources", :"data-resources" => "data_responses"}
  .simple_table
    - if @empty_responses.empty?
      %p All data responses have been started.
    - else
      %table
        %thead
          %tr
            %th Organization
            %th User Emails
            %th Point of Contact Phone Number
            %th
        %tbody
          - @empty_responses.each do |data_response|
            %tr{:id => "row_#{data_response.id}", :class => cycle("even", "odd")}
              %td= data_response.responding_organization
              %td= data_response.responding_organization.user_email_list_limit_3
              %td= data_response.contact_phone_number
              %td
                = link_to "Show", admin_response_path(data_response)
                = link_to "Delete", delete_admin_response_path(data_response), :class => "destroy_btn"