%h1 Data Responses

= render 'group_tabs'

/ js event: #resources, .data_responses
%div{:class => "resources", :"data-resources" => "data_responses"}
  .simple_table
    - if @in_progress_responses.empty?
      %p No data responses are in progress.
    - else
      %table
        %thead
          %tr
            %th Organization
            %th Projects
            %th Spent Total
            %th Budget Total
            %th Activities
            %th Sub Activities
            %th Spent Total
            %th Budget Total
            %th Unclassified Activities
            %th
        %tbody
          - @in_progress_responses.each do |data_response|
            %tr{:id => "row_#{data_response.id}", :class => cycle("even", "odd")}
              %td= data_response.responding_organization
              %td= data_response.projects.size
              %td= n2c data_response.total_project_spend_RWF
              %td= n2c data_response.total_project_budget_RWF
              %td= data_response.activities_count
              %td= data_response.sub_activities_count
              %td= n2c data_response.total_activity_spend_RWF
              %td= n2c data_response.total_activity_budget_RWF
              %td= "#{data_response.unclassified_activities_count} / #{data_response.activities_count}"
              %td
                = link_to "Show", admin_response_path(data_response)