= render "heading"

= render 'group_tabs'

/ js event: #resources, .data_responses
%div{:class => "resources", :"data-resources" => "data_responses"}
  - if @submitted_responses.empty?
    %p.guide No submitted data responses are waiting for review.
  - else
    %table.standard.clickable
      %thead.static
        %tr
          %th Organization
          %th Projects
          %th Activities
          %th Sub Activities
          %th Date/time submitted
      %tbody
        - @submitted_responses.each do |data_response|
          %tr{:id => "row_#{data_response.id}", :class => cycle("even", "odd")}
            %td=link_to data_response.organization, admin_response_path(data_response)
            %td= data_response.projects.size
            %td= data_response.activities_count
            %td= data_response.sub_activities_count
            %td= data_response.submitted_at
