%h1.main_heading Data Responses

= render 'group_tabs'

/ js event: #resources, .data_responses
%div{:class => "resources", :"data-resources" => "data_responses"}
  .simple_table
    - if @submitted_responses.empty?
      %p No submitted data responses are waiting for review.
    - else
      %table
        %thead
          %tr
            %th Organization
            %th Date/time submitted
            %th Total budget
            %th Total spent
            %th
        %tbody
          - @submitted_responses.each do |data_response|
            %tr{:id => "row_#{data_response.id}", :class => cycle("even", "odd")}
              %td= data_response.responding_organization
              %td= data_response.submitted_at
              %td
              %td
              %td= link_to "Show", admin_response_path(data_response)
