%ul.dashboard_comments
  - comments.each do |comment|
    - model = comment.commentable
    - type = comment.commentable_type
    %li
      %h5.title
        %span= link_to truncate(model_name(model), :length => 40), commentable_path(type, model, current_user)
      %p.main= truncate(comment.comment, :length => 300)
      %p.time= "#{time_ago_in_words(comment.created_at)} ago" if comment.created_at
  .read_more= link_to "all comments", comments_path
