= render 'welcome'

%ul.horizontal.left
  %li= link_to "Edit Projects", response_projects_path(current_or_last_response), :class => "create_new"
  %li= link_to "Classify Activities", "#", :class => "create_new"
  %li= link_to "Review & Respond", submit_response_path(current_or_last_response), :class => "create_new"

= render 'requests'

= render 'reports'

.second-half
  = render 'shared/comments/comment_short_list', :comments => @comments
