= render 'welcome'

%ul.horizontal.left
  %li= link_to "Edit Projects", hacked_response_projects_path, :class => "create_new"
  %li= link_to "Classify Activities", "#", :class => "create_new"
  %li= link_to "Review & Respond", hacked_submit_response_path, :class => "create_new"

= render 'requests'

= render 'reports'

.second-half
  %h2
    =image_tag"icon_comments.png", :class => "heading_icon"
    Recent Comments
  = render 'shared/comments/comment_short_list', :comments => @comments
