%tr
  %td.title= link_to response.data_request.title, edit_organization_path(current_user.organization), :class => "title"
  %td= response.data_request.organization.name
  %td= response.data_request.due_date.strftime('%d %b %y')
  %td= response.ready_to_submit? ? 'Yes' : 'No'
  %td Responding
  %td= link_to "Edit", edit_organization_path(current_user.organization), :class => "respond"
