- title("Dashboard")
- content_for :sub_nav do
  = render "/shared/sub_nav_home"

%h1.main_heading
  Dashboard
  %ul.horizontal.right
    -#%li= link_to "Edit Workplan", edit_response_workplan_path(current_or_last_response, :spend), :class => "add_row"
    -# instead, a hack
    %li= link_to "Edit Workplan", current_projects_url_hack, :class => "add_row"

    -#%li= link_to "Classify Activities", edit_response_classification_path(current_or_last_response, 'CodingSpend'), :class => "add_row"
    -# instead, a hack
    %li= link_to "Classify Activities", current_classifications_url_hack, :class => "add_row"
    %li= link_to "Review & Respond", current_response_url, :class => "add_row"



= render 'getting_started'


%h2 Project Summary
.dashboard_section
  %h3.tracked
    %br
    %span.light Spend Tracked
    %span.large= @response.total_spend
    %span.currency= @response.currency

  %h3.tracked
    %br
    %span.light Budget Tracked
    %span.large= @response.total_budget
    %span.currency= @response.currency
  %h3.tracked
    %br
    %span.light Projects Tracked
    %span.large= @projects.count
  %h3.tracked
    %br
    %span.light Activities Tracked
    -# hacky
    %span.large= @response.activities.count

- @response = current_or_last_response
- @response =  @response || DataResponse.new # hack
.first-half
  %h2 Workplan Summary
  %ul.dashboard_section
    %li
      %h3{:class => (projects_entered)}
        Projects Entered
    %li
      %h3{:class => (projects_have_activities)}
        Activities Entered
    %li
      %h3{:class => (projects_have_other_costs)}
        Other Costs Entered

.second-half
  %h2 Classification Summary
  %ul.dashboard_section
    %li
      %h3{:class => (activities_coded)}
        Activities Classified
    %li
      %h3{:class => (other_costs_coded)}
        Other Costs Classified
    %li
      %h3{:class => ready(@response.submitted)}
        Submitted for Review

%ul.response-notice
  - @responses.each do |dr|
    -if dr.data_request.final_review?
      %li= "Your response is not yet complete for the Request: '#{dr.data_request.title}'. As this Request is in the Final Review stage, #{link_to "please re-check, then (re)submit", review_response_path(dr) } your response."

%h2
  =image_tag "icon_reporter.png", :class => "heading_icon"
  Data Requests & Responses
.dashboard_section
  %table.modern_table
    %thead
      %tr
        %td Request
        %td Requested By
        %td Due
        %td Ready to Submit?
        %td Status
        %td
    %tbody
      = render :partial => 'request', :collection => @requests
      = render :partial => 'response', :collection => @responses

%h2
  =image_tag"icon_comments.png", :class => "heading_icon"
  Recent Comments

= render 'reporter/dashboard/comment_short_list', :comments => @comments

