- title("Dashboard")
- if current_or_last_response
  - hacked_response_projects_path = response_projects_path(current_or_last_response)
  - hacked_submit_response_path   = submit_response_path(current_or_last_response)
- else
  - hacked_response_projects_path = new_response_path
  - hacked_submit_response_path   = new_response_path

%h1.main_heading Dashboard

= render 'welcome'

%ul.horizontal.left
  %li= link_to "Edit Projects", hacked_response_projects_path, :class => "create_new"
  %li= link_to "Classify Activities", "#", :class => "create_new"
  %li= link_to "Review & Respond", hacked_submit_response_path, :class => "create_new"

%ul.response-notice
  - @responses.each do |dr|
    -if dr.data_request.final_review?
      %li= "Your response is not yet complete for the Request: '#{dr.data_request.title}'. As this Request is in the Final Review stage, #{link_to "please re-check, then (re)submit", review_response_path(dr) } your response."

%h2
  =image_tag "icon_reporter.png", :class => "heading_icon"
<<<<<<< HEAD
  All Data Requests
=======
  Data Requests
>>>>>>> improve Request section on dashboard. greatly.
.dashboard_section

  %table.modern_table
    %thead
      %tr
        %td Name
        %td Requested By
        %td Due
        %td Submitted at
        %td Status
    %tbody
      = render :partial => 'response', :collection => @responses

.first-half
  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    Reports
  .dashboard_section
    %ul.admin_reports
      - if current_user.current_data_response
        %li
          - link_to review_response_path(current_user.current_data_response), :class => "drill_down target" do
            Review My Response
            %span.hint Interactive report of your current data response
      %li
        - link_to reports_districts_path, :class => "drill_down target" do
          Review District Expenditures and Current Budgets
          %span.hint Interactive reports
      %li
        - link_to reports_country_path, :class => "drill_down target" do
          Review National Expenditures and Current Budgets
          %span.hint Interactive reports
      %li
        - link_to reporter_reports_path, :class => "drill_down target" do
          All Reports
          %span.hint Export a report in CSV

.second-half
  %h2
    =image_tag"icon_comments.png", :class => "heading_icon"
    Recent Comments
  = render 'reporter/dashboard/comment_short_list', :comments => @comments

