- title "Reports"

%h2 Reports
%h3=  link_to "Users In My Organization", users_in_my_organization_path
%h3=  link_to "All Codes", all_codes_path
- @data_responses.each do |response|
  %h3=  link_to "Activities Grouped by NSP", activities_by_nsp_url(:id => response.id, :type => :budget)
  %h3=  link_to "Districts Grouped by NSP", districts_by_nsp_url(:id => response.id, :type => :budget)
  %h3=  link_to "Map Districts Grouped by NSP", map_districts_by_nsp_url(:id => response.id, :type => :budget)
  %br
  %h3=  link_to "Activities Grouped by All Codes", activities_by_full_coding_url(:id => response.id, :type => :budget)
  %h3=  link_to "Districts Grouped by All Codes", districts_by_full_coding_url(:id => response.id, :type => :budget)
  %h3=  link_to "Map Districts Grouped by All Codes", map_districts_by_full_coding_url(:id => response.id, :type => :budget)
