%h2 Donor/NGO Dashboard

%h3 Data Requests

- @data_responses.each do |response|
  %p.current_request
    = response.data_request.title
    = link_to "Edit", start_data_response_url(response)

- @data_requests_unfulfilled.each do |req|
  - form_for DataResponse.new(:responding_organization => current_user.organization, :data_request => req), :url => data_responses_path, :method => :post do |form|
    = form.hidden_field(:organization_id_responder)
    = form.hidden_field(:data_request_id)
    %p.unfulfilled_request
      = req.title
      = form.submit "Respond"

%h3 Activity Feed

= render 'comment_short_list'
