- url_params = project.present? ? {:project_id => project.id} : {}

.upload_box.activities_upload_box
  %h3.title_bar Upload a CSV file for Activities
  .dashboard_section
    %p Create one or more activities from a CSV file. You can save an Excel spreadsheet as a CSV file through File -> Save As, then select comma separated values (CSV) in the file format box under the file name.
    %br
    - form_tag(bulk_create_response_activities_path(@response, url_params), :multipart => true) do

      .upbox
        = label_tag :file, "File"
        = file_field_tag :file
      = submit_tag "Import", :class => 'small_submit_button'

      - if can_export
        = link_to "Export", export_response_activities_path(@response, url_params), :class => "row_cancel right"
      = link_to "Get Template", template_response_activities_path(@response), :class => "row_cancel right"
