- showing_other_cost = false
- showing_other_cost = true if heading == "Other Costs"

%tr.sub-head
  %td{:colspan => 100}
    %h4
      == #{heading}
      %span
        - path = (showing_other_cost) ? new_response_other_cost_path(response) : new_response_activity_path(response)
        - link_to path, :class => "create_inline" do
          = image_tag "new.png"
          Add

        - link_to "#", :class => "create_inline activities_upload_btn" do
          = image_tag "new.png"
          Upload

    .activities_upload_box
      %h3.title_bar Upload a CSV file for Activities
      .dashboard_section
        %p Create one or more activities from a CSV file. You can save an Excel spreadsheet as a CSV file through File -> Save As, then select comma separated values (CSV) in the file format box under the file name.

        - form_tag(bulk_create_response_activities_path(@response), :multipart => true) do
          = label_tag :file, "File"
          = file_field_tag :file
          = submit_tag "Upload", :class => 'small_submit_button'

        = link_to "Download template", download_template_response_activities_path(@response), :class => 'target'



- unless activities.empty?
  - activities.each do |activity|
    - unless showing_other_cost
      = render "activities/activity", :activity => activity
    - else
      = render "other_costs/other_cost", :other_cost => activity
- else
  %tr.none
    %td{:colspan => 100}
      - unless showing_other_cost
        No activities found.
        - path = new_response_activity_path(@response)
      - else
        No other costs found.
        - path = new_response_other_cost_path(@response)
      = link_to "Add #{heading} now.", path
