
- showing_other_cost = false
- showing_other_cost = true if heading == "Other Costs"

%tr.sub-head
  %td{:colspan => 100}
    %h4
      == #{heading}
      %span
        - path = (showing_other_cost) ? new_response_other_cost_path(response) : new_response_activity_path(response)
        - link_to path, :class => "create_inline" do
          = image_tag "new.png"
          Add

- unless activities.empty?
  - activities.each do |activity|
    - unless showing_other_cost
      = render "activities/activity", :activity => activity
    - else
      = render "other_costs/other_cost", :other_cost => activity
- else
  %tr.none
    %td{:colspan => 100}
      - unless showing_other_cost
        No activities found.
        - path = new_response_activity_path(@response)
      - else
        No other costs found.
        - path = new_response_other_cost_path(@response)
      = link_to "Add #{heading} now.", path
