- project_id = f.object.id
%ul.condensed_fields
  %li#project_name_input.string.required
    .name
      = f.label :name, "Name"
      %span.required *
      - link_to "#", :title => "A short name for this project", :class => 'tooltip' do
        = image_tag "tooltip.png"
    = f.text_field :name, :size => "80", :class => f.object.errors.on(:name) ? "error" : ""

  %li#project_start_date_input.string.required
    .name
      = f.label :start_date, "Start date", :value => project_id
      %span.required *
      - link_to "#", :title => "(YYYY-MM-DD) When the Project (and it's related Activities) started.", :class => 'tooltip' do
        = image_tag "tooltip.png"
    = f.text_field :start_date, :value => formatted_date(f.object.start_date), :class => f.object.errors.on(:start_date) ? "error date_picker start_date" : "date_picker start_date", :id => "project_start_date_#{project_id}"

  %li#project_end_date_input.string.required
    .name
      = f.label :end_date, "End date", :value => project_id
      %span.required *
      - link_to "#", :title => "(YYYY-MM-DD) The end date for the Project’s implementation.", :class => 'tooltip' do
        = image_tag "tooltip.png"
    = f.text_field :end_date, :value => formatted_date(f.object.end_date), :class => f.object.errors.on(:end_date) ? "error date_picker end_date" : "date_picker end_date", :id => "project_end_date_#{project_id}"

  %li#project_currency_input.select.required
    .name
      = f.label :currency, "Currency override"
      - link_to "#", :title => "Optionally override the currency for this Project. (Your default is #{@response.currency})", :class => 'tooltip' do
        = image_tag "tooltip.png"
    = f.select :currency, currency_options_for_select, {:selected => @project.currency, :include_blank => true }, :class => f.object.errors.on(:currency) ? "error" : ""
  %br
  %li#project_description_input.text
    .name
      = f.label :description, "Description"
      - link_to "#", :title => "A general 1-2 sentence description of the purpose of the Project.", :class => 'tooltip' do
        = image_tag "tooltip.png"
    = f.text_area :description, :rows => 2, :class => f.object.errors.on(:description) ? "error" : ""
