- editing     = controller.action_name == 'edit' ? true : false
- button_text = editing ? "Update Project" : "Create New Project"
- fiscal_year_prev = fiscal_year_prev(@response)
- fiscal_year = fiscal_year(@response)

:javascript
  var _budget = #{@response.data_request.budget.to_json};
  var _spend = #{@response.data_request.spend.to_json};

- f.inputs :class => 'inputs' do
  %li.last
    %h3 Basics
    %ul.dashboard_section
      = f.input :name, :hint => "Using a name that is specified on a contract or formal agreement is strongly recommended"
      = f.input :description, :input_html => { :rows => 2 }, :hint => "A general 1-2 sentence description of the purpose of the Project.", :required => false
      = f.input :currency, :label => "Currency override", :as => :select, :collection => currency_options_for_select, :include_blank => true, :hint => " Override the currency for this Project only. (Your default is #{@response.currency})", :required => false, :input_html => { :class => "combobox" }


  %li.last
    %h2 Project Funding Sources
    %ul.dashboard_section
      %p.hint The sources from which your organization receives funding for its Projects.
      %br

      .funding_flows
        - f.semantic_fields_for :in_flows do |ff|
          = render "projects/in_flow_fields", :f => ff
        .add
          = link_to_add_fields "Add funding source", f, :in_flows, "projects/", :class => 'row_cancel'

- f.buttons :class => 'buttons', :style => 'float: none' do
  = f.commit_button @project.new_record? ? "Create Project" : "Update Project", :class => "last"

- unless @project.new_record?
  .delete_section
    = link_to "Delete this Project", response_project_path(@response, @project), :confirm => "Are you sure you want to delete this Project?", :method => :delete, :class => 'delete_action'
    %p
      %strong Warning:
      Once you delete a Project, you will lose all data associated with it, and there is no undo.
