- f.inputs :class => 'inputs' do
  %li.last
    %h3 Basics
    %ul.dashboard_section.condensed_fields
      %li#project_name_input.string.required
        .name
          = f.label :name, "Name"
          %span.required *
          = link_to "(?)", "#", :title => "A short name for this project", :class => 'tooltip'
        = f.text_field :name

      %li#project_start_date_input.string.required
        .name
          = f.label :start_date, "Start date"
          %span.required *
          = link_to "(?)", "#", :title => "(YYYY-MM-DD) When the Project (and it's related Activities) started.", :class => 'tooltip'
        = f.text_field :start_date, :class => 'date_picker'
      %li#project_end_date_input.string.required
        .name
          = f.label :end_date, "End date"
          %span.required *
          = link_to "(?)", "#", :title => "(YYYY-MM-DD) The end date for the Project’s implementation.", :class => 'tooltip'
        = f.text_field :end_date, :class => 'date_picker'
      %li#project_currency_input.select.required
        .name
          = f.label :currency, "Currency override"
          = link_to "(?)", "#", :title => "Optionally override the currency for this Project. (Your default is #{@response.currency})", :class => 'tooltip'
        = f.select :currency, currency_options_for_select, { :include_blank => true }
      %br
      %li#project_description_input.text
        .name
          = f.label :description, "Description"
          = link_to "(?)", "#", :title => "A general 1-2 sentence description of the purpose of the Project.", :class => 'tooltip'
        = f.text_area :description, :rows => 2
      //= f.input :currency, :label => "Currency override", :as => :select, :collection => currency_options_for_select, :include_blank => true, :hint => " Override the currency for this Project only. (Your default is #{@response.currency})", :required => false

  = render 'in_flows', :f => f

- f.buttons :class => 'buttons', :style => 'float: none' do
  = f.commit_button :button_html => {:class => "last big_button"}
  %li
    = link_to "Cancel", response_projects_path(@response), :class => "js_toggle_projects_listing add_row cancel_button last"

- unless @project.new_record?
  .delete_section
    = link_to "Delete this Project", response_project_path(@response, @project), :confirm => "Are you sure you want to delete this Project?", :method => :delete, :class => 'delete_action'
    %p
      %strong Warning:
      Once you delete a Project, you will lose all data associated with it, and there is no undo.
