- f.inputs :class => 'inputs' do
  %li.last
    %h3 Basics
    %ul.section_form
      = render 'projects/basic_fields', :f => f

  %li.last
    = render 'projects/in_flows', :f => f

- f.buttons :class => 'buttons', :style => 'float: none' do
  = f.commit_button :button_html => {:class => "last big_button"}
  %li
    = link_to "Cancel", response_projects_path(@response), :class => "js_toggle_projects_listing add_row cancel_button last"

- unless @project.new_record?
  .delete_section
    = link_to "Delete this Project", response_project_path(@response, @project), :confirm => "Are you sure you want to delete this Project?", :method => :delete, :class => 'delete_action'
    %p
      %strong Warning:
      Once you delete a Project, you will lose all data associated with it, and there is no undo.
