.fields
  .edit_block
    = f.input :data_response_id, :as => :hidden, :value => @response.id, :required => false
    = f.input :organization_id_to, :as => :hidden, :value => @response.organization.id, :required => false
    = f.input :from, :collection => Organization.find(:all, :order => 'old_type, name'),
      :hint => "The organization funding the project", :required => false, :input_html => {:class => 'ff_from'}, :as => :select

    - if @response.data_request.spend?
      = f.input :spend, :label => "Spent", :hint => "The total amount that you have spent in the past fiscal year.", :required => false, :input_html => {:class => 'ff_spend'}
      %li.amounts.spend
        %label Quarterly spend
        %ul
          = f.input :spend_q4_prev, :label => "Q4 08-09", :required => false, :input_html => {:class => 'ff_spend_q4_prev'}
          = f.input :spend_q1     , :label => "Q1 09-10", :required => false, :input_html => {:class => 'ff_spend_q1'}
          = f.input :spend_q2     , :label => "Q2 09-10", :required => false, :input_html => {:class => 'ff_spend_q2'}
          = f.input :spend_q3     , :label => "Q3 09-10", :required => false, :input_html => {:class => 'ff_spend_q3'}
          = f.input :spend_q4     , :label => "Q4 09-10", :required => false, :input_html => {:class => 'ff_spend_q4'}

    - if @response.data_request.budget?
      = f.input :budget, :label => "Budget", :hint => "The total amount that you are planning to spend in the upcoming fiscal year.", :required => false, :input_html => {:class => 'ff_budget'}
      %li.amounts.budget
        %label Quarterly budget
        %ul
          = f.input :budget_q4_prev, :label => "Q4 08-09", :required => false, :input_html => {:class => 'ff_budget_q4_prev'}
          = f.input :budget_q1     , :label => "Q1 09-10", :required => false, :input_html => {:class => 'ff_budget_q1'}
          = f.input :budget_q2     , :label => "Q2 09-10", :required => false, :input_html => {:class => 'ff_budget_q2'}
          = f.input :budget_q3     , :label => "Q3 09-10", :required => false, :input_html => {:class => 'ff_budget_q3'}
          = f.input :budget_q4     , :label => "Q4 09-10", :required => false, :input_html => {:class => 'ff_budget_q4'}

  .preview_block{:style => "display: none;"}

  .manage_block
    = link_to_remove_fields "X", f, :class => 'delete'
