- budget_fiscal_year_next = budget_fiscal_year_next(@response)
- budget_fiscal_year = budget_fiscal_year(@response)
- spend_fiscal_year_next = spend_fiscal_year_next(@response)
- spend_fiscal_year = spend_fiscal_year(@response)

.fields
  .edit_block
    = f.input :data_response_id, :as => :hidden, :value => @response.id, :required => false
    = f.input :organization_id_to, :as => :hidden, :value => @response.organization.id, :required => false
    .ff_from_container
      .implementer_container
        .ui_widget
          = f.input :updated_at, :as => :hidden
          = f.input :from, :as => :select, :collection => funding_organizations_select, :hint => "The organization funding the Project", :required => false, :input_html => {:class => 'js_implementer_select js_combobox ff_from'}

    - if @response.data_request.spend?
      = f.input :spend, :label => "Expenditure", :hint => "The total amount that you have spent in the past fiscal year. You can enter the total amount here OR below in the quarterly fields", :required => false, :input_html => {:class => 'ff_spend'}
      %li.amounts.spend
        %label Quarterly Expenditure
        %ul
          = f.input :spend_q4_prev, :label => "#{@response.spend_quarters_months('q1')}", :required => false, :input_html => {:class => 'ff_spend_q4_prev js_funding_exp_q'}
          = f.input :spend_q1     , :label => "#{@response.spend_quarters_months('q2')}", :required => false, :input_html => {:class => 'ff_spend_q1 js_funding_exp_q'}
          = f.input :spend_q2     , :label => "#{@response.spend_quarters_months('q3')}", :required => false, :input_html => {:class => 'ff_spend_q2 js_funding_exp_q'}
          = f.input :spend_q3     , :label => "#{@response.spend_quarters_months('q4')}", :required => false, :input_html => {:class => 'ff_spend_q3 js_funding_exp_q'}
          = f.input :spend_q4     , :label => "#{@response.spend_quarters_months('q1_next_fy')}", :required => false, :input_html => {:class => 'ff_spend_q4'}

    - if @response.data_request.budget?
      = f.input :budget, :label => "Budget", :hint => "The total amount that you are planning to spend in the upcoming fiscal year. You can enter the total amount here OR below in the quarterly fields", :required => false, :input_html => {:class => 'ff_budget'}
      %li.amounts.budget
        %label Quarterly Budget
        %ul
          = f.input :budget_q4_prev, :label => "#{@response.budget_quarters_months('q1')}", :required => false, :input_html => {:class => 'ff_budget_q4_prev js_funding_bud_q'}
          = f.input :budget_q1     , :label => "#{@response.budget_quarters_months('q2')}", :required => false, :input_html => {:class => 'ff_budget_q1 js_funding_bud_q'}
          = f.input :budget_q2     , :label => "#{@response.budget_quarters_months('q3')}", :required => false, :input_html => {:class => 'ff_budget_q2 js_funding_bud_q'}
          = f.input :budget_q3     , :label => "#{@response.budget_quarters_months('q4')}", :required => false, :input_html => {:class => 'ff_budget_q3 js_funding_bud_q'}
          = f.input :budget_q4     , :label => "#{@response.budget_quarters_months('q1_next_fy')}", :required => false, :input_html => {:class => 'ff_budget_q4'}


  .preview_block{:style => "display: none;"}

  .manage_block
    = link_to_remove_fields "x", f, :class => 'delete_button'


