%li.last
  %h3 Project Funding Sources
  %ul.dashboard_section
    %p.heading_hint The sources from which your organization receives funding for its Projects.

    %table.input_table
      %thead
        %tr
          %th Organization
          %th Expenditure
          %th Budget
          %th
      %tbody
        - f.semantic_fields_for :in_flows do |ff|
          = render "projects/in_flow_fields", :f => ff

        %tr
          %td= link_to_add_fields "Add funding source", f, :in_flows, "projects/", :class => 'create_alt marginless'
          %td
            %p.total
              %span.label.left Total
              %span.amount.right= @project.in_flows_total(:spend)
              %span.currency.right= @project.currency
          %td
            %p.total
              %span.label.left Total
              %span.amount.right= @project.in_flows_total(:budget)
              %span.currency.right= @project.currency
