- budget_fiscal_year_prev = budget_fiscal_year_prev(@response)
- budget_fiscal_year = budget_fiscal_year(@response)
- spend_fiscal_year_prev = spend_fiscal_year_prev(@response)
- spend_fiscal_year = spend_fiscal_year(@response)

.fields
  .edit_block
    = f.input :data_response_id, :as => :hidden, :value => @response.id, :required => false
    = f.input :organization_id_to, :as => :hidden, :value => @response.organization.id, :required => false
    .ff_from_container
      .implementer_container
        .ui_widget
          = f.input :from, :as => :select, :collection => funding_organizations_select, :hint => "The organization funding the Project", :required => false, :input_html => {:class => 'implementer_select combobox ff_from'}

    - if @response.data_request.spend?
      = f.input :spend, :label => "Past Expenditure", :hint => "The total amount that you have past expenditure in the past fiscal year. You can enter the total amount here OR below in the quarterly fields", :required => false, :input_html => {:class => 'ff_spend'}
      %li.amounts.spend
        %label Quarterly Past Expenditure
        %ul
          = f.input :spend_q4_prev, :label => "Q4 #{spend_fiscal_year_prev}", :required => false, :input_html => {:class => 'ff_spend_q4_prev'}
          = f.input :spend_q1     , :label => "Q1 #{spend_fiscal_year}", :required => false, :input_html => {:class => 'ff_spend_q1'}
          = f.input :spend_q2     , :label => "Q2 #{spend_fiscal_year}", :required => false, :input_html => {:class => 'ff_spend_q2'}
          = f.input :spend_q3     , :label => "Q3 #{spend_fiscal_year}", :required => false, :input_html => {:class => 'ff_spend_q3'}
          = f.input :spend_q4     , :label => "Q4 #{spend_fiscal_year}", :required => false, :input_html => {:class => 'ff_spend_q4'}

    - if @response.data_request.budget?
      = f.input :budget, :label => "Current Budget", :hint => "The total amount that you are planning to past expenditure in the upcoming fiscal year. You can enter the total amount here OR below in the quarterly fields", :required => false, :input_html => {:class => 'ff_budget'}
      %li.amounts.budget
        %label Quarterly Budget
        %ul
          = f.input :budget_q4_prev, :label => "Q4 #{budget_fiscal_year_prev}", :required => false, :input_html => {:class => 'ff_budget_q4_prev'}
          = f.input :budget_q1     , :label => "Q1 #{budget_fiscal_year}", :required => false, :input_html => {:class => 'ff_budget_q1'}
          = f.input :budget_q2     , :label => "Q2 #{budget_fiscal_year}", :required => false, :input_html => {:class => 'ff_budget_q2'}
          = f.input :budget_q3     , :label => "Q3 #{budget_fiscal_year}", :required => false, :input_html => {:class => 'ff_budget_q3'}
          = f.input :budget_q4     , :label => "Q4 #{budget_fiscal_year}", :required => false, :input_html => {:class => 'ff_budget_q4'}


  .preview_block{:style => "display: none;"}

  .manage_block
    = link_to_remove_fields "X", f, :class => 'delete'


