%tbody
  %tr.head
    %td
      .project
        = link_to "#{h project.name}", edit_response_project_path(@response, project)

        - project_errors = get_project_errors(project)
        - if project_errors.present?
          = image_tag "warning_12.png", :title => project_errors, :class => 'tooltip'

  = render 'activities', :response => @response, :project => project, :activities => project.normal_activities

  = render 'other_costs', :response => @response, :project => project, :other_costs => project.other_costs
  %tr
    %td.push-30