%tr{:class => cycle("even", "odd")}
  %td= link_to "#{h project.name}", edit_response_project_path(@data_response, project)
  %td= project.description
  %td= project.spend
  %td= project.budget
  %td
