%tbody
  %tr
    %td.name.wrap-20{:rowspan => 100}
      //= link_to "edit", edit_response_project_path(@response, project), :class => 'edit_button inline left push-12'

      = link_to "#{h project.name}", edit_response_project_path(@response, project)

      - if project.validation_errors.present?
        = image_tag "warning_12.png", :title => format_errors(project.validation_errors), :class => 'tooltip'

  = render 'activities', :response => @response, :project => project, :activities => project.normal_activities.sorted

  = render 'other_costs', :response => @response, :project => project, :other_costs => project.other_costs

  %tr.filler2
    %td{:colspan => 1}
      %ul.horizontal
        %li
    %td.total Project Total
    %td.wrap-12
      .right_justified= n2cs(project.spend, project.currency)
    %td.wrap-12
      .right_justified= n2cs(project.budget, project.currency)
    %td

  %tr.filler2
    %td{:colspan => 1}
      %ul.horizontal
        %li
    %td.total Total Funding
    %td.wrap-12
      .right_justified= n2cs(project.in_flows_total(:spend), project.currency)
    %td.wrap-12
      .right_justified= n2cs((project.in_flows_total(:budget)), project.currency)
    %td

  - if(!@response.project_and_activities_matching_amounts?(project, :spend) || !@response.project_and_activities_matching_amounts?(project, :budget))
    %tr.filler_warning
      %td{:colspan => 1}

      %td.total Project Total - (Activities + Other Costs)
      %td.wrap-12
        .right_justified= n2cs(project.spend - project.subtotals(:spend), project.currency)
      %td.wrap-12
        .right_justified= n2cs(project.budget - project.subtotals(:budget), project.currency)
      %td= image_tag "warning_12.png", :title => get_project_total_differences(project), :class => 'tooltip_projects'
