%tbody
  %tr
    %td.name.wrap-20{:rowspan => 7 + project.activities.only_simple.count}
      //= link_to "edit", edit_response_project_path(@response, project), :class => 'edit_button inline left push-12'

      = link_to "#{h project.name}", edit_response_project_path(@response, project)

      - project_errors = get_project_errors(project)
      - if project_errors.present?
        = image_tag "warning_12.png", :title => project_errors, :class => 'tooltip'

  = render 'activities', :response => @response, :project => project, :activities => project.normal_activities

  = render 'other_costs', :response => @response, :project => project, :other_costs => project.other_costs

  %tr.filler2
    %td{:colspan => 1}

    %td.total Sub Total
    %td.wrap-10= n2cndrs(project.subtotal_spend, project.currency)
    %td.wrap-10= n2cndrs(project.subtotal_budget, project.currency)
    %td
  %tr.filler2
    %td{:colspan => 1}
      %ul.horizontal
        %li
    %td.total Project Total
    %td.wrap-10= n2cndrs(project.spend, project.currency)
    %td.wrap-10= n2cndrs(project.budget, project.currency)
    %td
  -if (project.spend || 0) - project.subtotal_spend > 0
    %tr.filler2
      %td{:colspan => 1}
        %ul.hotizontal
          %li
      %td.total
      %td.wrap-10.red= n2cndrs((project.spend || 0) - project.subtotal_spend)
      %td.wrap-10.red= n2cndrs((project.budget || 0) - project.subtotal_budget)
      %td

