%tbody
  %tr.head
    %td
      %h1
        = link_to "#{h project.name}", edit_response_project_path(@response, project)

        - project_errors = get_project_errors(project)
        - if project_errors.present?
          = image_tag "warning_12.png", :title => project_errors, :class => 'tooltip'

    %td.wrap-10
      - link_to edit_response_project_path(@response, project), :class => 'add_row right' do
        = image_tag "pencil_10.png"
        edit
  = render 'activities', :response => @response, :project => project, :activities => project.normal_activities

  = render 'other_costs', :response => @response, :project => project, :other_costs => project.other_costs
