%tbody
  %tr.head
    %td
      %h1= link_to "#{h project.name}", edit_response_project_path(@response, project)
    %td= n2cndrs(project.spend, project.currency)
    %td= n2cndrs(project.budget, project.currency)
  = render 'activities', :heading => "Activities", :response => @response, :project => project, :activities => project.normal_activities
  = render 'activities', :heading => "Other Costs", :response => @response, :project => project, :activities => project.other_costs
