%tbody
  %tr
    %td.name.wrap-20{:rowspan => 100}
      //= link_to "edit", edit_response_project_path(@response, project), :class => 'edit_button inline left push-12'

      = link_to "#{h project.name}", edit_response_project_path(@response, project)

      - project_errors = get_project_errors(project)
      - if project_errors.present?
        = image_tag "warning_12.png", :title => project_errors, :class => 'tooltip'

  = render 'activities', :response => @response, :project => project, :activities => project.normal_activities

  = render 'other_costs', :response => @response, :project => project, :other_costs => project.other_costs

  %tr.filler2
    %td{:colspan => 1}

    %td.total Subtotal
    %td.wrap-10= n2cndrs((project.subtotals(:spend) || 0), project.currency)
    %td.wrap-10= n2cndrs((project.subtotals(:budget) || 0), project.currency)
    %td
  %tr.filler2
    %td{:colspan => 1}
      %ul.horizontal
        %li
    %td.total Project Total
    %td.wrap-10= n2cndrs((project.spend || 0), project.currency)
    %td.wrap-10= n2cndrs((project.budget || 0), project.currency)
    -if ((project.spend || 0) - project.subtotals(:spend) > 0) || ((project.budget || 0) - project.subtotals(:budget) > 0) 
      %td= image_tag "warning_12.png", :title => get_project_total_differences(project), :class => 'tooltip'