.upload_box.activities_upload_box
  %h3.title_bar Upload a CSV file for Projects and activities
  .dashboard_section
    %p Create one or more projects with activities from a CSV file. You can save an Excel spreadsheet as a CSV file through File -> Save As, then select comma separated values (CSV) in the file format box under the file name.
    %br
    - form_tag(bulk_create_response_projects_path(@response), :multipart => true) do

      .upbox
        = label_tag :file, "File"
        = file_field_tag :file
      = submit_tag "Import", :class => 'small_submit_button'
      
      = link_to "Export", export_response_activities_path(@response), :class => "row_cancel right create_alt"
      = link_to "Get Template", download_template_response_projects_path(@response), :class => "row_cancel right create_alt"
