%h1.main_heading Bulk Edit

-form_tag(bulk_update_response_projects_path, :method => :put) do
  %table.standard.rounded
    %thead.static
      %tr
        %th Name
        %th Funder
        %th Funder Project
        %th Budget
        %th Spend
    %tbody
      - @projects.each do |project|
        - project.in_flows.each do |in_flow|
          %tr
            %td= project.name
            %td= in_flow.from.try(:name)
            %td= select_tag "funding_flows[#{in_flow.id}]", options_for_select(funding_flows_select(project), in_flow.project_from_id)
            %td= project.budget
            %td= project.spend
  
  %br
  =submit_tag "Update", :class => 'small_submit_button'