- title("Edit Project")

%h1.main_heading Edit Project

.main_heading
  = render 'help'

%ul.response-notice
  - unless @response.projects_without_amounts.select{|p| p == @project}.empty?
    %li= "Please enter at least one amount (#{requested_amounts(@response)}) for this Project"
    
  - if @response.data_request.spend? && !@project.spend_matches_funders?
    %li= "Project expenditure does not match the total expenditure stated in funding sources below. Please add funding sources or adjust your amounts."
  - if @response.data_request.budget? && !@project.budget_matches_funders?
    %li= "Project budget does not match the total of budgets stated in funding sources below. Please add funding sources or adjust your amounts."
    
  - if !@project.total_matches_quarters?("spend")
    %li Your quarterly Spend amounts do not match the total Spend amounts
  
  - if @response.request.budget_by_quarter?
    - if !@project.total_matches_quarters?("budget")
      %li Your quarterly Budget amounts do not match the total Budget amounts


.wrap-70
  = error_messages_for :project,  :header_message  => nil, :message => "Oops, we couldn't save your changes."

  - semantic_form_for @project, :url => response_project_path(@response, @project), :html => {:class => "basic_form"} do |f|
    = render 'form', :f => f

= render :partial => 'shared/comments', :comments => @comments
