- title("Edit Project")

= render 'projects/sub_nav'

%h1.main_heading Edit Project

.main_heading
  = render 'help'



%ul.response-notice
  - unless @response.projects_without_amounts.select{|p| p == @project}.empty?
    %li= "Please enter at least one amount (#{requested_amounts(@response)}) for this Project"

  - if @response.data_request.spend? && !@project.spend_matches_funders?
    %li= "Project expenditure does not match the total expenditure stated in funding sources below. Please add funding sources or adjust your amounts."
  - if @response.data_request.budget? && !@project.budget_matches_funders?
    %li= "Project current budget does not match the total of budgets stated in funding sources below. Please add funding sources or adjust your amounts."

  - if !@project.total_matches_quarters?("spend")
    %li Your quarterly Expenditure amounts do not match the total Expenditure amounts

  - if @response.request.budget_by_quarter?
    - if !@project.total_matches_quarters?("budget")
      %li Your quarterly Budget amounts do not match the total Budget amounts



= error_messages_for :project,  :header_message  => nil, :message => "Oops, we couldn't save your changes."

%ul.horizontal
  %li
    - link_to "#" do
      %span
        View Comments
  - if current_user.admin? || current_user.activity_manager?
    %li
      -if @project.am_approved
        - link_to "#" do
          %span
            Budget Approved
      -else
        - link_to "#", :class => "js_am_approve", :"project-id" => @project.id, :"response-id" => @response.id do
          %span
            Approve this Projects's Budget
          = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => "display: none;"

- semantic_form_for @project, :url => response_project_path(@response, @project), :html => {:class => "basic_form"} do |f|
  = render 'form', :f => f

= render 'shared/comments', :comments => @comments
