- title("Edit Project")

- content_for :sub_nav do
  = render :partial => 'shared/sub_nav_projects'

= render 'breadcrumb', :response => @response, :project => @project

%h1.main_heading
  Edit Project
  %span= render 'help'

= render 'getting_started'

%ul.response-notice
  - unless @response.projects_without_amounts.select{|p| p == @project}.empty?
    %li= "Please enter at least one amount (#{requested_amounts(@response)}) for this Project"

  - if @response.data_request.spend? && !@project.amounts_matches_funders?(:spend)
    %li= "Project expenditure does not match the total expenditure stated in funding sources below. Please add funding sources or adjust your amounts."
  - if @response.data_request.budget? && !@project.amounts_matches_funders?(:budget)
    %li= "Project current budget does not match the total of budgets stated in funding sources below. Please add funding sources or adjust your amounts."

%ul.horizontal.right.plain
  %li
    - link_to "#comments" do
      %span
        View Comments

= error_messages_for :project,  :header_message  => nil, :message => "Oops, we couldn't save your changes."

- semantic_form_for @project, :url => response_project_path(@response, @project), :html => {:class => "basic_form", :style => "clear: right;"} do |f|
  = render 'form', :f => f

= render 'shared/comments', :comments => @comments
