- title("Projects")

= render :partial => 'projects/sub_nav'

%h1.main_heading
  = render 'search'
  Projects

= render 'getting_started'

%ul.horizontal
  %li
    - link_to new_response_project_path(@response), :class => "create_new" do
      = image_tag "new_white.png"
      Create Project
  %li
    - link_to '#', :id => "import_export", :class => 'create_new' do
      = image_tag "icon_import_export.png"
      Import / Export
  %li
    = link_to "Link Projects", bulk_edit_response_projects_path, :class => 'create_new'

#import_export_box
  = render 'activities_import', :project => nil, :can_export => @response.activities.present?

- if params[:query]
  %p
    = "Projects with names containing #{params[:query]}"
    = link_to "(Back to complete project listing)", response_projects_path(@response)

%table.workplan
  %thead
    %tr.head
      %th= sortable "name", "Project"
      %th{:colspan => 2} Activity / Other Cost
      %th= sortable "spend", "Total Expenditure"
      %th= sortable "budget", "Total Budget"

  %tbody
    - unless @projects.empty?
      - @projects.each do |project|
        = render "project", :project => project
    - else
      %tr
        %td{:colspan => 100}
          = render 'no_projects_yet'
    %tr.filler
      %td{:colspan => 2}= link_to "Add Project", new_response_project_path(@response), :class => "add_row"
      %td.total Total
      %td.wrap-10= n2cndrs(@projects.map(&:spend).compact.sum, @response.currency)
      %td.wrap-10= n2cndrs(@projects.map(&:budget).compact.sum, @response.currency)


= will_paginate @projects

%ul{ :id => 'position_container', :class => 'image_list' }
