- title("Projects")

%h1.main_heading Projects
%p
  - link_to new_response_project_path(@data_response), :class => "create_new" do
    = image_tag "new_white.png"
    Create Project

%table.standard.rounded.clickable
  %thead
    %tr
      %th= sortable "name"
      %th= sortable "description"
      %th= sortable "spend", "Total Spent"
      %th= sortable "budget", "Total Budget"
      %th

  %tbody
    = render :partial => "project", :collection => @projects

= will_paginate @projects

%ul{ :id => 'position_container', :class => 'image_list' }

