- title("Projects")

- content_for :sub_nav do
  = render :partial => 'shared/sub_nav_projects'

= render :partial => 'new_forms'

#projects_listing
  %h1.main_heading
    = render 'search'
    Projects & Activities

  = render 'getting_started'

  %ul.horizontal.right.plain
    %li
      - link_to "#comments" do
        %span
          View Comments

  %ul#nav.horizontal
    %li.js_dropdown_menu
      - link_to '#', :class => 'js_dropdown_trigger create_new' do
        = image_tag "new_white.png"
        Create New...
        = image_tag "icon_arrow_down.gif"

      %ul.menu_items{:style => 'display: none'}
        %li= link_to 'Project', new_response_project_path(@response), :class => 'js_toggle_project_form'
        %li= link_to 'Activity', new_response_activity_path(@response), :class => 'js_toggle_activity_form'
        %li= link_to 'Other Cost', new_response_other_cost_path(@response), :class => 'js_toggle_other_cost_form'

    %li.js_dropdown_menu
      - link_to '#', :class => 'js_dropdown_trigger create_new' do
        Import / Export
        = image_tag "icon_arrow_down.gif"

      %ul.menu_items{:style => 'display: none'}
        %li= link_to 'Import Activities', '#', :id => "import_export"
        %li= link_to 'Export Workplan', download_workplan_response_projects_path(@response)
        %li= link_to 'Export All', export_response_activities_path(@response)

  #import_export_box
    = render 'activities_import', :project => nil, :can_export => @response.activities.present?

  - if params[:query]
    %p
      = "Projects with names containing #{params[:query]}"
      = link_to "(Back to complete project listing)", response_projects_path(@response)

  %table.workplan
    %thead
      %tr.head
        %th{:colspan => 3}
        %th
          .right_justified= current_fy(@response)
        %th
          .right_justified= next_fy(@response)
        %th{:colspan => 10}
      %tr.head
        %th= sortable "name", "Project"
        %th{:colspan => 2} Activity / Other Cost
        %th
          .right_justified= sortable "spend", "Past Expenditure"
        %th
          .right_justified= sortable "budget", "Current Budget"
        %th

    %tbody
      - unless @projects.empty?
        - @projects.each do |project|
          = render "project", :project => project
        = render 'other_costs_no_project', :response => @response, :other_costs => @response.other_costs

      - else
        %tr
          %td{:colspan => 100}
            = render 'no_projects_yet'
      %tr.filler
        %td{:colspan => 2}
        %td.total TOTAL
        %td.wrap-12
          .right_justified= n2cs(@response.spend, @response.currency)
        %td.wrap-12
          .right_justified= n2cs(@response.budget, @response.currency)
        %td

  = will_paginate @projects
  %br
  = render 'shared/comments', :comments => @comments
