- title("Projects")

- content_for :sub_nav do
  = render :partial => 'shared/sub_nav_projects'

%h1.main_heading
  = render 'search'
  Projects & Activities

= render 'getting_started'

%ul.horizontal.right.plain
  %li
    - link_to "#comments" do
      %span
        View Comments

%ul#nav.horizontal
  %li
    - link_to new_response_project_path(@response), :class => "create_new" do
      = image_tag "new_white.png"
      Create Project
  %li.dropdown_menu
    - link_to '#', :class => 'dropdown_trigger' do
      = image_tag "icon_import_export_alt.png"
      Import / Export

    %ul{:style => 'display: none'}
      %li= link_to 'Import Activities', '#', :id => "import_export"
      %li= link_to 'Export All', export_response_activities_path(@response)

  %li
    = link_to "Link to Funders", bulk_edit_response_projects_path, :class => 'create_new'

#import_export_box
  = render 'activities_import', :project => nil, :can_export => @response.activities.present?

- if params[:query]
  %p
    = "Projects with names containing #{params[:query]}"
    = link_to "(Back to complete project listing)", response_projects_path(@response)

%table.workplan
  %thead
    %tr.head
      %th{:colspan => 3}
      %th= current_fy(@response)
      %th{:colspan => 10}= next_fy(@response)
    %tr.head
      %th= sortable "name", "Project"
      %th{:colspan => 2} Activity / Other Cost
      %th= sortable "spend", "Past Expenditure"
      %th= sortable "budget", "Current Budget"
      %th

  %tbody
    - unless @projects.empty?
      - @projects.each do |project|
        = render "project", :project => project
      = render 'other_costs_no_project', :response => @response, :other_costs => @response.other_costs

    - else
      %tr
        %td{:colspan => 100}
          = render 'no_projects_yet'
    %tr.filler
      %td{:colspan => 2}
      %td.total ACTIVITY & OTHER COSTS TOTAL
      %td.wrap-10= n2crs(@response.total_spend, @response.currency)
      %td.wrap-10= n2crs(@response.total_budget, @response.currency)
      %td


= will_paginate @projects
%br
= render 'shared/comments', :comments => @comments
