- title("Projects")

- content_for :sub_nav do
  = render 'shared/sub_nav_projects'

%h1.main_heading
  = render 'search'
  Manage Projects

= render 'getting_started'

%ul.horizontal
  %li
    - link_to new_response_project_path(@response), :class => "add_row" do
      = image_tag "new.png"
      Add Project
  %li
    = link_to "Link Projects", bulk_edit_response_projects_path, :class => 'add_row'
  %li
    = link_to "Import / Export", '#', :id => "import_export", :class => 'add_row upload_btn'

#import_export_box
  = render 'activities_import', :project => nil, :can_export => @response.activities.present?

- if params[:query]
  %p
    = "Projects with names containing #{params[:query]}"
    = link_to "(Back to complete project listing)", response_projects_path(@response)

%table.sum.rounded
  %tbody
    - unless @projects.empty?
      - @projects.each do |project|
        = render "project", :project => project
    - else
      %tr
        %td{:colspan => 100}
          = render 'no_projects_yet'

= will_paginate @projects

%ul{ :id => 'position_container', :class => 'image_list' }
