
- record_type = Project

-# content_for :breadcrumbs do

%p
  = render :partial => 'shared/upload_and_export', |
    :locals => {:record_type => record_type }       |

- if params[:action] == "table" ## if did in index, would break AS

  = render :super

- else

  = render :super
  -# GR: got to figure out why this crashes the bloody server!!
  -#= render  :active_scaffold => "projects"
  -#          :constraints => { :organization_id => @user.organization.id }

  %p.right
    = link_to "Next Step", funding_flows_path

  = render :partial => 'shared/data_entry_help' , :locals => {:record_type => record_type}
