- title(@project.name)

%h1.main_heading= @project.name

.manage
  = link_to "Edit", edit_response_project_path(@data_response, @project)
  = link_to "Delete", response_project_path(@data_response, @project), :confirm => "Are you sure?", :method => :delete

%h3 Basics
%ul
  %li
    %ul
      %li Name
      %li= @project.name
    %ul
      %li Description
      %li= @project.description
    %ul
      %li Start date
      %li= @project.start_date
    %ul
      %li End date
      %li= @project.end_date
    %ul
      %li Currency
      %li= @project.currency

%h3 Past Expenditure
%ul
  %li
    %ul
      %li Spend
      %li= @project.spend
    %ul
      %li Spend Q4 08-09
      %li= @project.spend_q4_prev
    %ul
      %li Spend Q1 09-10
      %li= @project.spend_q1
    %ul
      %li Spend Q2 09-10
      %li= @project.spend_q2
    %ul
      %li Spend Q3 09-10
      %li= @project.spend_q3
    %ul
      %li Spend Q4 09-10
      %li= @project.spend_q4

%h3 Budget (planned expenditure)
%ul
  %li
    %ul
      %li Budget
      %li= @project.budget
    %ul
      %li Budget Q4 08-09
      %li= @project.budget_q4_prev
    %ul
      %li Budget Q1 09-10
      %li= @project.budget_q1
    %ul
      %li Budget Q2 09-10
      %li= @project.budget_q2
    %ul
      %li Budget Q3 09-10
      %li= @project.budget_q3
    %ul
      %li Budget Q4 09-10
      %li= @project.budget_q4
    %ul
      %li Entire Budget
      %li= @project.entire_budget
    %ul
      %li Locations
      %li= @project.locations.map(&:short_display).join(', ')

%h3 Comments
%ul
  - @comments.each do |comment|
    %li
      .title= comment.title
      .comment= comment.comment

  = render 'reporter/comments/form', :comment => @comment
