- title(@project.name)

%h1.main_heading
  = @project.name

  %span
    %ul.manage_bar.inline
      %li= link_to "Edit", edit_response_project_path(@data_response, @project)
      %li= link_to "X", response_project_path(@data_response, @project), :confirm => "Are you sure?", :method => :delete

.wrap-70
  %h3.form_heading Basics
  %ul.dashboard_section
    %li
      %ul.row
        %li Name
        %li= @project.name
      %ul.row
        %li Description
        %li= @project.description
      %ul.row
        %li Start date
        %li= @project.start_date
      %ul.row
        %li End date
        %li= @project.end_date
      %ul.row
        %li Currency
        %li= @project.currency

  %h3.form_heading Past Expenditure
  %ul.dashboard_section
    %li
      %ul.row
        %li Spend
        %li= @project.spend
      %ul.row
        %li Spend Q4 08-09
        %li= @project.spend_q4_prev
      %ul.row
        %li Spend Q1 09-10
        %li= @project.spend_q1
      %ul.row
        %li Spend Q2 09-10
        %li= @project.spend_q2
      %ul.row
        %li Spend Q3 09-10
        %li= @project.spend_q3
      %ul.row
        %li Spend Q4 09-10
        %li= @project.spend_q4

  %h3.form_heading Budget (planned expenditure)
  %ul.dashboard_section
    %li
      %ul.row
        %li Budget
        %li= @project.budget
      %ul.row
        %li Budget Q4 08-09
        %li= @project.budget_q4_prev
      %ul.row
        %li Budget Q1 09-10
        %li= @project.budget_q1
      %ul.row
        %li Budget Q2 09-10
        %li= @project.budget_q2
      %ul.row
        %li Budget Q3 09-10
        %li= @project.budget_q3
      %ul.row
        %li Budget Q4 09-10
        %li= @project.budget_q4
      %ul.row
        %li Entire Budget
        %li= @project.entire_budget
      %ul.row
        %li Locations
        %li= @project.locations.map(&:short_display).join(', ')

  %h3.form_heading In flows
  %ul.dashboard_section
    - @project.in_flows.each do |flow|
      = debug flow
      %li
        %ul.row
          %li From
          %li= flow.from.try(:name)
        %ul.row
          %li Budget
          %li= flow.budget
        %ul.row
          %li Spend
          %li= flow.spend
        %ul.row
          %li Spend Q4 08-09
          %li= flow.spend_q4_prev
        %ul.row
          %li Spend Q1 09-10
          %li= flow.spend_q1
        %ul.row
          %li Spend Q2 09-10
          %li= flow.spend_q2
        %ul.row
          %li Spend Q3 09-10
          %li= flow.spend_q3
        %ul.row
          %li Spend Q4 09-10
          %li= flow.spend_q4

  %h3.form_heading Out flows
  %ul.dashboard_section
    - @project.out_flows.each do |flow|
      %li
        %ul.row
          %li To
          %li= flow.from.try(:name)
        %ul.row
          %li Budget
          %li= flow.budget
        %ul.row
          %li Spend
          %li= flow.spend
        %ul.row
          %li Spend Q4 08-09
          %li= flow.spend_q4_prev
        %ul.row
          %li Spend Q1 09-10
          %li= flow.spend_q1
        %ul.row
          %li Spend Q2 09-10
          %li= flow.spend_q2
        %ul.row
          %li Spend Q3 09-10
          %li= flow.spend_q3
        %ul.row
          %li Spend Q4 09-10
          %li= flow.spend_q4

= render :partial => 'shared/comments'
