// GN TODO: refactor so its [:budget, :spend].each do |m| render "some_partial", :response => @response, :amount_method => m
%tr
  %th{:colspan => 5}
    Current Budget
- @response.projects_with_activities_not_matching_amounts(:budget).each do |project|
  - if true
    %tr{:class => "#{dom_id(project)}"}
      %td.first
        = link_to image_tag('icon_collapse.png', :class => "#{dom_id(project)}_budget_image"), '#', :id => "#{dom_id(project)}_budget", :class => "collapse"
        = link_to project.name, edit_response_project_path(@response, project)
      %td.first= n2crs(project.budget, project.currency)
      %td.first= n2crs((project.activities_budget_total + project.other_costs_budget_total), project.currency)
      %td.first= n2crs((project.budget || 0) - (project.activities_budget_total + project.other_costs_budget_total), project.currency)
      - project.normal_activities.each do |activity|
        %tr{:class => "#{dom_id(project)}_budget"}
          %td.activity= link_to nice_name(activity, 50), edit_response_activity_path(@response, activity)
          %td.activity
          %td.activity= n2crs(activity.budget, project.currency)

%tr
  %th{:colspan => 5}
    Expenditure

- @response.projects_with_activities_not_matching_amounts(:spend).each do |project|
  - if true
    %tr
      %td.first
        = link_to image_tag('icon_collapse.png', :class => "#{dom_id(project)}_spend_image"), '#', :id => "#{dom_id(project)}_spend", :class => "collapse"
        = link_to project.name, edit_response_project_path(@response, project)
      %td.first= n2crs(project.spend, project.currency)
      %td.first= n2crs(project.activities_spend_total + project.other_costs_spend_total, project.currency)
      %td.first= n2crs((project.spend || 0) - (project.activities_spend_total + project.other_costs_spend_total), project.currency)
      - project.normal_activities.each do |activity|
        %tr{:class => "#{dom_id(project)}_spend"}
          %td.activity= link_to nice_name(activity, 50), edit_response_activity_path(@response, activity)
          %td.activity
          %td.activity= n2crs(activity.spend, project.currency)
