- if activities.empty?
- else
  %p.guide Click the classify link at the end of each row to classify each other cost. Unchecked boxes mean that coding has not been started or does not add up to the correct amount. You may click the "Use Budget codings for Expenditure" box to use the classifications as for the budget if they are roughly similar. Refreshing this page will remove rows you have corrected.
  %h3= "Uncoded #{type.capitalize}"
  .simple_table
    %table
      %thead
        %tr
          %td Name
          %td Description
          %td Expenditure by Purposes
          %td Expenditure by Inputs
          %td Use Budget classifications for Expenditure
          %td.manage Manage
      %tbody
        - activities.each do |activity|
          %tr
            %th= activity.name
            %th= activity.description
            %th= check_box_tag "", "", activity.coding_spend_classified?, {:disabled => "disabled"}
            %th= check_box_tag "", "", activity.coding_spend_cc_classified?, {:disabled => "disabled"}
            %th= "#{link_to 'Classify', activity_code_assignments_path(activity), :target => "_blank"} #{link_to 'Edit', edit_response_other_cost_path(activity.data_response, activity)}"
    %hr
