- other_costs = false
- other_costs = true if activities.first.class == OtherCost
- colspan = 0
- ["purposes", "locations", "inputs"].each do |request|
  - colspan += 1
  - colspan -= 1 if request != "locations" && activities.first.class == OtherCost

.simple_table.push
  %table
    %thead
      %tr
        %th Name
        %th Locations
        - unless other_costs
          %th Purposes
          %th Inputs
        %th.manage Manage
    %tbody
      - activities.each do |activity|
        %tr
          %td= friendly_name(activity, 64)
          %td= check_box_tag "", "", activity.locations_classified?
          - unless other_costs
            %td= check_box_tag "", "", activity.purposes_classified?
            %td= check_box_tag "", "", activity.coding_spend_cc_valid? && activity.coding_budget_cc_valid?
          %td= link_to 'Classify', link_to_unclassified(activity)

