- other_costs = false
- other_costs = true if activities.first.class == OtherCost
- colspan = 4
- colspan = 3 if other_costs

.simple_table.push
  %table
    %thead
      %tr
        %th Name
        %th{:colspan => colspan} Budget
        %th{:colspan => colspan} Spend
        %th.manage Manage
      %tr
        %th
        %th Purposes
        - unless other_costs
          %th Locations
        %th Inputs
        %th Service Level
        %th Purposes
        - unless other_costs
          %th Locations
        %th Inputs
        %th Service Level
        %th
    %tbody
      - activities.each do |activity|
        %tr
          %td= nice_name(activity)
          %td= check_box_tag "", "", activity.coding_budget_classified?, {:disabled => "disabled"}
          - unless other_costs
            %td= check_box_tag "", "", activity.coding_budget_district_classified?, {:disabled => "disabled"}
          %td= check_box_tag "", "", activity.coding_budget_cc_classified?, {:disabled => "disabled"}
          %td= check_box_tag "", "", activity.service_level_budget_classified?, {:disabled => "disabled"}
          %td= check_box_tag "", "", activity.coding_spend_classified?, {:disabled => "disabled"}
          - unless other_costs
            %td= check_box_tag "", "", activity.coding_spend_district_classified?, {:disabled => "disabled"}
          %td= check_box_tag "", "", activity.coding_spend_cc_classified?, {:disabled => "disabled"}
          %td= check_box_tag "", "", activity.service_level_spend_classified?, {:disabled => "disabled"}
          %td= link_to 'Classify', activity_code_assignments_path(activity)