- title("Submit Response")

= render :partial => 'projects/sub_nav'

%h1.main_heading Submit Response

%ul.status
  %li
    %span Request:
    = @response.request.title
  %li
    %span Status:
    = @response.request.status
  %li
    %span Last Submitted:
    = !@response.last_submitted_at.nil? ? l(@response.last_submitted_at, :format => :short) : 'never'

= render 'getting_started_submit'

= error_messages_for :response, :header_message => "", :message => ""

- ready_class = @response.projects_entered? ? "ready" : "not-ready"
%h3{:class => ready_class}
  Projects Entered
  - unless @response.projects_entered?
    %span.info
      = render 'projects/no_projects_yet'

- ready_class = @response.projects_spend_entered? ? "ready" : "not-ready"
%h3{:class => ready_class}
  Projects: Expenditures Entered
  - unless @response.projects_spend_entered?
    - if @response.projects_entered?
      %span.info Enter the Expenditure (Spend) for all of your projects.
    - else
      %span.info
        = render 'projects/no_projects_yet'

- ready_class = @response.projects_budget_entered? ? "ready" : "not-ready"
%h3{:class => ready_class}
  Projects: Budgets Entered
  - unless @response.projects_budget_entered?
    - if @response.projects_entered?
      %span.info Enter the Budget for all of your projects.
    - else
      %span.info
        = render 'projects/no_projects_yet'

- if @response.projects_without_spend
  %ul.push
    - @response.projects_without_spend.each do |p|
      %li= link_to friendly_name(p), edit_response_project_path(@response, p)

- ready_class = @response.projects_have_activities? ? "ready" : "not-ready"
%h3{:class => ready_class}
  Activities Entered
  - unless @response.projects_have_activities?
    - unless @response.projects_entered?
      %span.info
        = render 'projects/no_projects_yet'
        then you can start adding Activities.
    - else
      %span.info
        You have project(s), but not all have activities yet.
        = link_to "Start by adding your activities here.", response_projects_path(@response)

- ready_class = @response.activities_coded? ? "ready" : "not-ready"
%h3{:class => ready_class}
  Activities Classified
  - unless @response.activities_coded?
    - unless @response.uncoded_activities.empty?
      %span.info
        Click the classify link at the end of each row to classify each activity. Unchecked boxes mean that coding has not been started or does not add up to the correct amount.
    - else
      %span.info
        Start by adding a few Activities first (see above), then you can start classifying them.
- unless @response.activities_coded?
  - unless @response.uncoded_activities.empty?
    = render 'uncoded_table', :activities => @response.uncoded_activities

- ready_class = @response.projects_have_other_costs? ? "ready" : "not-ready"
%h3{:class => ready_class}
  Other Costs Entered
  - unless @response.projects_have_other_costs?
    - unless @response.projects_entered?
      %span.info
        = render 'projects/no_projects_yet'
        then you can start adding Other Costs.
    - else
      %span.info
        Other Costs help you include any financial information at the central level and/or administrative expenses.
        = link_to "Start adding your Other Costs now.", response_projects_path(@response)

- ready_class = @response.other_costs_coded? ? "ready" : "not-ready"
%h3{:class => ready_class}
  Other Costs Classified
  - unless @response.other_costs_coded?
    - unless @response.uncoded_other_costs.empty?
      %span.info Click the classify link at the end of each row to classify each Other Cost. Unchecked boxes mean that coding has not been started or does not add up to the correct amount.
    - else
      %span.info Start by adding a few Other Costs first (see above), then you can start classifying them.

- unless @response.other_costs_coded?
  - unless @response.uncoded_other_costs.empty?
    = render 'uncoded_table', :activities => @response.uncoded_other_costs

- if @response.request.final_review?
  - ready_class = @response.projects_linked? ? "ready" : "not-ready"
- else
  - ready_class = @response.projects_linked? ? "ready" : "info"
%h3{:class => ready_class}
  Projects Linked to the Funder Projects
  - unless @response.projects_linked?
    %span.info
      Once your Funder's have added all their projects too, please
      = link_to "link your projects", bulk_edit_response_projects_path(@response)
      to each Funder project respectively.



- ready_class = @response.projects_and_funding_sources_have_correct_budgets? ? "ready" : "not-ready"
%h3{:class => ready_class}
  Correct Budget amounts for Projects & Funding Sources
  - unless @response.projects_and_funding_sources_have_correct_budgets?
    %span.info
      Project Budget amounts are not equal to sum of Funding Source Budget amounts, please 
      = link_to "edit your projects", response_projects_path(@response)
      and enter correct amounts.


- ready_class = @response.projects_and_funding_sources_have_correct_spends? ? "ready" : "not-ready"
%h3{:class => ready_class}
  Correct Expenditure amounts for Projects & Funding Sources
  - unless @response.projects_and_funding_sources_have_correct_spends?
    %span.info
      Project Expenditure amounts are not equal to sum of Funding Source Expenditure amounts, please 
      = link_to "edit your projects", response_projects_path(@response)
      and enter correct amounts.

- ready_class = @response.projects_and_activities_have_correct_budgets? ? "ready" : "not-ready"
%h3{:class => ready_class}
  Correct Budget amounts for Projects, Activities & Other Costs
  - unless @response.projects_and_activities_have_correct_budgets?
    %span.info
      Project Budget amounts are not equal to sum of Activities and Other Costs Budget amounts, please 
      = link_to "edit your projects", response_projects_path(@response)
      and enter correct amounts.

- ready_class = @response.projects_and_activities_have_correct_spends? ? "ready" : "not-ready"
%h3{:class => ready_class}
  Correct Expenditure amounts for Projects, Activities & Other Costs
  - unless @response.projects_and_activities_have_correct_spends?
    %span.info
      Project Expenditure amounts are not equal to sum of Activities and Other Costs Expenditure amounts, please 
      = link_to "edit your projects", response_projects_path(@response)
      and enter correct amounts.

%hr.divider
%p
  = link_to "Submit", submit_response_path(current_user.current_data_response), :method => :put, :confirm => "Are you sure?", :class => "next big"
