- title("Submit Response")

- content_for :sub_nav do
  = render :partial => 'layouts/sub_nav'

%h1.main_heading Submit Response

- if current_user.tips_shown
  = render 'getting_started_submit'

= render 'uncoded_table', :activities => @uncoded_activities,  :type => "activities" unless @warnings.include?(:activities_missing)
= render 'uncoded_spend_table', :activities => @budget_activities,   :type => "activities with budget but no expenditure codings" unless @budget_activities.empty?
= render 'uncoded_other_cost_table', :activities => @uncoded_other_costs, :type => "other costs" unless @warnings.include?(:other_costs_missing)
= render 'uncoded_other_cost_spend_table', :activities => @budget_other_costs,  :type => "other costs with budget but no expenditure codings" unless @budget_other_costs.empty?

- unless @warnings.empty?
  #flashes.wide
    #notice
      = display_warnings(@warnings, @data_response)

%p
  = link_to "Submit", submit_response_path(current_user.current_data_response), :method => :put, :confirm => "Are you sure?", :class => "next big"
