.form_aside
  %h3 What's an Other Cost?
  %p Other Costs are designed to help you identify where your organization classifies activities other than those that fit into activities that you’ve categorized. E.g. expenses for managing projects at a central level.
  %br
  %h3 How do I add more detail?
  %p To detail the expenses for one or more projects, create a new flow, and select the number of projects the detail applies to.  Once you have created a flow, click on the "detail cost areas" link and classify/split these costs.
  %br
  %p
    Read more on our
    = link_to "Other Costs FAQ", "https://hrtapp.tenderapp.com/search?t=f&q=other", :target => '_blank'
- f.inputs :class => 'wrap-80 inputs' do
  %li.last
    %h3 Basics
    %ul.dashboard_section
      = f.input :project_id, :label => "Project", :as => :check_boxes, :collection => current_user.organization.projects
      = f.input :description, :input_html => { :rows => 3 }, :required => false

  %li.last
    %h3 Past Expenditure
    %ul.dashboard_section

      = f.input :spend, :label => "Spend", :hint => "The total amount that you have spent in the past fiscal year.", :required => false

      %li.amounts.last
        %label Quarterly spend
        %ul
          = f.input :spend_q4_prev, :label => "Q4 08-09", :required => false
          = f.input :spend_q1     , :label => "Q1 09-10", :required => false
          = f.input :spend_q2     , :label => "Q2 09-10", :required => false
          = f.input :spend_q3     , :label => "Q3 09-10", :required => false
          = f.input :spend_q4     , :label => "Q4 09-10", :required => false

  %li.last
    %h3 Budget (planned expenditure)
    %ul.dashboard_section
      = f.input :budget, :label => "Budget", :hint => "The total amount that you are planning to spend in the upcoming fiscal year.", :required => false

- f.buttons :class => 'wrap-80 buttons' do
  = f.commit_button @other_cost.new_record? ? "Create Other Cost" : "Update Other Cost", :class => "last"
