- sorted_projects = @response.projects.sort_by{|p| p.name}.collect{|u| [u.name, u.id]}

- f.inputs :class => 'inputs' do
  %li.last
    %h3 Basics
    %ul.dashboard_section
      = f.input :project_id, :label => "Project", :as => :select, :collection => sorted_projects.insert(0,["<Automatically create a project for me>", -1], ["<No project>", nil]) , :hint => "The Project this Other Cost correlates to", :prompt => 'Select a project...'
      = f.input :name, :hint => "The name of this Other Cost."
      = f.input :description, :input_html => { :rows => 2 }, :required => false, :hint => "A description of this Other Cost."
      = f.input :start_date, :as => :string, :label => "Start date", :input_html => {:class => 'date_picker'}, :hint => "(YYYY-MM-DD) When the Project (and it's related Activities) started.", :required => true
      = f.input :end_date, :as => :string, :label => "End date", :input_html => {:class => 'date_picker'}, :hint => "(YYYY-MM-DD) The end date for the Project’s implementation.", :required => true

  %li.last
    %h3== Implementers
    %ul.dashboard_section
      %p.hint Service Providers and partners you work with
      - hint = "Service Providers who implement activities for your organization's projects/activities. E.g. a NGO, a Health Facility Institution, Government office, or a District."
      - hint = hint + "<br>NOTE: You uploaded \"#{@other_cost.text_for_provider}\"" if !@other_cost.text_for_provider.blank? && @activity.provider.nil?
      .implementer_container
        = f.input :provider, :label => "Implementer", :as => :select, :collection => funding_organizations_select, :hint => hint, :required => false, :input_html => {:class => 'js_implementer_select'}
      / not sure what this partial was doing, the routes don't even work
      =# render :partial => 'shared/add_organizations'

  %li.last
    %h3== Other
    %ul.dashboard_section.single_column
      = f.input :beneficiaries, :as => :check_boxes, :label => "Beneficiaries", :hint => "Beneficiaries of your Other Cost, if applicable to any of these population groups."
      = f.input :text_for_beneficiaries, :input_html => { :rows => 2 }, :label => "Other beneficiaries", :as => :text, :required => false, :hint => "Beneficiaries of your Other Cost that are not listed above."

  %li
    %ul.horizontal.borderless
      - f.buttons :class => 'buttons1' do
        = f.commit_button "Save", :button_html => {:class => "last big_button"}
        = f.commit_button "Save & Classify >", :button_html => {:class => "last big_button"}
        %li
          = link_to "Cancel", response_projects_path(@response), :class => "js_toggle_projects_listing add_row cancel_button last"

- unless @other_cost.new_record?
  .delete_section
    = link_to "Delete this Other Cost", response_other_cost_path(@response, @other_cost), :confirm => "Are you sure you want to delete this other Cost?", :method => :delete, :class => "delete_button", :class => 'delete_action'
    %p
      %strong Warning:
      Once you delete an Other Cost, you will lose all data associated with it, and there is no undo.
