%tr{:class => cycle("even", "odd")}
  %td= other_cost.project.try(:name)
  %td= link_to other_cost.description.presence || 'No Description Entered', response_other_cost_path(@data_response, other_cost)
  %td= c(other_cost.spend, other_cost.currency)
  %td= c(other_cost.budget, other_cost.currency)
  %td= b other_cost.classified?
  %td
    %ul.manage_bar
      %li= link_to "Show", response_other_cost_path(@data_response, other_cost)
      %li= link_to "Edit", edit_response_other_cost_path(@data_response, other_cost)
      %li= link_to "Detail Cost Areas", activity_code_assignments_url(other_cost)
      %li= link_to "X", response_other_cost_path(@data_response, other_cost), :confirm => "Are you sure you want to delete this other cost?", :method => :delete, :class => "right"
