- title(truncate(@other_cost.description, :length => 100))
- fiscal_year_prev = fiscal_year_prev(@response)
- fiscal_year = fiscal_year(@response)

= render 'activities/tab_nav', :activity => @other_cost

%h1.main_heading
  = truncate(@other_cost.description, :length => 100)

  %span
    %ul.manage_bar.inline
      %li= link_to "Edit", edit_response_other_cost_path(@response, @other_cost)
      %li= link_to "X", response_other_cost_path(@response, @other_cost), :confirm => "Are you sure you want to delete this other cost?", :method => :delete

.wrap-70
  %h3.form_heading Basics
  %ul.dashboard_section
    %li
      %ul.row
        %li Project name
        %li= @other_cost.project.try(:name)
      %ul.row
        %li Description
        %li= @other_cost.description

  %h3.form_heading Past Expenditure
  %ul.dashboard_section
    %li
      %ul.row
        %li Spend
        %li= c(@other_cost.spend, @other_cost.currency)
      %ul.row
        %li= "Spend Q4 #{fiscal_year_prev}"
        %li= c(@other_cost.spend_q4_prev, @other_cost.currency)
      %ul.row
        %li= "Spend Q1 #{fiscal_year}"
        %li= c(@other_cost.spend_q1, @other_cost.currency)
      %ul.row
        %li= "Spend Q2 #{fiscal_year}"
        %li= c(@other_cost.spend_q2, @other_cost.currency)
      %ul.row
        %li= "Spend Q3 #{fiscal_year}"
        %li= c(@other_cost.spend_q3, @other_cost.currency)
      %ul.row
        %li= "Spend Q4 #{fiscal_year}"
        %li= c(@other_cost.spend_q4, @other_cost.currency)

  %h3.form_heading Budget (planned expenditure)
  %ul.dashboard_section
    %li
      %ul.row
        %li Budget
        %li= c(@other_cost.budget, @other_cost.currency)

  %h3.form_heading Classifications
  %ul.dashboard_section
    %li
      %ul.row
        %li Budget by Health Functions
        %li= b @other_cost.coding_budget_classified?
      %ul.row
        %li Budget by Locations
        %li= b @other_cost.coding_budget_district_classified?
      %ul.row
        %li Budget by Inputs
        %li= b @other_cost.coding_budget_cc_classified?
      %ul.row
        %li Spend by Health Functions
        %li= b @other_cost.coding_spend_classified?
      %ul.row
        %li Spend by Locations
        %li= b @other_cost.coding_spend_district_classified?
      %ul.row
        %li Spend by Inputs
        %li= b @other_cost.coding_spend_cc_classified?

= render :partial => 'shared/comments', :comments => @comments
