
%table.standard.clickable
  %thead
    %tr
      %th Name
      %th Organization
      %th Project
      %th Funders
      %th Total Spent
      %th Total Budget

  %tbody
    - activities.each do |activity|
      %tr{:class => cycle("even", "odd")}
        - project = activity.projects.first
        %td= link_to "#{friendly_name(activity)}", admin_district_activity_path(location, activity)
        %td= h activity.org_name
        %td= h friendly_name(project)
        %td
          - if project
            %ul
              - project.funding_sources.map(&:name).uniq.each do |name|
                %li= name
        %td= n2c(activity.spent_sum, activity.amount_currency)
        %td= n2c(activity.budget_sum, activity.amount_currency)
