%ul.breadcrumb
  %li= link_to "Districts", admin_districts_path
  %li >
  %li= link_to h(@location.name), admin_district_path(@location)
  %li >

%h1 Activities

%h2 Spent

%h2 Budgeted


%h2= "Activities (#{@activities.count})"
%table
  %thead
    %tr
      %th Name
      %th Organization
      %th Project
      %th Funders
      %th Total Spent
      %th Total Budgeted

  %tbody
    - @activities.each do |act|
      - project = act.projects.first
      %tr{:class => cycle("even", "odd")}
        %td= link_to "#{friendly_name(act.name)}", admin_district_activity_path(@location, act)
        %td= h act.organization.name
        %td= h friendly_name(project.try(:name))
        %td
          - if project
            %ul
              - project.funding_sources.map(&:name).uniq.each do |name|
                %li= name
        %td= act.spend
        %td= act.budget