= render 'pie_chart_loader'

%ul.breadcrumb
  %li= link_to "Districts", admin_districts_path
  %li= link_to h(@location.name), admin_district_path(@location)

%h1.main_heading Activities

%div
  %h2 Spent

%p.bordered= @total_spent

%div
  %h2 Budgeted

%div
  %h2 MTEF Spent
  #mtef_spent_pie

%div
  %h2 MTEF Budgeted
  #mtef_budget_pie

%h2= "Activities (#{short_page_entries_info(@spend_codings)})"
%table.standard
  %thead
    %tr
      %th Name
      %th Organization
      %th Project
      %th Funders
      %th Total Spent
      %th Total Budgeted

  %tbody
    - @spend_codings.each do |c|
      - act = c.try(:activity)
      %tr{:class => cycle("even", "odd")}
        - if act.nil?
          %td{:colspan => 100}= "Bad data! code id: #{c.id}"
        - else
          - project = act.projects.first
          - budget = act.coding_budget_district.with_location(@location.id).find(:first)
          %td= link_to "#{friendly_name(act.name)}", admin_district_activity_path(@location, act)
          %td= h act.organization.name
          %td= h friendly_name(project.try(:name))
          %td
            - if project
              %ul
                - project.funding_sources.map(&:name).uniq.each do |name|
                  %li= name
          %td= c.cached_amount.round(2)
          %td
            = budget.nil? ? 'n/a' : budget.cached_amount

= will_paginate @spend_codings
