= render 'admin/districts/pie_chart_js'

%ul.breadcrumb
  %li= link_to "Districts", admin_districts_path
  %li= link_to h(@location.name), admin_district_path(@location)

%h1.main_heading Activities

.full
  .first-half
    %h2 Spent
    #spent_pie.bordered

  .second-half
    %h2 Budgeted
    #budget_pie.bordered

%h2= "Activities (#{short_page_entries_info(@spend_codings)})"

%table.standard.clickable
  %thead
    %tr
      %th Name
      %th Organization
      %th Project
      %th Funders
      %th Total Spent
      %th Total Budgeted

  %tbody
    - @spend_codings.each do |c|
      - act = c.try(:activity)
      %tr{:class => cycle("even", "odd")}
        - if act.nil?
          %td{:colspan => 100}= "Bad data! code id: #{c.id}"
        - else
          - project = act.projects.first
          - budget = act.coding_budget_district.with_location(@location.id).find(:first)
          %td= link_to "#{friendly_name(act.name)}", admin_district_activity_path(@location, act)
          %td= h act.organization.name
          %td= h friendly_name(project.try(:name))
          %td
            - if project
              %ul
                - project.funding_sources.map(&:name).uniq.each do |name|
                  %li= name
          %td= c.cached_amount.round(2)
          %td
            = budget.nil? ? 'n/a' : budget.cached_amount

= will_paginate @spend_codings
