= render 'admin/districts/pie_chart_js'

%ul.breadcrumb
  %li= link_to "Districts", admin_districts_path
  %li= link_to h(@location.name), admin_district_path(@location)
  %li= link_to 'Activities', admin_district_activities_path(@location)

%h1.main_heading= "Activity: #{friendly_name(@activity.name)}"

%h2= "Organization: #{@activity.organization_name}"

%table.standard
  %tbody
    %tr
      %td Description:
      %td= h @activity.description.titleize
    %tr
      %td Implementer
      %td= @activity.implementer
    %tr
      %td Currency
      %td= @activity.currency
    %tr
      %td Approved?
      %td= @activity.approved? ? "Yes" : "No"

%br
- if @charts_loaded
  .full
    .first-half
      %h2 Proportion Spent
      #spent_pie

    .second-half
      %h2 Proportion Budgeted
      #budget_pie.bordered

  %ul.group
    %li= link_to "MTEF", admin_district_activity_path(@location, @activity), active_if([:show, :mtef])
    %li= link_to "NSP", "#", active_if([:nsp])
    %li= link_to "HSSP", "#", active_if([:hssp])

  .full
    .first-half
      %h2 MTEF Spent
      #mtef_spent_pie.bordered

    .second-half
      %h2 MTEF Budgeted
      #mtef_budget_pie.bordered

