%fieldset.inputs
  %ol
    %li.last
      %ul.section_form
        = f.select :raw_type, options_for_select(Organization::ORGANIZATION_TYPES, f.object.raw_type), { :include_blank => true  }, :label => 'Raw type', :hint => 'Raw type of organization', :label_html => { :class => 'indented' }, :input_html => { :class => 'string required' }, :wrapper_html => { :class => 'input-wrapper' }, :tabindex => autotab
        = f.select :currency, options_for_select(currency_options_for_select, f.object.currency), { :include_blank => true }, :label => 'Currency', :hint => 'Select the default currency for your organization', :label_html => { :class => 'indented' }, :tabindex => autotab
        = f.text_field :name, :label => "Name", :required => true, :hint => "What is the name of the organization?", :label_html => { :class => 'indented' }, :wrapper_html => { :class => 'input-wrapper' }, :tabindex => autotab
        = f.text_field :fosaid, :label => "Fosaid", :required => true, :hint => "Fosaid or organization", :label_html => { :class => 'indented' }, :wrapper_html => { :class => 'input-wrapper' }, :tabindex => autotab
        %br
        = f.submit @organization.new_record? ? 'Create organization' : 'Update organization', :class => "next update"

    %h2 Funder For:
    %li.last
      %ul.section_form
        %table.standard.rounded
          %thead
            %tr
              %th Project
              %th Organization
          %tbody
            - @organization.out_flows.each do |of|
              %tr
                %td= of.project.name
                %td= of.organization.name


    %h2 Implementer For:
    %li.last
      %ul.section_form
        %table.standard.rounded
          %thead
            %tr
              %th Activity
              %th Organization
          %tbody
            - @organization.implementer_splits.each do |is|
              %tr
                %td= is.activity.name
                %td= is.organization_name

- unless @organization.new_record?
  .delete_section
    = link_to "Delete this Organization", admin_organization_path(@organization), :confirm => "Are you sure you want to delete this Organization?", :method => :delete, :class => 'delete_action'
    %p
      %strong Warning:
      Once you delete an Organization, you will lose all data associated with it, and there is no undo.
