.organization
  Organization:
  = @organization.name

%ul
  %li
    Total projects:
    = @organization.projects.count

  %li
    Total activities:
    = @organization.activities.count

  %li
    Location:
    = @organization.location_name

  %li
    Total users:
    = @organization.users.count
