.organization
  Organization:
  = @organization.name

%ul
  %li
    Total activities:
    = @organization.activities.count

  %li
    Total out flows:
    = @organization.out_flows.count

  %li
    Location:
    = @organization.location_name

  %li
    Total users:
    = @organization.users.count
