.organization
  Organization:
  = @organization.name

%ul
  %li
    Total activities:
    = @organization.activities.count

  %li
    Total data requests:
    = @organization.data_requests.count

  %li
    Total data responses:
    = @organization.data_responses.count

  %li
    Total out flows:
    = @organization.out_flows.count

  %li
    Total in flows:
    = @organization.in_flows.count

  %li
    Implementer for:
    = @organization.provider_for.count

  %li
    Total locations:
    = @organization.locations.count

  %li
    Total users:
    = @organization.users.count
