- form_tag remove_duplicate_admin_organizations_path, :method => :put do
  .box{:"data-type" => 'duplicate'}
    %h2 Potential duplicates
    = label_tag :duplicate_organization_id, "Duplicate organization"
    = select_tag :duplicate_organization_id, options_for_select(@potential_duplicate_organiations.map{|o| [o.name, o.id]})
    
  .box{:"data-type" => 'target'}
    %h2 All organizations
    = label_tag :target_organization_id, "Target organization"
    = select_tag :target_organization_id, options_for_select(@all_organizations.map{|o| [o.name, o.id]})

  .submit
    = submit_tag "Merge", :confirm => 'Are you sure?'

  .preview
    #duplicate
    #target

