- title("Organization: #{@organization.name}")

%h1.main_heading
  = "Organization: #{@organization.name}"

  %span
    %ul.manage_bar.inline
      %li= link_to "Edit", edit_admin_organization_path(@organization)
      %li= link_to "X", admin_organization_path(@organization), :confirm => "Are you sure you want to delete this organization?", :method => :delete


.wrap-70
  %h3.form_heading Organization details
  %ul.dashboard_section
    %li
      %ul.row
        %li Name
        %li= @organization.name
      %ul.row
        %li Raw type
        %li= @organization.raw_type
      %ul.row
        %li Fosaid
        %li= @organization.fosaid
