- code_assignments = find_existing_assignments(activity)
- amount = activity.send(get_coding_type(params[:id])) || 0
- coding_name = friendly_name_for_coding_copy(params[:id]).singularize

%tr{:class => "js_purpose_row", :"data-amount" => amount}
  %td.name.fixed
    = project.name
    %span= activity.title
  %td.no-padding{:colspan => 3}
    - form_tag response_classification_path(@response, params[:id], :activity_id => activity.id), :method => :put do
      %table.nested
        %tbody
          - code_assignments.each do |ca|
            - if ca.amount.present? || ca.percentage.present?
              = render 'purpose', :ca => ca
          = render 'add_purpose_form', :coding_name => coding_name
          = render 'purpose_footer', :activity => activity, :code_assignments => code_assignments, :coding_name => coding_name
