- code_assignments = find_existing_assignments(activity)
- amount = activity.send(get_coding_type(params[:id])) || 0
- coding_name = friendly_name_for_coding_copy(params[:id]).singularize

%tr{:class => "js_purpose_row", :"data-amount" => amount, :"data-activity_id" => activity.id, :"data-box_id" => activity.id}
  %td.nested_name.fixed
    = project.name
    %span= activity.title
    %span= activity.id
  %td.no-padding{:colspan => 3}
    %table.nested
      %tbody
        - code_assignments.each do |ca|
          - if ca.amount.present? || ca.percentage.present?
            = render 'purpose_row.html.haml', :ca => ca, :activity => activity
        = render 'purpose_footer.html.haml', :activity => activity, :code_assignments => code_assignments, :coding_name => coding_name


    %ul.mcdropdown_menu{:id => "purpose_menu_#{activity.id}"}
      - coding_tree = CodingTree.new(activity, params[:id].constantize)
      - coding_tree.root_codes.sort_by(&:short_display).each do |code|
        = render 'code_row', :code => code, :coding_tree => coding_tree
