- heading_hint = "The percentage of the total activity amount."
- unless params[:mode] == 'locations'
  - heading_hint += " Enter the most detailed level first, and we'll roll it up for you automatically."
- if @budget_coding_tree.root_codes.present?
  %p#expl
    %span.spend
      %span Expenditure %
      = link_to image_tag("tooltip.png"), "#", :title => heading_hint, :class => 'tooltip'
      - alt_txt = "Copy Past Expenditure to Current Budget"
      = link_to image_tag("icon_s2b.png", :alt => alt_txt, :title => alt_txt, :class => "click"), '#', :id => 'js_spend_to_budget'
    %span.budget
      = link_to image_tag("icon_b2s.png", :alt => alt_txt, :title => alt_txt, :class => "click"), '#', :id => 'js_budget_to_spend'
      %span Current Budget %
      = link_to image_tag("tooltip.png"), "#", :title => heading_hint, :class => 'tooltip right'
      - alt_txt = "Copy Current Budget to Past Expenditure"

  %ul.activity_tree{:activity_budget => outlay.budget, :activity_spend => outlay.spend, :activity_currency => outlay.currency}
    - @budget_coding_tree.root_codes.each do |code|
      = render 'classifications/code_row', :code => code, :margin => 0, :outlay => outlay
 
    %li
      .values.right
        %p.classifications_total.spend_total
          %span.label.left Total
          %span.amount.right= 0
          %span.percentage.right= '%'
        %p.classifications_total.budget_total
          %span.label.left Total
          %span.amount.right= 0
          %span.percentage.right= '%'
    = submit_tag 'Save', :class => 'submit_btn js_submit_btn next big'
    = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => 'display: none;'
