%div.clearfix
  .code_label
    - id = "activity[code_assignment_tree][#{code.id}]"
    = check_box_tag id, code.id, classified, { :tabindex => -1 }
    = link_to image_tag("tooltip.png"), "#", :title => code.description, :class => "tooltip info" if code.description
    = label_tag id, code.short_display

  .values.js_values.right
    .classification_input_left
      .spend.js_spend{:style => "width: #{150-margin}px;"}
        - spend_assignment = @spend_assignments[code.id]
        - valid = spend_assignment && !@spend_coding_tree.valid_ca?(spend_assignment)
        = render '/classifications/fields', :code => code, :assignment => spend_assignment, :klass => @spend_klass, :type => :spend, :valid => valid
    .classification_input_right
      .budget.js_budget{:style => "width: #{150-margin}px;"}
        - budget_assignment = @budget_assignments[code.id]
        - valid = budget_assignment && !@budget_coding_tree.valid_ca?(budget_assignment)
        = render '/classifications/fields', :code => code, :assignment => budget_assignment, :klass => @budget_klass, :type => :budget, :valid => valid
