%div.clearfix
  .left
    - id = "activity[code_assignment_tree][#{code.id}]"
    = check_box_tag id, code.id, classified
    = label_tag id, code.short_display
    = link_to "(?)", "#", :title => code.description, :class => "tooltip info" if code.description
  .values.js_values.right
    .spend.js_spend
      - spend_assignment = @spend_assignments[code.id]
      - valid = spend_assignment && !@spend_coding_tree.valid_ca?(spend_assignment)
      = render 'fields', :code => code, :assignment => spend_assignment, :type => 'spend', :valid => valid
    .budget.js_budget
      - budget_assignment = @budget_assignments[code.id]
      - valid = budget_assignment && !@budget_coding_tree.valid_ca?(budget_assignment)
      = render 'fields', :code => code, :assignment => budget_assignment, :type => 'budget', :valid => valid
