- total_spend  = cached_amount_total(code_assignments)
- total_budget  = cached_amount_total(code_assignments) ## TODO: fix!
- remaining_spend = (activity.spend || 0) - total_spend
- remaining_budget = (activity.budget || 0) - total_budget
- coding_name = "Health Function" if coding_name == "Purpose"

%tr.js_activity_total_row
  %td{:class => "name wrap-50"}
    %ul
      %li
        - link_to "#", :class => "add_purpose add_row" do
          = image_tag "new.png"
          == Add #{coding_name}
  %td.total
    %ul
      %li
        Total
        %span.js_activity_total= total_spend
        %span.currency= activity.currency
      %li.remaining.js_remaining_box{:style => (remaining_spend == 0 ? 'display: none' : nil)}
        %span.js_remaining= remaining_spend
        %span.currency= activity.currency
  %td.total
    %ul
      %li
        Total
        %span.js_activity_total= total_budget
        %span.currency= activity.currency
      %li.remaining.js_remaining_box{:style => (remaining_budget == 0 ? 'display: none' : nil)}
        %span.js_remaining= remaining_budget
        %span.currency= activity.currency
  %td.actions
    = submit_tag "Save", :style => (code_assignments.present? ? nil : 'display: none;'), :class => 'save_btn'
    = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => 'display: none;'
