-# this partial is duplicated in jQuery
-# any changes here must be reflected there!!
%tr{:"data-ca_id" => ca.id}
  %td.wrap-60
    = label_tag :"classifications[#{ca.code.id}]", "#{ca.code.short_display}"
    %span.context= ca.code.context
  %td.total= text_field_tag :"classifications[#{ca.code.id}]", ca.amount || "#{ca.percentage}%", :class => 'js_ca'
  %td.actions
    = image_tag "delete_row.png", :class => 'remove_purpose pointer'
    = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => 'display: none;'
