%tr
  %td.name.wrap-50
    %ul
      %li
        - link_to "#", :class => "add_purpose add_row" do
          = image_tag"new.png"
          Add Purpose

  %td.total
    %ul
      - total = cached_amount_total(code_assignments)
      - remaining = (activity.send(get_coding_type(params[:id])) || 0) - total

      %li
        Total
        %span= total
      - if remaining != 0
        %li.remaining
          Remaining
          %span= remaining
  %td.actions
    = submit_tag "Save", :style => (code_assignments.present? ? nil : 'display: none;'), :class => 'save_btn'
    = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => 'display: none;'
