- total  = cached_amount_total(code_assignments)
- amount = activity.send(get_coding_type(params[:id])) || 0
- remaining = amount - total

%tr.js_activity_total_row
  %td{:colspan => "2", :class => "name wrap-50"}
    %ul
      %li
        - link_to "#", :class => "add_purpose add_row" do
          = image_tag "new.png"
          == Add #{coding_name}
  %td asd

  %td.total
    %ul
      %li
        Total
        %span.js_activity_total= total
        %span.currency= activity.currency
      %li.remaining.js_remaining_box{:style => (remaining == 0 ? 'display: none' : nil)}
        Remaining
        %span.js_remaining= remaining
        %span.currency= activity.currency
  %td.actions
    = submit_tag "Save", :style => (code_assignments.present? ? nil : 'display: none;'), :class => 'save_btn'
    = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => 'display: none;'
