.upload
  %ul.horizontal
    %li= link_to 'Show mine', edit_activity_classification_path(@activity, params[:id], :view => 'my'), :class => (params[:view] == 'my' ? 'active create_new' : 'create_new')
    %li= link_to 'Show all', edit_activity_classification_path(@activity, params[:id], :view => 'all'), :class => (params[:view] == 'all' ? 'active create_new' : 'create_new')
    %li
      - link_to "#", :class => "create_new js_upload_btn" do
        = image_tag "new.png"
        Upload

  .upload_box
    %h3.title_bar Upload a CSV file for Classifications
    .dashboard_section
      %p Create one or more classifications from a CSV file. You can save an Excel spreadsheet as a CSV file through File -> Save As, then select comma separated values (CSV) in the file format box under the file name.
      %br
      - form_tag(bulk_create_activity_classification_path(@activity, params[:id]), :multipart => true, :method => 'put') do
        .upbox
          = label_tag :file, "File"
          = file_field_tag :file
        = submit_tag "Upload", :class => 'small_submit_button'

        = link_to "Download template", download_template_activity_classification_path(@activity, params[:id]), :class => "create_alt right"

= render 'classification'

