
= render 'shared/data_entry_sub_nav'

%h1.main_heading Purposes

%ul.integrated_tabs
  %li= link_to 'Spent', '#', :class => "active"
  %li= link_to 'Budget', '#'

//%ul
//  %li Activity
//  %li Purpose
//  %li Amount

%ul.purposes_list
  - @projects.each do |project|
    - project.activities.each do |activity|
      %li.activity
        %hgroup
          %h2.regular= link_to project.name, edit_response_project_path(@response, project)
          %h3= link_to activity.description.presence || '(no description)', edit_response_activity_path(@response, activity)
        - if activity.code_assignments.present?
          - form_tag response_classifications_path(@response, :activity_id => activity.id) do
            %ul.classifications
              - activity.code_assignments.each do |ca|
                %li
                  = label_tag :"#{ca.code.short_display}"
                  = text_field_tag :"#{ca.code.short_display}", ca.amount
                  %p (Services > Development)
                  = image_tag "icon_close_flash.png"

            %ul.left
              %li Add purpose
              %li= submit_tag "Save"

            %ul.right
              %li
                Total
                %span 100000
              %li
                Remaining
                %span 100000
