= render 'shared/data_entry_sub_nav'
:javascript
  var _response_id = "#{@response.id}"
%h1.main_heading Purposes

%table.standard
  %thead
    %tr
      %th
      %th{:colspan => 3}
        %ul
          %li= link_to 'Spent', edit_response_classification_path(@response, spend_coding_type(params[:id])), :class => (params[:id].match('Spend') ? 'active' : nil)
          %li= link_to 'Budget', edit_response_classification_path(@response, budget_coding_type(params[:id])), :class => (params[:id].match('Budget') ? 'active' : nil)
    %tr
      %th Activity
      %th Purpose
      %th Amount
      %th
  %tbody
    - @projects.each do |project|
      - project.activities.each_with_index do |activity, index|
        %tr{:class => "purpose_row", :id => "#{index}"}
          %td
            = project.name
            %span= activity.title
          %td{:colspan => 3}
            - form_tag response_classification_path(@response, params[:id], :activity_id => activity.id), :method => :put do
              %table.standard
                %tbody
                  - code_assignments = find_existing_assignments(activity)
                  - code_assignments.each do |ca|
                    - if ca.amount.present? || ca.percentage.present?
                      = render 'purpose', :ca => ca
                  = render 'add_purpose_form', :index => index
                  = render 'purpose_footer', :activity => activity, :code_assignments => code_assignments

= render 'dropdown_data'
