:javascript
  var _activity_id = "#{@activity.id}";

%h1.main_heading
  = link_to @activity.name.presence || "Unnamed #{@activity.class.to_s.titleize}", edit_response_activity_path(@response, @activity), :title => @activity.description, :class => 'tooltip'
  %span.sub
    = "#{@activity.class.to_s.underscore.humanize.titleize} #{get_activity_type(type)}"
    = render 'help'

= render 'getting_started'
= render 'activities/tab_nav', :activity => @activity

#classification
  %ul#activity_description.status{:class => (@classified ? 'go' : 'stop')}

    %li
      %span Current Budget Amount:
      = c(@activity.budget, @activity.currency)
    %li
      %span Past Expenditure Amount:
      = c(@activity.spend, @activity.currency)

    = render  'progress_bar', :activity => @activity

  #activity_classification
    %div.tab1{:style => 'display: block'}
      = render 'tab'
