= render 'shared/data_entry_sub_nav'
:javascript
  var _response_id = "#{@response.id}"
%h1.main_heading Purposes

%table.workplan
  %thead
    %tr
      %th.no-bg
      %th.no-padding{:colspan => 3}
        %ul.tabs
          %li= link_to 'Spent', edit_response_classification_path(@response, spend_coding_type(params[:id])), :class => (params[:id].match('Spend') ? 'active' : nil)
          %li= link_to 'Budget', edit_response_classification_path(@response, budget_coding_type(params[:id])), :class => (params[:id].match('Budget') ? 'active' : nil)
    %tr.head
      %th.name.fixed Activity
      %th.name Purpose
      %th
      %th.wrap-3
  %tbody
    - @projects.each do |project|
      - project.activities.ordered.each do |activity|
        = render 'activity_row', :project => project, :activity => activity

%ul#purpose_menu.mcdropdown_menu
  - @codes.each do |code|
    = render 'code_row', :code => code
