
= render 'shared/data_entry_sub_nav'

%h1.main_heading Purposes

%ul.integrated_tabs
  %li= link_to 'Spent', edit_response_classification_path(@response, spend_coding_type(params[:id])), :class => (params[:id].match('Spend') ? 'active' : nil)
  %li= link_to 'Budget', edit_response_classification_path(@response, budget_coding_type(params[:id])), :class => (params[:id].match('Budget') ? 'active' : nil)

//%ul
//  %li Activity
//  %li Purpose
//  %li Amount

%ul.purposes_list
  - @projects.each do |project|
    - project.activities.each_with_index do |activity, index|
      %div{:class => "purpose_row", :id => "#{index}"}
        %li.activity
          %hgroup
            %h2.regular= link_to project.name, edit_response_project_path(@response, project)
            %h3= link_to activity.description.presence || '(no description)', edit_response_activity_path(@response, activity)
          - code_assignments = activity.code_assignments.with_type(params[:id]).find(:all, :order => 'codes.short_display', :joins => :code, :conditions => 'amount IS NOT NULL OR percentage IS NOT NULL')
          - cached_amount_total = code_assignments.map{|ca| ca.cached_amount}.sum
          - form_tag response_classification_path(@response, params[:id], :activity_id => activity.id), :method => :put do
            %ul.classifications
              - code_assignments.each do |ca|
                - if ca.amount.present? || ca.percentage.present?
                  %li
                    = label_tag :"classifications[#{ca.code.id}]", "#{ca.code.short_display}"
                    = text_field_tag :"classifications[#{ca.code.id}]", ca.amount || "#{ca.percentage}%"
                    %p= ca.code.context
                    = image_tag "icon_close_flash.png"

            %ul.left
              - if code_assignments.present?
                %li= submit_tag "Save"

            %ul.right
              %li
                Total
                %span= cached_amount_total
              %li
                Remaining
                %span= activity.send(get_coding_type(params[:id])) - cached_amount_total

          %div{:id => "add_purpose_form_#{index}", :class => "hidden"}
            %ul
              %li Search purpose
              %li Save
              %li= link_to "Cancel", "#", :class => "cancel_add"
          %ul.left
            %li Add purpose
            - if code_assignments.present?
              %li= submit_tag "Save"

          %ul.right
            %li
              Total
              %span= cached_amount_total
            %li
              Remaining
              %span= activity.send(get_coding_type(params[:coding_type])) - cached_amount_total
            %li= link_to "+ Add Purpose", "#", :class => "add_purpose"
