= render 'shared/data_entry_sub_nav'

%h1 Purposes

%ul.inline_tab
  %li= link_to 'Spent', '#'
  %li= link_to 'Budget', '#'

.head Activity
.head Purpose
.head Amount

- @projects.each do |project|
  .project
    %h2= link_to project.name, edit_response_project_path(@response, project)
    - project.activities.each do |activity|
      .activity
        %h3= link_to activity.description.presence || '(no description)', edit_response_activity_path(@response, activity)
        .classifications
          - if activity.code_assignments.present?
            - form_tag response_classifications_path(@response, :activity_id => activity.id) do
              - activity.code_assignments.each do |ca|
                .classification
                  = label_tag :"#{ca.code.short_display}"
                  = text_field_tag :"#{ca.code.short_display}", ca.amount

              = submit_tag "Save"

