:javascript
  var _response_id = "#{@response.id}"

- coding_name = friendly_name_for_coding_copy(params[:id]).singularize
- coding_name = "Health Function" if coding_name == "Purpose"

- content_for :sub_nav do
  = render 'shared/sub_nav_projects'

%h1.main_heading= friendly_name_for_coding_copy(params[:id])

= render "classifications/getting_started/#{getting_started_partial(params[:id])}"

- form_tag response_classification_path(@response, params[:id]), :method => :put do
  %table.workplan
    %thead
      %tr
        %th.no-bg
        %th.no-padding{:colspan => 100}
          %ul.tabs
            %li
              - link_to edit_response_classification_path(@response, budget_coding_type(params[:id])), :class => (params[:id].match('Budget') ? 'active' : nil) do
                2. Current Budget
                %span.message
                  = @response.uncoded_budgets.size

            %li
              - link_to edit_response_classification_path(@response, spend_coding_type(params[:id])), :class => (params[:id].match('Spend') ? 'active' : nil) do
                1. Past Expenditure
                %span.message
                  = @response.uncoded_spends.size

      %tr.head
        %th.nested_name.fixed Activity
        %th.name{:colspan => 100}= coding_name
    %tbody
      - @projects.each do |project|
        - project.activities.only_simple.ordered.each do |activity|
          = render 'activity_row', :project => project, :activity => activity

      %tr
        %td.borderless{:colspan => 100}
          = submit_tag "Save & Next >", :class => 'save_btn right'
          = submit_tag "Save", :class => 'save_btn right'

%ul#purpose_menu.mcdropdown_menu
  - @codes.sort_by(&:short_display).each do |code|
    = render 'code_row', :code => code

%br
- if @projects.empty? || !@response.projects_have_activities?
  %p.centered.attention
    You have not added any activities.
    = link_to "Add them now.", response_workplans_path(@response)
