- rep = @report_map[key]

.row
  - if rep
    - link_to admin_report_path(rep), :class => "drill_down target" do
      = title
      %span.hint= "(updated #{distance_of_time_in_words_to_now(rep.csv_updated_at)} ago)" if rep.csv_updated_at
    %ul.report_actions
      %li= link_to image_tag("icon_edit.png"), edit_admin_report_path(rep)
      %li= link_to image_tag("icon_regenerate.png"), generate_admin_report_path(key), :title => 'Regenerate report'
      %li.separator
      - if rep.formatted_csv?
        %li= link_to image_tag("icon_formatted.png"), admin_report_path(rep, :formatted => true), :title => 'Formatted report'
      %li= link_to image_tag("icon_csv.png"), admin_report_path(rep), :title => 'CSV (Comma Separated Value) report'


  - else # If report wasnt generated yet, allow user to regen it.
    = link_to title, generate_admin_report_path(key), :title => 'Generate report', :class => "drill_down grayed-out target"
    %ul.report_actions
      %li= link_to image_tag("icon_regenerate.png"), generate_admin_report_path(key), :title => 'Regenerate report', :class => "regenerate"
