- title 'Admin Reports'

%h1.main_heading All Reports

.first-half
  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    National
  .dashboard_section
    %ul.admin_reports
      %li

        - link_to reports_country_path, :class => "drill_down target" do
          = "Review National Expenditures and Current Budgets [#{current_user.current_request.title}]"
          %span.hint Interactive reports summarizing data at national level

  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    Districts
  .dashboard_section
    %ul.admin_reports
      %li
        - link_to reports_districts_path, :class => "drill_down target" do
          = "Review District Expenditures and Current Budgets [#{current_user.current_request.title}]"
          %span.hint Interactive reports comparing districts and summarizing data at district level

.second-half
  %h2
    =image_tag "icon_reporter.png", :class => "heading_icon"
    Activities
  .dashboard_section
    %ul.admin_reports
      %li= render 'report_row', :key => 'activity_overview'
      %li= render 'report_row', :key => 'budget_implementer_purpose'
      %li= render 'report_row', :key => 'spend_implementer_purpose'
      %li= render 'report_row', :key => 'budget_implementer_input'
      %li= render 'report_row', :key => 'spend_implementer_input'
      %li= render 'report_row', :key => 'budget_implementer_location'
      %li= render 'report_row', :key => 'spend_implementer_location'
      %li= render 'report_row', :key => 'budget_implementer_funding_source'
      %li= render 'report_row', :key => 'spend_implementer_funding_source'
      %li= render 'report_row', :key => 'budget_implementer_target'
      %li= render 'report_row', :key => 'spend_implementer_target'
      %li= render 'report_row', :key => 'budget_implementer_output'
      %li= render 'report_row', :key => 'spend_implementer_output'
      %li= render 'report_row', :key => 'budget_implementer_beneficiary'
      %li= render 'report_row', :key => 'spend_implementer_beneficiary'
      %li= render 'report_row', :key => 'budget_dynamic_query'
      %li= render 'report_row', :key => 'spend_dynamic_query'
      %li= render 'report_row', :key => 'funding_source_query'

  %h2
    =image_tag "icon_reporter.png", :class => "heading_icon"
    Mark Double Counting
  .dashboard_section
    %ul.admin_reports
      - form_tag mark_implementer_splits_admin_reports_path, :method => :put, :multipart => true do
        = file_field_tag :file
        = submit_tag :upload, :value => "Upload"
        %span.hint Mark duplicates in Activity Overview Report and upload the CSV file
