- title 'Admin Reports'

%h1.main_heading All Reports

.first-half
  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    Data Responses
  .dashboard_section
    %ul.admin_reports
      %li
        %a{ :href => admin_responses_path, :class => "drill_down"}
          Review Data Responses
          %span.hint Interactive data response reports

  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    National
  .dashboard_section
    %ul.admin_reports
      %li
        %a{ :href => reports_country_path, :class => "drill_down"}
          Review National Expenditures and Budgets
          %span.hint Interactive reports
      %li

  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    Districts
  .dashboard_section
    %ul.admin_reports
      %li
        %a{ :href => reports_districts_path, :class => "drill_down"}
          Review District Expenditures and Budgets
          %span.hint Interactive reports

      %li= link_to "By NSP", admin_report_path('districts_by_nsp', :type => :budget)
      %li= link_to "By All Codes", admin_report_path('districts_by_all_codes', :type => :budget)
  %h2
    =image_tag "icon_users.png", :class => "heading_icon"
    Users
  .dashboard_section
    %ul
      %li=  link_to "By Organization", admin_report_path('users_by_organization')

  %h2
    =image_tag "icon_reporter.png", :class => "heading_icon"
    Maps
  .dashboard_section
    .first-half
      %h3 Districts

      %ul
        %li=  link_to "By Partner Budget", admin_report_path('map_districts_by_partner', :type => "budget")
        %li=  link_to "By Partner Spending", admin_report_path('map_districts_by_partner', :type => "spent")
        %li=  link_to "By NSP", admin_report_path('map_districts_by_nsp', :type => :budget)
        %li=  link_to "By All Codes", admin_report_path('map_districts_by_all_codes', :type => :budget)

    .second-half
      %h3 Facilities

      %ul
        %li=  link_to "By Partner Budget", admin_report_path('map_facilities_by_partner', :type => "budget")
        %li=  link_to "By Partner Spending", admin_report_path('map_facilities_by_partner', :type => "spent")




.second-half
  %h2
    =image_tag "icon_reporter.png", :class => "heading_icon"
    Activities
  .dashboard_section
    %ul.admin_reports
      %li
        - link_to admin_report_path('activity_report') do
          Summary
          %span.hint Formerly named the "Activities Report"
      %li=  link_to "By District", admin_report_path('activities_by_district')
      %li
        - link_to admin_report_path('activities_one_row_per_district') do
          One Row Per District
          %span.hint Coded in Classifications + District Classifications Summary per Activity
      %li=  link_to "By Budget Coding (beta)", admin_report_path('activities_by_budget_coding')
      %li=  link_to "By Budget Cost Categorization (beta)", admin_report_path('activities_by_budget_cost_cat')
      %li=  link_to "By Budget Districts (beta)", admin_report_path('activities_by_budget_districts')
      %li=  link_to "By Expenditure Coding (beta)", admin_report_path('activities_by_expenditure_coding')
      %li=  link_to "By Expenditure Cost Categorization (beta)", admin_report_path('activities_by_expenditure_cost_cat')
      %li=  link_to "By Expenditure Districts (beta)", admin_report_path('activities_by_expenditure_districts')
      %li=  link_to "Joint annual workplan report By Budget (beta)", admin_report_path('jawp_report', :type => 'budget')
      %li=  link_to "Joint annual workplan report By Expenditure (beta)", admin_report_path('jawp_report', :type => 'spent')
      %li=  link_to "By NSP", admin_report_path('activities_by_nsp', :type => :budget)
      %li=  link_to "By NHA/NASA", admin_report_path('activities_by_nha')
      %li=  link_to "By All Codes", admin_report_path('activities_by_all_codes', :type => :budget)
