- title 'Admin Reports'

%h1.main_heading All Reports

.first-half
  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    Data Responses
  .dashboard_section
    %ul.admin_reports
      %li
        %a{ :href => admin_responses_path, :class => "drill_down"}
          Review Data Responses
          %span.hint Interactive data response reports

  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    National
  .dashboard_section
    %ul.admin_reports
      %li
        %a{ :href => reports_country_path, :class => "drill_down"}
          Review National Expenditures and Budgets
          %span.hint Interactive reports
      %li

  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    Districts
  .dashboard_section
    %ul.admin_reports
      %li
        %a{ :href => reports_districts_path, :class => "drill_down"}
          Review District Expenditures and Budgets
          %span.hint Interactive reports

      %li= render 'report_row', :title => 'By Nsp', :key => 'districts_by_nsp_budget'

      %li= render 'report_row', :title => 'By All Codes', :key => 'districts_by_all_codes_budget'

  %h2
    =image_tag "icon_users.png", :class => "heading_icon"
    Users
  .dashboard_section
    %ul
      %li= render 'report_row', :title => 'By Organization', :key => 'users_by_organization'

  %h2
    =image_tag "icon_reporter.png", :class => "heading_icon"
    Maps
  .dashboard_section
    .first-half
      %h3 Districts

      %ul
        %li= render 'report_row', :title => "By Partner Budget", :key => 'map_districts_by_partner_budget'
        %li= render 'report_row', :title => "By Partner Spending", :key => 'map_districts_by_partner_spent'
        %li= render 'report_row', :title => "By NSP", :key => 'map_districts_by_nsp_budget'
        %li= render 'report_row', :title => "By All Codes", :key => 'map_districts_by_all_codes_budget'


    .second-half
      %h3 Facilities
      %ul
        %li= render 'report_row', :title => "By Partner Budget", :key => 'map_facilities_by_partner_budget'
        %li= render 'report_row', :title => "By Partner Spending", :key => 'map_facilities_by_partner_spent'

.second-half
  %h2
    =image_tag "icon_reporter.png", :class => "heading_icon"
    Activities
  .dashboard_section
    %ul.admin_reports
      %li
        - link_to admin_report_path('activities_summary') do
          Summary
          %span.hint Formerly named the "Activities Report"
      %li= render 'report_row', :title => "By District", :key => 'activities_by_district'
      %li
        - link_to admin_report_path('activities_one_row_per_district') do
          One Row Per District
          %span.hint Coded in Classifications + District Classifications Summary per Activity
      %li= render 'report_row', :title => "By Budget Coding (beta)", :key => 'activities_by_budget_coding'
      %li= render 'report_row', :title => "By Budget Cost Categorization (beta)", :key => 'activities_by_budget_cost_categorization'
      %li= render 'report_row', :title => "By Budget Districts (beta)", :key => 'activities_by_budget_districts'
      %li= render 'report_row', :title => "By Expenditure Coding (beta)", :key => 'activities_by_expenditure_coding'
      %li= render 'report_row', :title => "By Expenditure Cost Categorization (beta)", :key => 'activities_by_expenditure_cost_categorization'
      %li= render 'report_row', :title => "By Expenditure Districts (beta)", :key => 'activities_by_expenditure_districts'
      %li= render 'report_row', :title => "Joint annual workplan report By Budget (beta)", :key => 'jawp_report_budget'
      %li= render 'report_row', :title => "Joint annual workplan report By Expenditure (beta)", :key => 'jawp_report_spent'
      %li= render 'report_row', :title => "By NSP", :key => 'activities_by_nsp_budget'
      %li= render 'report_row', :title => "By NHA/NASA", :key => 'activities_by_nha'
      %li= render 'report_row', :title => "By All Codes", :key => 'activities_by_all_codes_budget'
