%tr{:class => cycle("even", "odd")}
  %td= commodity.commodity_type
  %td= commodity.description
  %td= commodity.unit_cost
  %td= commodity.quantity
  %td= calculate_total(commodity.unit_cost, commodity.quantity)
  %td
    %ul.manage_bar
      %li= link_to "Edit", edit_response_commodity_path(@response, commodity)
      %li= link_to "X", response_commodity_path(@response, commodity), :confirm => "Are you sure?", :method => :delete, :class => "right"
