- title("Commodity")

%h1.main_heading
  = render 'search'
  Commodities
%ul.horizontal
  %li
    - link_to '#', :id => "create_new_commodity", :class => "create_new" do
      = image_tag "new_white.png"
      Create Commodity

  
  %li
    = link_to "CSV Import", '#', :id => "csv_file", :class => 'create_new'
    
#add_commodity
  %h3.title_bar Add a new commodity
  .dashboard_section
    %p Please fill in the required fields below to add a new commodity to the list
    - semantic_form_for @commodity, :url => response_commodities_path(@data_response), :html => {:class => "basic_form"} do |f|
      = render 'form', :f => f

#import
  %h3.title_bar Import a CSV file
  .dashboard_section
    %p Create one or more projects from a CSV file. You can save an Excel spreadsheet as a CSV file through File -> Save As, then select comma separated values (CSV) in the file format box under the file name.
  
    #import_csv
      -form_tag({:action=> :create_from_file}, :multipart => true) do
        =label_tag :file, "File"
        =file_field_tag :file
        =submit_tag "Upload and Import", :class => 'small_submit_button'

      = link_to "Download template", download_template_response_commodities_path(@data_response)


- if params[:query]
  %p
    = "Projects with names containing #{params[:query]}"
    = link_to "(Back to complete project listing)", response_commodities_path(@data_response)

%table.standard.rounded
  %thead
    %tr
<<<<<<< HEAD
      %th Commodity Type
=======
      %th= sortable "type"
>>>>>>> A reporter can create, edit update and delete commodities, a reporter can upload bulk commodities using a csv file. cucumber and rspec tests included'
      %th= sortable "description"
      %th= sortable "unit_cost", "Unit Cost"
      %th= sortable "quantity"
      %th Total Cost
      %th
<<<<<<< HEAD
        
=======
      

>>>>>>> A reporter can create, edit update and delete commodities, a reporter can upload bulk commodities using a csv file. cucumber and rspec tests included'
  %tbody
    = render :partial => "commodity", :collection => @commodities

= will_paginate @commodities

%ul{ :id => 'position_container', :class => 'image_list' }


:javascript
  jQuery(document).ready(function(){
    jQuery("#csv_file").click(function() {
      jQuery("#import").slideToggle();
    });
  });
  jQuery(document).ready(function(){
    jQuery("#create_new_commodity").click(function() {
      jQuery("#add_commodity").slideToggle();
    });
  });





