- title("Commodity")

%h1.main_heading
  = render 'search'
  Commodities
%ul.horizontal
  %li
    - link_to '#', :id => "create_new_commodity", :class => "create_new" do
      = image_tag "new_white.png"
      Create Commodity

  
  %li
    = link_to "CSV Import", '#', :id => "csv_file", :class => 'create_new'
    
#add_commodity
  %h3.title_bar Add a new commodity
  .dashboard_section
    %p Please fill in the required fields below to add a new commodity to the list
    - semantic_form_for @commodity, :url => response_commodities_path(@data_response), :html => {:class => "basic_form"} do |f|
      = render 'form', :f => f

#import
  %h3.title_bar Import a CSV file
  .dashboard_section
    %p To prepare the file, use Excel (or your favorite spreadsheet program), organize your project data into the following 4 columns:
    %br
    %p Category Type, Description, Unit Cost, Quantity
    %br
    %p All of the fields are required and cannot be blank. The column names and order must match exactly for the import to work properly, and be sure to include the header row. A link to a sample file can be found below.

  
    #import_csv
      -form_tag({:action=> :create_from_file}, :multipart => true) do
        =label_tag :file, "File"
        =file_field_tag :file
        =submit_tag "Upload and Import", :class => 'small_submit_button'

      = link_to "Download template", download_template_response_commodities_path(@data_response)


- if params[:query]
  %p
    = "Projects with names containing #{params[:query]}"
    = link_to "(Back to complete project listing)", response_commodities_path(@data_response)

%table.standard.rounded
  %thead
    %tr
      %th Commodity Type
      %th= sortable "description"
      %th= sortable "unit_cost", "Unit Cost"
      %th= sortable "quantity"
      %th Total Cost
      %th
        
  %tbody
    = render :partial => "commodity", :collection => @commodities

= will_paginate @commodities

%ul{ :id => 'position_container', :class => 'image_list' }


:javascript
  jQuery(document).ready(function(){
    jQuery("#csv_file").click(function() {
      jQuery("#import").slideToggle();
    });
  });
  jQuery(document).ready(function(){
    jQuery("#create_new_commodity").click(function() {
      jQuery("#add_commodity").slideToggle();
    });
  });





