- f.inputs :class => 'wrap-80 inputs' do
  = f.input :title, :label => "Title"
  = f.input :organization, :label => "Organization"
  = f.input :due_date, :as => :string, :label => "Due date", :input_html => {:class => 'date_picker'}
  = f.input :start_date, :as => :string, :label => "Start date", :input_html => {:class => 'date_picker'}
  = f.input :end_date, :as => :string, :label => "End date", :input_html => {:class => 'date_picker'}
  = f.input :budget, :as => :boolean, :label => "Request budget data?"
  = f.input :spend, :as => :boolean, :label => "Request spend data?"
  = f.input :complete, :as => :boolean, :label => "Complete"
  = f.input :pending_review, :as => :boolean, :label => "Pending review"

- f.buttons :class => 'wrap-80 buttons' do
  = f.commit_button((@request.new_record? ? 'Create request' : 'Update request'), :class => "last")
