- f.inputs :class => 'wrap-80 inputs' do
  = f.input :title, :label => 'Title', :hint => 'Descriptive name of the data request'
  = f.input :organization, :label => 'Organization', :hint => 'Which organization is requesting data?'
  = f.input :due_date, :as => :string, :label => 'Due date', :input_html => {:class => 'date_picker'}, :hint => 'Due when users have to enter their data?'
  = f.input :start_year, :hint => 'What is the start year of period for which data is requested?  Data is requested for 1 year from 1 July of the start year.', :input_html => {:class => 'year_input'}
  = f.input :purposes, :as => :boolean, :label => "Health Functions", :hint => 'Allow the users to classify Health Functions'
  = f.input :locations, :as => :boolean, :label => "Locations", :hint => 'Allow the users to classify locations'
  = f.input :inputs, :as => :boolean, :label => "Inputs", :hint => 'Allow the users to classify inputs'
  = f.input :year_2, :as => :boolean, :label => "Year + 2", :hint => 'Should users see Year + 2'
  = f.input :year_3, :as => :boolean, :label => "Year + 3", :hint => 'Should users see Year + 3'
  = f.input :year_4, :as => :boolean, :label => "Year + 4", :hint => 'Should users see Year + 4'
  = f.input :year_5, :as => :boolean, :label => "Year + 5", :hint => 'Should users see Year + 5'
  = f.input :final_review, :as => :boolean, :label => 'Final review', :hint => 'Is this data request in the final review stage?'

- f.buttons :class => 'wrap-80 buttons' do
  = f.commit_button((@request.new_record? ? 'Create request' : 'Update request'), :class => 'last')
