- f.inputs :class => 'wrap-80 inputs' do
  = f.input :title, :label => 'Title', :hint => 'Descriptive name of the data request'
  = f.input :organization, :label => 'Organization', :hint => 'Which organization is requesting data?'
  = f.input :due_date, :as => :string, :label => 'Due date', :input_html => {:class => 'date_picker'}, :hint => 'Due when users have to enter their data?'
  = f.input :start_date, :as => :string, :label => 'Start date', :input_html => {:class => 'date_picker'}, :hint => 'What is the start date of period for which data is requested?'
  = f.input :end_date, :as => :string, :label => 'End date', :input_html => {:class => 'date_picker'}, :hint => 'What is the end date of period for which data is requested?'
  = f.input :purposes, :as => :boolean, :label => "Purposes", :hint => 'Allow the users to classify purposes'
  = f.input :locations, :as => :boolean, :label => "Locations", :hint => 'Allow the users to classify locations'
  = f.input :inputs, :as => :boolean, :label => "Inputs", :hint => 'Allow the users to classify inputs' 
  = f.input :budget_by_quarter, :as => :boolean, :label => "Current Budget by Quarters", :hint => "Displays the quarterly budget fields"
  = f.input :budget, :as => :boolean, :label => 'Enter current budget?', :hint => 'Should users enter current budget?'
  = f.input :spend, :as => :boolean, :label => 'Enter expenditure?', :hint => 'Should users enter expenditure?'
  = f.input :year_2, :as => :boolean, :label => "Year + 2", :hint => 'Should users see Year + 2'
  = f.input :year_3, :as => :boolean, :label => "Year + 3", :hint => 'Should users see Year + 3'
  = f.input :year_4, :as => :boolean, :label => "Year + 4", :hint => 'Should users see Year + 4'
  = f.input :year_5, :as => :boolean, :label => "Year + 5", :hint => 'Should users see Year + 5'
  = f.input :final_review, :as => :boolean, :label => 'Final review', :hint => 'Is this data request in the final review stage?'

- f.buttons :class => 'wrap-80 buttons' do
  = f.commit_button((@request.new_record? ? 'Create request' : 'Update request'), :class => 'last')
