- f.inputs :class => 'wrap-80 inputs' do
  = f.input :title, :label => 'Title', :hint => 'Descriptive name of the data request'
  = f.input :organization, :label => 'Organization', :hint => 'Which organization is requesting data?'
  = f.input :due_date, :as => :string, :label => 'Due date', :input_html => {:class => 'date_picker'}, :hint => 'Due when users have to enter their data?'
  = f.input :start_date, :as => :string, :label => 'Start date', :input_html => {:class => 'date_picker'}, :hint => 'What is the start date of period for which data is requested?'
  = f.input :end_date, :as => :string, :label => 'End date', :input_html => {:class => 'date_picker'}, :hint => 'What is the end date of period for which data is requested?'
  = f.input :budget, :as => :boolean, :label => 'Enter budget?', :hint => 'Should users enter budget?'
  = f.input :spend, :as => :boolean, :label => 'Enter expenditure?', :hint => 'Should users enter expenditure?'
  = f.input :complete, :as => :boolean, :label => 'Complete', :hint => 'Is this data request completed?'
  = f.input :pending_review, :as => :boolean, :label => 'Pending review', :hint => 'Is this data request pending review?'

- f.buttons :class => 'wrap-80 buttons' do
  = f.commit_button((@request.new_record? ? 'Create request' : 'Update request'), :class => 'last')
