- title("Data Request: #{@request.title}")

%h1.main_heading= "Data Request: #{@request.title}"

%h2= "Data Response details"
%table.standard.rounded
  %tr
    %td Title:
    %td= @request.title
  %tr
    %td Organization:
    %td= @request.organization.try(:name)
  %tr
    %td Complete:
    %td= @request.complete
  %tr
    %td Pending review:
    %td= @request.pending_review
  %tr
    %td Start date:
    %td= @request.start_date
  %tr
    %td End date:
    %td= @request.end_date
  %tr
    %td Budget:
    %td= @request.budget
  %tr
    %td Spend:
    %td= @request.spend

%br

= link_to 'Edit', edit_admin_request_path(@request), :class => 'edit_button'
= link_to "Delete", admin_request_path(@request), :method => :delete, :confirm => "Are you sure?", :class => 'delete_button'
