- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

:javascript
  var _pie = #{@pie.to_json};
  google.load("visualization", "1", {packages: ["corechart", "treemap"]});
  var _budget_ufs_values      = #{js_safe(@budget_ufs_values)};
  var _budget_fa_values       = #{js_safe(@budget_fa_values)};
  var _budget_i_values        = #{js_safe(@budget_i_values)};
  var _spend_ufs_values       = #{js_safe(@spend_ufs_values)};
  var _spend_fa_values        = #{js_safe(@spend_fa_values)};
  var _spend_i_values         = #{js_safe(@spend_i_values)};
  var _code_spent_values      = #{js_safe(@code_spent_values)};
  var _code_budget_values     = #{js_safe(@code_budget_values)};


%ul.breadcrumb
  %li= link_to "Reports", user_report_dashboard_path(current_user)

%h1.main_heading Review National Past Expenditures and Budgets

.full
  .third
    %h2 Ultimate Funding Source (Budget)
    #budget_ufs_pie.bordered

  .third
    %h2 Financing Agent (Budget)
    #budget_fa_pie.bordered

  .third
    %h2 Implementer (Budget)
    #budget_i_pie.bordered

.full
  .third
    %h2 Ultimate Funding Source (Past Expenditure)
    #spend_ufs_pie.bordered

  .third
    %h2 Financing Agent (Past Expenditure)
    #spend_fa_pie.bordered

  .third
    %h2 Implementer (Past Expenditure)
    #spend_i_pie.bordered



%ul.group
  %li= link_to "NSP", reports_country_path(:code_type => "nsp"), active_if(@nsp)
  %li= link_to "MTEF", reports_country_path(:code_type => "mtef"), active_if(@mtef)
  %li= link_to "Inputs", reports_country_path(:code_type => "cost_category"), active_if(@cost_category)
  %li= link_to "HSSP2 Strat Prog", reports_country_path(:code_type => "hssp2_strat_prog"), active_if(@hssp2_strat_prog)
  %li= link_to "HSSP2 Strat Obj", reports_country_path(:code_type => "hssp2_strat_obj"), active_if(@hssp2_strat_obj)

%ul.group
  %li= link_to "Pie", reports_country_path(:chart_type => "pie", :code_type => params[:code_type]), active_if(@pie)
  - if !@hssp2_strat_prog && !@hssp2_strat_obj
    %li= link_to "Treemap", reports_country_path(:chart_type => "treemap", :code_type => params[:code_type]), active_if(!@pie)

.full
  .first-half
    %h2= "#{@chart_name} Past Expenditure"
    #code_spent.bordered

  .second-half
    %h2= "#{@chart_name} Current Budget"
    #code_budget.bordered


.full
  .first-half
    %h2 Top Organizations by Past Expenditure
    = render 'reports/countries/organizations/table_mini', :top_organizations => @top_organizations
    %p.bordered= link_to "View all Organizations", reports_country_organizations_path, :class => "right"

  .second-half
    %h2 Top Activities by Past Expenditure
    = render 'reports/countries/activities/table_mini', :top_activities => @top_activities
    %p= link_to "View all Activities", reports_country_activities_path, :class => "right"

