- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

:javascript
  var _pie            = #{@pie.to_json};
  var _overview       = #{(params[:tab] == 'overview').to_json};
  var _funders_agents = #{(params[:tab] == 'funders_agents').to_json};
  google.load("visualization", "1", {packages: ["corechart", "treemap"]});
  var _budget_ufs_values      = #{js_safe(@budget_ufs_values)};
  var _budget_fa_values       = #{js_safe(@budget_fa_values)};
  var _budget_i_values        = #{js_safe(@budget_i_values)};
  var _spend_ufs_values       = #{js_safe(@spend_ufs_values)};
  var _spend_fa_values        = #{js_safe(@spend_fa_values)};
  var _spend_i_values         = #{js_safe(@spend_i_values)};
  var _code_spent_values      = #{js_safe(@code_spent_values)};
  var _code_budget_values     = #{js_safe(@code_budget_values)};


%ul.group
  %li= link_to "Overview", reports_country_path(:tab => "overview"), active_if(params[:tab] == 'overview')
  %li= link_to "Funders & Agents", reports_country_path(:tab => "funders_agents"), active_if(params[:tab] == 'funders_agents')
  %li= link_to "NSP", reports_country_path(:code_type => "nsp"), active_if(@nsp)
  %li= link_to "MTEF", reports_country_path(:code_type => "mtef"), active_if(@mtef)
  %li= link_to "Inputs", reports_country_path(:code_type => "cost_category"), active_if(@cost_category)
  %li= link_to "HSSP2 Strat Programme", reports_country_path(:code_type => "hssp2_strat_prog"), active_if(@hssp2_strat_prog)
  %li= link_to "HSSP2 Strat Objective", reports_country_path(:code_type => "hssp2_strat_obj"), active_if(@hssp2_strat_obj)


- if params[:tab].blank?
  %ul.group
    %li= link_to "Pie", reports_country_path(:chart_type => "pie", :code_type => params[:code_type]), active_if(@pie)
    - if !@hssp2_strat_prog && !@hssp2_strat_obj
      %li= link_to "Treemap", reports_country_path(:chart_type => "treemap", :code_type => params[:code_type]), active_if(!@pie)


- if params[:tab] == 'overview'
  .full
    .first-half
      %h2 Implementer (Expenditure)
      #spend_i_pie.bordered
    .second-half
      %h2 Implementer (Current Budget)
      #budget_i_pie.bordered

- elsif params[:tab] == 'funders_agents'
  .full
    .first-half
      %h2 Ultimate Funding Source (Expenditure)
      #spend_ufs_pie.bordered
    .second-half
      %h2 Ultimate Funding Source (Current Budget)
      #budget_ufs_pie.bordered

  .full
    .first-half
      %h2 Financing Agent (Expenditure)
      #spend_fa_pie.bordered
    .second-half
      %h2 Financing Agent (Current Budget)
      #budget_fa_pie.bordered

- else
  .full
    .first-half
      %h2= "#{@chart_name} Expenditure"
      #code_spent.bordered

    .second-half
      %h2= "#{@chart_name} Current Budget"
      #code_budget.bordered


.full
  .first-half
    %h2 Top Organizations by Expenditure
    = render 'reports/countries/organizations/table_mini', :top_organizations => @top_organizations
    %p= link_to "View all Organizations", reports_country_organizations_path, :class => "right"

  .second-half
    %h2 Top Activities by Expenditure
    = render 'reports/countries/activities/table_mini', :top_activities => @top_activities
    %p= link_to "View all Activities", reports_country_activities_path, :class => "right"

