.form_aside.section_form.single
  %h3 What currency should I use?
  %p Use the primary currency of all your projects and activities. If a specific project uses a different currency, you can override the currency in the project settings.
  %br
  %h3 How do I enter my fiscal year?
  %p
    If you follow GoR fiscal year, you will be reporting:
    %ul
      %li Expenditure: July 2010 – June 2011
      %li Budget: July 2011 – June 2012
  %p
    If you follow USG fiscal year, you will be reporting:
    %ul
      %li Expenditure: October 2010 – September 2011
      %li Budget: October 2011 – September 2012
  %p
    If your fiscal year follows the calendar year, you will be reporting:
    %ul
      %li Expenditure: January 2010 – December 2010
      %li Budget: January 2011 – December 2011
  %p
    If your fiscal year runs from April to March, you will be reporting
    %ul
      %li Expenditure: April 2010 – March 2011
      %li Budget: April 2011 – March 2012
  %p
    If your fiscal year does not fit any of the above, please
    = link_to "raise a support request", help_link, :target => "_blank"

- f.inputs :class => 'wrap-80 inputs' do

  %li.last
    %h2 Basics
    %ul.section_form
      = f.input :currency, :label => "Default Currency", :label_html => { :class => "indented" }, :as => :select, :collection => currency_options_for_select, :include_blank => true, :hint => "You can override the currency for individual projects should you deem it necessary."
      = f.input :fiscal_year_start_date, :as => :string, :label => "Start of Fiscal Year", :label_html => { :class => "indented" }, :input_html => {:class => 'date_picker'}, :hint => "The start of the Fiscal Year (FY) that you wish to report in. This may correspond to the FY of your organization, donors, country etc."
      = f.input :fiscal_year_end_date, :as => :string, :label => "End of Fiscal Year", :label_html => { :class => "indented" }, :input_html => {:class => 'date_picker'}, :hint => "The End of the Fiscal Year"

  %li.last
    %h2 Contact Details
    %ul.section_form.last
      = f.input :contact_name, :as => :string, :label_html => { :class => "indented" }, :hint => "The primary contact at your organization that will help the Health Resource Tracker team if there are any questions throughout the process."
      = f.input :contact_position, :as => :string, :label_html => { :class => "indented" }, :hint => "The position of the contact at your organization."
      = f.input :contact_phone_number, :as => :string, :label => "Phone number", :label_html => { :class => "indented" }, :hint => "A telephone number that can be used to contact the contact person."
      = f.input :contact_main_office_phone_number, :as => :string, :label => "Office number", :label_html => { :class => "indented" }, :hint => "The telephone number of the organizations main office."
      = f.input :contact_office_location, :as => :string, :label => "Office location", :label_html => { :class => "indented" }, :hint => "The geographic location of the office."

- f.buttons :class => 'wrap-80 buttons push-12' do
  = f.commit_button "Update Settings", :class => "last", :button_html => { :class => "next" }
