- activity_managers = @organization.managers
= render '/organizations/help_sidebar'

%fieldset.inputs
  %ol
    %li.last
      %h2 Basics
      %ul.section_form
        = f.text_field :name, :label => 'Name', :required => true, :hint => 'What is the name of the organization?', :label_html => { :class => 'indented' }, :wrapper_html => { :class => 'input-wrapper' }, :tabindex => autotab, :size => 50
        = f.select :raw_type, options_for_select(Organization::ORGANIZATION_TYPES, f.object.raw_type), { :include_blank => true  }, :label => 'Type', :hint => 'Raw type of organization', :label_html => { :class => 'indented' }, :input_html => { :class => 'string required' }, :wrapper_html => { :class => 'input-wrapper' }, :tabindex => autotab
        = f.text_field :fosaid, :label => 'Fosaid', :required => true, :hint => 'Fosaid or organization', :label_html => { :class => 'indented' }, :wrapper_html => { :class => 'input-wrapper' }, :tabindex => autotab
        = f.select :currency, options_for_select(currency_options_for_select, f.object.currency), { :include_blank => true }, :label => 'Default Currency', :required => true, :hint => 'You can override the currency for individual projects should you deem it necessary.', :label_html => {:class => 'indented'}, :wrapper_html => {:class => 'input-wrapper'}, :tabindex => autotab
        = f.text_field :fiscal_year_start_date, :class => 'date_picker', :label => 'Start of Fiscal Year', :required => true, :hint => 'The start of the Fiscal Year (FY) that you wish to report in. This may correspond to the FY of your organization, donors, country etc.', :label_html => {:class => 'indented'}, :wrapper_html => {:class => 'input-wrapper'}, :tabindex => autotab
        = f.text_field :fiscal_year_end_date, :class => 'date_picker', :label => 'End of Fiscal Year', :required => true, :hint => 'The End of the Fiscal Year', :label_html => {:class => 'indented'}, :wrapper_html => {:class => 'input-wrapper'}, :tabindex => autotab

    %li.last
      %h2 Contact Details
      %ul.section_form
        = f.text_field :contact_name, :label => 'Contact Name', :required => true, :hint => 'The primary contact at your organization that will help the Health Resource Tracker team if there are any questions throughout the process.', :wrapper_html => {:class => 'input-wrapper'}, :label_html => {:class => 'indented'}, :tabindex => autotab
        = f.text_field :contact_position, :label => 'Contact Position', :required => true, :hint => 'The position of the contact at your organization.', :wrapper_html => {:class => 'input-wrapper'}, :label_html => {:class => 'indented'}, :tabindex => autotab
        = f.text_field :contact_phone_number, :label => 'Phone Number', :required => true, :hint => 'A telephone number that can be used to contact the contact person.', :wrapper_html => {:class => 'input-wrapper'}, :label_html => {:class => 'indented'}, :tabindex => autotab
        = f.text_field :contact_main_office_phone_number, :label => 'Office Number', :required => true, :hint => 'The telephone number of the organizations main office.', :wrapper_html => {:class => 'input-wrapper'}, :label_html => {:class => 'indented'}, :tabindex => autotab
        = f.text_field :contact_office_location, :label => 'Office Location', :required => true, :hint => 'The geographic location of the office.', :wrapper_html => {:class => 'input-wrapper'}, :label_html => {:class => 'indented'}, :tabindex => autotab

      %fieldset.buttons.push-12
        %ol
          - button_label = @organization.new_record? ? 'Create organization' : 'Update organization'
          = f.submit button_label, :class => 'next update'

- if !@organization.new_record? && current_user.sysadmin?
  .delete_section
    = link_to 'Delete this Organization', admin_organization_path(@organization), :confirm => 'Are you sure you want to delete this Organization?', :method => :delete, :class => 'delete_action'
    %p
      %strong Warning:
      Once you delete an Organization, you will lose all data associated with it, and there is no undo.

%h2 Users
.section_form
  - unless @users.empty?
    = render 'admin/users/users', :users => @users, :show_organization => false
  - else
    %p There are no users in this organization

%h2 Activity Managers:
.section_form
  - unless activity_managers.empty?
    = render 'admin/users/users', :users => activity_managers, :show_organization => false
  - else
    %p There are no Activity Managers for this organization

- if current_user.sysadmin?
  %h2 Funder For:
  .section_form
    - if !@organization.out_flows.empty? &&
      = render 'organizations/funder_for', :org => @organization
    - else
      %p There are no projects referencing this organization as the funder

  %h2 Implementer For:
  .section_form
    - if !@organization.implementer_splits.empty?
      = render 'organizations/implementer_for', :org => @organization
    - else
      %p There are no activities referencing this organization as the implementer

