- response = @responses.detect { |dr| dr.organization_id == organization.id}
- response_link = link_to organization.name, response_projects_path(response) if response
- user = organization.last_user_logged_in
%tr
  %td.title= response_link || organization.name
  - if current_user.sysadmin?
    %td= user.last_login_at.strftime('%d %b %Y %T %z') if user
    %td= user.name if user
  %td= response.nil? ? "n/a" : "#{response.activities.manager_approved.count}/#{response.activities_count}"
  %td= response.nil? ? "n/a" : response.status

  - if current_user.sysadmin?
    %td= organization.raw_type
    %td
      %ul.manage_bar
        %li= link_to "Edit", edit_admin_organization_path(organization)
        %li= link_to "x", admin_organization_path(organization), :method => :delete, :confirm => "Are you sure you want to DELETE this organization? There is no undo."

