.form_aside
- f.inputs :class => 'wrap-80 inputs' do
  %li.last
    %h3 User details
    %ul.dashboard_section
      = f.input :organization_id, :label => "Organization", :as => :select, :collection => Organization.ordered , :hint => "The organization this user is associated with"
      = f.input :full_name, :hint => "Full name of the user", :required => false
      = f.input :email, :hint => "Email of the user"
      = f.input :roles, :label => 'Roles', :hint => "Assign roles to this user", :required => true, :as => :select, :collection => User::ROLES.map{|u| [u.humanize, u]}, :input_html => {:multiple => :multiple, :size => 3, :class => 'multiselect'}, :include_blank => false, :wrapper_html => {:class => 'roles'}

  %li.last
    %h3 Password
    %ul.dashboard_section
      = f.input :password, :hint => "Password of the user"
      = f.input :password_confirmation, :hint => "Confirm the password"

  %li.last
    %h3 Organizations to Manage
    %ul.dashboard_section
      = f.input :organizations, :label => 'Organizations', :hint => "Assign organizations to this Activity Manager to manage", :as => :select, :collection => Organization.with_users, :input_html => {:class => 'multiselect'}, :wrapper_html => {:class => 'organizations', :style => 'visibility: hidden;'}

- f.buttons :class => 'wrap-80 buttons' do
  = f.commit_button @user.new_record? ? "Create New User" : "Update User", :class => "last"

.wrap-80
  - unless @user.new_record?
    .delete_section
      = link_to "Delete this User", admin_user_path(@user), :confirm => "Are you sure you want to delete this User?", :method => :delete, :class => 'delete_action'
      %p
        %strong Warning:
        Once you delete an User, you will lose all data associated with it, and there is no undo.
