%h2 Add User
.dashboard_section
  - semantic_form_for [:admin, user], :url => admin_users_path, :html => {:class => "basic_form"} do |f|
    - f.inputs :class => 'inputs' do
      = f.input :organization_id, :label => "Organization", :as => :select, :collection => Organization.all, :input_html => {:class => 'organization_select combobox'}
      = f.input :full_name, :required => false
      = f.input :email
      = f.input :roles, :label => "Role", :required => true, :collection => User::ROLES.map{|u| [u.humanize, u]}

    - f.buttons :class => 'buttons' do
      = f.commit_button "Add user", :button_html => {:id => "js_user_create_btn"}
      %li= image_tag "ajax-loader.gif", :class => "ajax-loader", :style => 'display: none;'