%tr{:class => cycle("even", "odd")}
  %td= truncate(user.organization.try(:name), :length => 40)
  %td= user.full_name
  %td= user.email
  %td= user.roles.map{|role| role.humanize}.join(', ')
  %td= user.invite_token.nil? ? "None Pending" : "Pending"
  %td
    %ul.manage_bar
      %li= link_to "Edit", edit_admin_user_path(user)
      %li= link_to "Show", admin_user_path(user)
      %li= link_to "X", admin_user_path(user), :confirm => "Are you sure you want to delete this user?", :method => :delete, :class => "right"
