%table.standard.rounded
  %thead
    %tr
      %th= sortable "full_name"
      %th= sortable "email"
      - if show_organization
        %th.org= sortable "organizations.name", "Organization"
      %th.login= sortable "current_login_at", "Last login"
      %th= sortable "roles_mask", "Role"
      %th.invitation= sortable "invite_token", "Invitation"
      - if current_user.sysadmin?
        %th

  %tbody
    - users.each do |user|
      %tr{:class => cycle("even", "odd")}
        %td= link_to_if current_user.sysadmin?, "#{user.full_name}", edit_admin_user_path(user)
        %td= mail_to user.email
        - if show_organization
          %td= user.organization.try(:name)
        %td= last_signin_for(user)
        %td= user.roles.map{|role| role.humanize}.join(', ')
        %td= user.invite_token.nil? ? "No pending" : "1 pending"
        - if current_user.sysadmin?
          %td
            %ul.manage_bar
              %li= link_to "Edit", edit_admin_user_path(user)
              %li= link_to "x", admin_user_path(user), :confirm => "Are you sure you want to delete this user?", :method => :delete, :class => "right"


