- title("Users")

%h1.main_heading
  #search
    - form_tag admin_users_path, :method => :get do
      = render 'shared/search_form'
  Users

%ul.horizontal
  %li
    - link_to new_admin_user_path, :class => "create_button" do
      = image_tag "new_white.png"
      Create User

  %li
    = link_to "File Import", '#', :id => "csv_file", :class => 'create_button'

#import
  %h3.title_bar Import a CSV file
  .dashboard_section
    %p Create one or more users from a CSV file. You can save an Excel spreadsheet as a CSV file through File -> Save As, then select comma separated values (CSV) in the file format box under the file name.

    #import_csv
      -form_tag create_from_file_admin_users_path, :multipart => true do
        = label_tag :file, "File"
        = file_field_tag :file
        = submit_tag "Upload and Import", :class => 'small_submit_button'

      = link_to "Download template", download_template_admin_users_path

- if params[:query]
  %p
    = "Users with name, email or organiation name containing #{params[:query]}"
    = link_to "(Back to complete users listing)", admin_users_path

%table.standard.rounded
  %thead
    %tr
      %th= sortable "email"
      %th= sortable "full_name"
      %th= sortable "organizations.name", "Organization"
      %th= "Role"
      %th

  %tbody
    - @users.each do |user|
      %tr{:class => cycle("even", "odd")}
        %td= user.email
        %td= user.full_name
        %td= user.organization.try(:name)
        %td= user.roles.map{|role| role.humanize}.join(', ')
        %td
          %ul.manage_bar
            %li= link_to "Edit", edit_admin_user_path(user)
            %li= link_to "Show", admin_user_path(user)
            %li= link_to "X", admin_user_path(user), :confirm => "Are you sure you want to delete this user?", :method => :delete, :class => "right"

= will_paginate @users

%ul{ :id => 'position_container', :class => 'image_list' }
