- title(@user.name)

%h1.main_heading
  = @user.name

  %span
    %ul.manage_bar.inline
      %li= link_to "Edit", edit_admin_user_path(@user)
      %li= link_to "X", admin_user_path(@user), :confirm => "Are you sure you want to delete this user?", :method => :delete

.wrap-70
  %h3.form_heading User details
  %ul.dashboard_section
    %li
      %ul.row
        %li Organization
        %li= @user.organization.try(:name)
      %ul.row
        %li Full name
        %li= @user.full_name
      %ul.row
        %li Email
        %li= @user.email

      %ul.row
        %li Roles
        %li= @user.roles.join(', ')
