%tr{:class => cycle("even", "odd")}
  %td= activity.project.try(:name)
  %td= link_to activity.description.presence || 'No Description Entered', response_activity_path(@data_response, activity)
  %td= c(activity.spend, activity.currency)
  %td= c(activity.budget, activity.currency)
  %td= b activity.classified?
  %td
    %ul.manage_bar
      %li= link_to "Show", response_activity_path(@data_response, activity)
      %li= link_to "Edit", edit_response_activity_path(@data_response, activity)
      %li= link_to "X", response_activity_path(@data_response, activity), :confirm => "Are you sure you want to delete this activity?", :method => :delete, :class => "right"
