%tr{:class => cycle("even", "odd")}
  %td= link_to activity.description, response_activity_path(@data_response, activity)
  %td= activity.spend
  %td= activity.budget
  %td= b activity.classified?
  %td
    %ul.manage_bar
      %li= link_to "Show", response_activity_path(@data_response, activity)
      %li= link_to "Edit", edit_response_activity_path(@data_response, activity)
      %li= link_to "Classify", activity_code_assignments_url(activity)
      %li= link_to "X", response_activity_path(@data_response, activity), :confirm => "Are you sure?", :method => :delete, :class => "right"
