%tr{:class => cycle("even", "odd")}
  %td= link_to activity.description, response_activity_path(@data_response, activity)
  %td= activity.spend
  %td= activity.budget
  %td
    = link_to "Classify", activity_code_assignments_url(activity)
    = link_to "Show", response_activity_path(@data_response, activity)
    = link_to "Edit", edit_response_activity_path(@data_response, activity)
    = link_to "Delete", response_activity_path(@data_response, activity), :confirm => "Are you sure?", :method => :delete
