- form_path = activity.class == Activity ? response_activity_path(@response, activity, :mode => params[:mode]) : response_other_cost_path(@response, activity, :mode => params[:mode])
- content_for :sub_nav do
  = render :partial => 'shared/sub_nav_projects'

= render '/classifications/uncoded_overlay', :activity => activity

%h1.main_heading
  = activity.class == Activity ? "Edit Activity" : "Edit Other Cost"
  %span= render 'activities/help'

  %ul.horizontal.right
    %li
      -if !activity.new_record? && params[:controller] != 'code_assignments'
        - link_to "#comments" do
          %span
            View Comments
    - if current_user.sysadmin?
      = render 'activities/approve_as_admin', :activity => activity

    - if current_user.activity_manager?
      = render 'activities/approve_budget', :activity => activity

= render '/activities/getting_started'

= error_messages_for :activity, :header_message  => nil, :message => "Oops, we couldn't save your changes."

- semantic_form_for activity, :url => form_path, :html => {:class => "basic_form"} do |f|
  = render '/activities/form', :f => f, :activity => activity

- unless activity.new_record?
  .delete_section
    = link_to "Delete this #{activity.human_name}", form_path, :confirm => "Are you sure you want to delete this Activity?", :method => :delete, :class => "delete_button", :class => 'delete_action'
    %p
      %strong Warning:
      ="Once you delete an #{activity.human_name}, you will lose all data associated with it, and there is no undo."

= render 'shared/comments', :comments => @comments
