- budget_fiscal_year_next = budget_fiscal_year_next(@response)
- budget_fiscal_year = budget_fiscal_year(@response)
- spend_fiscal_year_next = spend_fiscal_year_next(@response)
- spend_fiscal_year = spend_fiscal_year(@response)
- fiscal_year_start_date = @response.organization.gor_fiscal_year[:start].try(:year)

:javascript
  var _response_id = "#{@response.id}";
  var _activity_id = "#{@activity.id}";
  var _funding_sources = #{get_funding_sources(current_user.organization.projects)}
  var _budget = #{@response.data_request.budget.to_json};
  var _spend = #{@response.data_request.spend.to_json};

- f.inputs :class => 'inputs' do
  %li.last
    %h3 Basics
    %ul.dashboard_section
      = f.input :project_id, :label => "Project", :as => :select, :collection => current_user.current_response ? current_user.current_response.projects : [@activity.try(:project).try(:data_response).try(:projects)].flatten, :hint => "The Project this activity correlates to"

      #project_sub_form
        #project_sub_form_fields
          - if @activity.project
            = render 'project_sub_form', {:activity => @activity, :project => @activity.project}

      = f.input :name, :required => false, :hint => "The name of this Activity."
      = f.input :description, :input_html => { :rows => 2 }, :hint => "A description of this Activity."
      = f.input :start_date, :as => :string, :label => "Start date", :input_html => {:class => 'date_picker'}, :hint => "(YYYY-MM-DD) The date when the Activity started."
      = f.input :end_date, :as => :string, :label => "End date", :input_html => {:class => 'date_picker'}, :hint => "(YYYY-MM-DD) The end date for the Activity’s implementation."


  - if @response.data_request.spend?
    %li.last
      %h3== Past Activity Expenditure (#{@activity.currency})
      %ul.dashboard_section
        = f.input :spend, :label => "Past Expenditure", :hint => "The total amount that you have spent in the past fiscal year. You can enter the total amount here OR below in the quarterly fields", :required => false, :input_html => {:class => "js_activity_spend_total"}
        %li.amounts.last
          %label== Quarterly Expenditure
          %ul.js_quarterly_inputs
            = f.input :spend_gor_q1, :label => "#{@response.spend_quarters_months('q1')}", :required => false
            = f.input :spend_gor_q2     , :label => "#{@response.spend_quarters_months('q2')}",      :required => false
            = f.input :spend_gor_q3     , :label => "#{@response.spend_quarters_months('q3')}",      :required => false
            = f.input :spend_gor_q4     , :label => "#{@response.spend_quarters_months('q4')}",      :required => false
            = f.input :spend_gor_q1_next_fy     , :label => "#{@response.spend_quarters_months('q1_next_fy')}",      :required => false

  - if @response.data_request.budget?
    %li.last
      %h3== Current Budget (#{@activity.currency})
      %ul.dashboard_section
        = f.input :budget, :label => "Current Budget", :hint => "The total amount that you are planning to spend in the upcoming fiscal year. You can enter the total amount here #{@response.request.budget_by_quarter? ? 'OR below in the quarterly fields' : ''}", :required => false, :input_html => {:class => "js_activity_budget_total"}
        - if @response.request.budget_by_quarter?
          %li.amounts.last
            %label== Quarterly budget
            %ul.js_quarterly_inputs
              = f.input :budget_gor_q1, :label => "#{@response.budget_quarters_months('q1')}", :required => false
              = f.input :budget_gor_q2     , :label => "#{@response.budget_quarters_months('q2')}",      :required => false
              = f.input :budget_gor_q3     , :label => "#{@response.budget_quarters_months('q3')}",      :required => false
              = f.input :budget_gor_q4     , :label => "#{@response.budget_quarters_months('q4')}",      :required => false
              = f.input :budget_gor_q1_next_fy     , :label => "#{@response.budget_quarters_months('q1_next_fy')}",      :required => false
        - unless @response.request.no_long_term_budgets?
          %li.amounts
            %label Long-term
            %ul
              = f.input :budget2, :label => "#{fiscal_year_start_date + 2}", :required => false if @response.request.year_2?
              = f.input :budget3, :label => "#{fiscal_year_start_date + 3}", :required => false if @response.request.year_3?
              = f.input :budget4, :label => "#{fiscal_year_start_date + 4}", :required => false if @response.request.year_4?
              = f.input :budget5, :label => "#{fiscal_year_start_date + 5}", :required => false if @response.request.year_5?

  %li.last
    %h3 Activity Funding Sources
    %ul.dashboard_section
      %p.heading_hint Enter sources here if this activity is funded differently from other activities for this project. For example, if your project has two donors, and only one of them funds this activity, enter that single source of funds here.
      .funding_sources
        - f.semantic_fields_for :funding_sources do |fs|
          = render "activities/funding_source_fields", :f => fs
        .add
          = link_to_add_fields "Add funding source", f, :funding_sources, "activities/", :class => "create_new marginless"

  %li.last.sub_activities
    %h3 Implementers
    .dashboard_section
      %p.heading_hint
        %strong Optional.
        Used if you fund a large number of different partners (for example, 20 health centers in a number of locations), that implement identical or very similar Activities.
      %span.add
        = link_to_add_fields "Add Implementer", f, :sub_activities, "activities/", :class => "create_new marginless"
      %span
        - unless @activity.new_record?
          - link_to "#", :class => "create_new upload_btn overlay sub_impl_imp_exp", :rel => "#sub_activities_upload_box" do
            = image_tag "icon_import_export_alt.png"
            Import / Export
      %br
      %table.nested
        %thead
          %th Implementer
          %th Past Expenditure
          %th Current Budget
          %th
        %tbody
          - f.semantic_fields_for :sub_activities do |sa|
            = render "activities/sub_activity_row", :f => sa

  %li.last.targets.js_targets
    %h3 Activity Targets
    .dashboard_section
      %p.heading_hint
        %strong Optional.
        Describe planned targets for this activity.

      - f.semantic_fields_for :outputs do |ca|
        = render "activities/output_fields", :f => ca
      .add
        = link_to_add_fields "Add Target", f, :outputs, "activities/", :class => "create_new marginless"

  %li.last
    %h3== Other
    %ul.dashboard_section.single_column
      = f.input :beneficiaries, :as => :check_boxes, :label => "Beneficiary details / Other beneficiaries", :hint => "Beneficiaries of your Activity, if applicable to any of these population groups."
      = f.input :text_for_beneficiaries, :input_html => { :rows => 2 }, :label => "Other beneficiaries", :as => :text, :required => false, :hint => "Beneficiaries of your Activity that are not listed above."
      = f.input :text_for_targets, :input_html => { :rows => 2 }, :label => "Targets", :as => :text, :required => false, :hint => "The goals of this Activity. Example: 25,000 people on ART treatment"

  %li
    %ul.horizontal
      - f.buttons :class => 'buttons1' do
        = f.commit_button "Save", :button_html => {:class => "last big_button"}
        - if @response.data_request.spend? || @response.data_request.budget?
          = f.commit_button "Save & Classify >", :button_html => {:class => "last big_button"}

- unless @activity.new_record?
  .delete_section
    = link_to "Delete this Activity", response_activity_path(@response, @activity), :confirm => "Are you sure you want to delete this Activity?", :method => :delete, :class => "delete_button", :class => 'delete_action'
    %p
      %strong Warning:
      Once you delete an Activity, you will lose all data associated with it, and there is no undo.
