:javascript
  var _response_id = "#{@data_response.id}";
  var _activity_id = "#{@activity.id}";
  var _funding_sources = #{get_funding_sources(current_user.organization.projects)}

- f.inputs :class => 'inputs' do
  %li.last
    %h3 Basics
    %ul.dashboard_section
      = f.input :project_id, :label => "Project", :as => :select, :collection => current_user.current_data_response ? current_user.current_data_response.projects : [@activity.try(:project).try(:data_response).try(:projects)].flatten

      #project_sub_form
        #project_sub_form_fields
          - if @activity.project
            = render 'project_sub_form', {:activity => @activity, :project => @activity.project}
      = f.input :name, :required => false
      = f.input :description, :input_html => { :rows => 2 }, :required => false
      = f.input :start_date, :as => :string, :label => "Start date", :input_html => {:class => 'date_picker'}, :hint => "(YYYY-MM-DD) When the Project (and it's related Activities) started.", :required => false
      = f.input :end_date, :as => :string, :label => "End date", :input_html => {:class => 'date_picker'}, :hint => "(YYYY-MM-DD) The end date for the project’s implementation.", :required => false


  %li.last
    %h3== Past Activity Expenditure (#{@data_response.currency})
    %ul.dashboard_section
      = f.input :spend, :label => "Spent", :hint => "The total amount that you have spent in the past fiscal year.", :required => false
      %li.amounts.last
        %label== Quarterly spend
        %ul
          = f.input :spend_q4_prev, :label => "Q4 08-09", :required => false
          = f.input :spend_q1     , :label => "Q1 09-10", :required => false
          = f.input :spend_q2     , :label => "Q2 09-10", :required => false
          = f.input :spend_q3     , :label => "Q3 09-10", :required => false
          = f.input :spend_q4     , :label => "Q4 09-10", :required => false

  %li.last
    %h3 Budget (planned expenditure) (#{@data_response.currency})
    %ul.dashboard_section
      = f.input :budget, :label => "Budget", :hint => "The total amount that you are planning to spend in the upcoming fiscal year.", :required => false
      %li.amounts
        %label Long-term
        %ul
          = f.input :budget2, :label => "Year + 2", :required => false
          = f.input :budget3, :label => "Year + 3", :required => false
          = f.input :budget4, :label => "Year + 4", :required => false
          = f.input :budget5, :label => "Year + 5", :required => false

  %li.last
    %h3 Activity Funding Sources
    %ul.dashboard_section
      - f.semantic_fields_for :funding_sources do |fs|
        = render "activities/funding_source_fields", :f => fs
      .add
        = link_to_add_fields "Add funding source", f, :funding_sources, "activities/"
        %p.hint The sources from which your organization receives funding for this activity.

  %li.last
    %h3== Implementers
    %ul.dashboard_section
      %p.hint Service Providers and partners you work with
      - hint = "Service Providers who implement activities for your organization's projects/activities. E.g. a NGO, a Health Facility Institution, Government office, or a District."
      - hint = hint + "<br>NOTE: You uploaded \"#{@activity.text_for_provider}\"" if !@activity.text_for_provider.blank? && @activity.provider.nil?
      = f.input :provider, :label => "Implementer", :as => :select, :collection => Organization.all, :hint => hint, :required => false

  %li.last.sub_activities
    %h3 Sub Activities
    %p.hint Optional. Used if you fund a large number of different partners (for example, 20 health centers in a number of locations), that implement identical or very similar activities.
    - f.semantic_fields_for :sub_activities do |ca|
      = render "activities/sub_activity_fields", :f => ca
    .add
      = link_to_add_fields "Add sub activity", f, :sub_activities, "activities/"

  %li.last
    %h3== Other
    %ul.dashboard_section
      = f.input :beneficiaries, :as => :check_boxes, :label => "Beneficiaries", :hint => "Beneficiaries of your activity, if applicable to any of these population groups."
      = f.input :text_for_beneficiaries, :input_html => { :rows => 2 }, :label => "Other beneficiaries", :as => :text, :required => false
      = f.input :text_for_targets, :input_html => { :rows => 2 }, :label => "Targets", :as => :text, :required => false


  %li.last
    %h3 Institutions Assisted
    %ul.dashboard_section
      = f.input :organizations, :as => :select, :collection => Organization.all, :hint =>  "If this activity uses health resources to provide technical or management assistance to health facilities or organizations, but doesn’t directly deliver services with the funds. E.g. if your organization works to improve management of a district hospital, you'd be the Implementer, and the hospital you are working with would be the Institution Assisted.", :required => false

- f.buttons :class => 'buttons' do
  = f.commit_button "Save & Next", :class => "last"

- unless @activity.new_record?
  .delete_section
    = link_to "Delete this Activity", response_activity_path(@data_response, @activity), :confirm => "Are you sure you want to delete this activity?", :method => :delete, :class => "delete_btn", :class => 'delete_action'
    %p
      %strong Warning:
      Once you delete an activity, you will lose all data associated with it, and there is no undo.
