:javascript
  var _response_id = "#{@response.id}";
  var _activity_id = "#{@activity.id}";

- f.inputs :class => 'inputs' do
  %li.last
    %h3 Basics
    = render 'activities/activity_basic_fields', :f => f

  %li.last.sub_activities
    = render 'activities/implementers', :f => f, :activity_or_ocost => @activity

  %li.last.targets.js_targets
    %h3 Activity Targets
    .dashboard_section
      %p.heading_hint
        %strong Optional.
        Describe planned targets for this activity.

      - f.semantic_fields_for :targets do |ca|
        = render "activities/target_fields", :f => ca
      .add
        = link_to_add_fields "Add Target", f, :targets, "activities/", :class => "create_alt marginless js_add_nested"

  %li.last.targets.js_targets
    %h3 Activity Outputs
    .dashboard_section
      %p.heading_hint
        %strong Optional.
        Describe actual outputs for this activity.

      - f.semantic_fields_for :outputs do |ca|
        = render "activities/output_fields", :f => ca
      .add
        = link_to_add_fields "Add Output", f, :outputs, "activities/", :class => "create_alt marginless js_add_nested"

  %li.last
    %h3== Other
    %ul.dashboard_section.single_column
      = f.input :beneficiaries, :as => :check_boxes, :label => "Beneficiary details / Other beneficiaries", :hint => "Beneficiaries of your Activity, if applicable to any of these population groups."
      = f.input :text_for_beneficiaries, :input_html => { :rows => 2 }, :label => "Other beneficiaries", :as => :text, :required => false, :hint => "Beneficiaries of your Activity that are not listed above."

  %li
    %ul.horizontal.borderless
      - f.buttons :class => 'buttons1' do
        = f.commit_button "Save", :button_html => {:class => "last big_button"}
        = f.commit_button "Save & Classify >", :button_html => {:class => "last big_button"}
        %li
          = link_to "Cancel", response_projects_path(@response), :class => "js_toggle_projects_listing add_row cancel_button last"

- unless @activity.new_record?
  .delete_section
    = link_to "Delete this Activity", response_activity_path(@response, @activity), :confirm => "Are you sure you want to delete this Activity?", :method => :delete, :class => "delete_button", :class => 'delete_action'
    %p
      %strong Warning:
      Once you delete an Activity, you will lose all data associated with it, and there is no undo.
