:javascript
  var _response_id = "#{@data_response.id}";
  var _activity_id = "#{@activity.id}";

.form_aside
  %h3 What's an Activity?
  %p Each Activity can describe several details like the Beneficiaries/Implementers (who), the Location/District (where) and the Purpose/Code (what).
  %br
  %h3 How do I add more detail?
  %p You can break-down your Activities across several dimensions, such as Purpose Codes, Locations, Inputs
  %br
  %p
    Read more on our
    = link_to "Activity FAQ", "https://hrtapp.tenderapp.com/search?t=f&q=activity", :target => '_blank'

- f.inputs :class => 'wrap-80 inputs' do
  %li.last
    %h3 Basics
    %ul.dashboard_section
      = f.input :project_id, :label => "Project", :as => :select, :collection => current_user.organization.projects
      = f.input :name, :hint => "Using a name that is specified on a contract or formal agreement is strongly recommended", :required => false
      = f.input :description, :input_html => { :rows => 3 }, :hint => "A general 1-2 sentence description of the purpose of the project.", :required => false
      = f.input :start_date, :as => :string, :label => "Start date", :input_html => {:class => 'date_picker'}, :hint => "(YYYY-MM-DD) When the Project (and it's related Activities) started.", :required => false
      = f.input :end_date, :as => :string, :label => "End date", :input_html => {:class => 'date_picker'}, :hint => "(YYYY-MM-DD) The end date for the project’s implementation.", :required => false
      = f.input :provider, :label => "Implementer", :as => :select, :collection => Organization.all, :hint => "Service Providers who implement activities for your organization's projects/activities. E.g. a NGO, a Health Facility Institution, Government office, or a District.", :required => false
      = f.input :locations, :as => :check_boxes, :label => "Districts worked in", :hint => "all the districts in which this Activity was implemented", :required => false

  %li.last
    %h3== Past Expenditure (#{@data_response.currency})
    %ul.dashboard_section
      = f.input :spend, :label => "Spent", :hint => "The total amount that you have spent in the past fiscal year.", :required => false

      %li.amounts.last
        %label== Quarterly spend
        %ul
          = f.input :spend_q4_prev, :label => "Q4 08-09", :required => false
          = f.input :spend_q1     , :label => "Q1 09-10", :required => false
          = f.input :spend_q2     , :label => "Q2 09-10", :required => false
          = f.input :spend_q3     , :label => "Q3 09-10", :required => false
          = f.input :spend_q4     , :label => "Q4 09-10", :required => false

  %li.last
    %h3 Budget (planned expenditure) (#{@data_response.currency})
    %ul.dashboard_section

      = f.input :budget, :label => "Budget", :hint => "The total amount that you are planning to spend in the upcoming fiscal year.", :required => false
      = f.input :budget2, :label => "Budget for year + 1", :hint => "The total amount that you are planning to spend in the second fiscal year.", :required => false
      = f.input :budget3, :label => "Budget for year + 2", :hint => "The total amount that you are planning to spend in the third fiscal year.", :required => false
      %li.amounts
        %label Quarterly budget
        %ul
          = f.input :budget_q4_prev, :label => "Q4 09-10", :required => false
          = f.input :budget_q1     , :label => "Q1 10-11", :required => false
          = f.input :budget_q2     , :label => "Q2 10-11", :required => false
          = f.input :budget_q3     , :label => "Q3 10-11", :required => false
          = f.input :budget_q4     , :label => "Q4 10-11", :required => false
      = f.input :beneficiaries, :as => :check_boxes, :label => "Beneficiaries", :hint => "Beneficiaries of your activity, if applicable to any of these population groups."

  %li.last
    %h3 Texts
    %ul.dashboard_section
      = f.input :text_for_provider, :input_html => { :rows => 3 }, :label => "Text for Implementer", :as => :text, :required => false
      = f.input :text_for_beneficiaries, :input_html => { :rows => 3 }, :label => "Text for beneficiaries", :as => :text, :required => false
      = f.input :text_for_targets, :input_html => { :rows => 3 }, :label => "Text for targets", :as => :text, :required => false

  %li.last
    %h3 Sub Activities
    %p.hint Optional. Used if you fund a large number of different partners (for example, 20 health centers in a number of districts), that implement identical or very similar activities.
    %ul.dashboard_section
      - f.semantic_fields_for :sub_activities do |ca|
        = render "activities/sub_activity_fields", :f => ca
      .add
        = link_to_add_fields "Add sub activity", f, :sub_activities, "activities/"

  %li.last
    %h3 Institutions Assisted
    %ul.dashboard_section
      = f.input :organizations, :as => :select, :collection => Organization.all, :hint =>  "If this activity uses health resources to provide technical or management assistance to health facilities or organizations, but doesn’t directly deliver services with the funds. E.g. if your organization works to improve management of a district hospital, you'd be the Implementer, and the hospital you are working with would be the Institution Assisted.", :required => false

- f.buttons :class => 'wrap-80 buttons' do
  = f.commit_button @activity.new_record? ? "Create New Activity" : "Update Activity", :class => "last"

