- if current_user.tips_shown
  #gs_container
    #getting_started_title
      %h2= "Getting started with #{yield(:title)}"
      = render :partial => 'shared/tips_hide'
    .getting_started
      .message
        %p Your file has been read and each Activity in the file is listed below.
        %ul.bulleted
          %li To open an activity, click anywhere on the blue bar with a X or checkmark. 
          %li If you make any changes after opening an activity, click the save button to save your changes.
          %li Activities that need attention have a red X next to them.
          %li It's a good idea to open each activity and review it to check if its correct.
        %p
          There is great
          = link_to "online help", help_link, :target => "_blank"
          in HRT and you can always
          = link_to "contact the Support Team", contact_link, :target => "_blank"
          at anytime to ask us a question.
