%h3
  Implementers
  %span= link_to "(?)", "#", :title => "Direct service provider for this activity. i.e. your own organization or another organization that carried out this work e.g. a NGO, a Health Facility Institution, Government office, or a District.", :class => 'tooltip'

%ul.dashboard_section
  %span
    - unless @activity.new_record?
      - link_to "#", :id => "import_implementers", :class => "create_alt js_upload_btn overlay sub_impl_imp_exp", :rel => "#sub_activities_upload_box" do
        = image_tag "icon_import_export.png"
        Import / Export
  %table.input_table
    %thead
      %tr
        %th Implementer
        %th
          .right_justified Past Expenditure
        %th
          .right_justified Current Budget
        %th
    %tbody
      - f.semantic_fields_for :sub_activities do |sa|
        -# TODO: fix performance by putting this back = render "activities/sub_activity_row", :f => sa
        = render "activities/sub_activity_fields", :f => sa

      %tr
        %td= link_to_add_fields "Add Implementer", f, :sub_activities, "activities/", :class => "create_alt marginless"
        %td
          %p.total
            %span.label.left Total
            %span.amount.right= @activity.spend
            %span.currency.right= @activity.currency
        %td
          %p.total
            %span.label.left Total
            %span.amount.right= @activity.budget
            %span.currency.right= @activity.currency