%tr.js_activity_add_inline
  %td{:colspan => 7, :class => 'new_activity'}
    %h2
      = params[:type] == 'activity' ? 'Add Activity' : 'Add Other Cost'
    - semantic_form_for @activity, :url => response_activities_path(@response, :type => params[:type]), :html => {:class => "basic_form new_activity_form"} do |f|
      - f.inputs :class => 'inputs' do
        = f.hidden_field :activity_type, :value => params[:type]
        = f.input :project_id, :as => :hidden
        %li
          %label.required Name
        = f.input :name, :input_html => { 'data-hint' => params[:type] == 'activity' ? 'Enter activity name' : 'Enter other cost name' }, :label => false
        %li
          %label.required Description
        = f.input :description, :input_html => { :rows => 1, 'data-hint' => params[:type] == 'activity' ? 'Enter activity description' : 'Enter other cost description' }, :label => false
      - f.buttons :class => 'buttons' do
        = f.commit_button params[:type] == 'activity' ? "Add activity" : "Add other cost", :wrapper_html => {:class => 'js_save_activity'}, :button_html => {:class => "create_button #{params[:type]}"}
        %li= image_tag "ajax-loader.gif", :class => "ajax-loader", :style => 'display: none;'
        %li= link_to "Cancel", "#", :class => "js_cancel_add_activity row_cancel #{params[:type]}" 
