.fields
  %ul.dashboard_section
    = f.input :data_response_id, :as => :hidden, :value => @response.id, :required => false
    .implementer_container
      .ui_widget
        = f.input :provider, :label => "Implementer", :as => :select, :collection => funding_organizations_select, :hint => "The name of the organization that implemented this activity", :required => false, :input_html => {:class => 'organization_select combobox'}

    - if @response.data_request.spend?
      %h4 Past expenditure
      .nested_field
        = f.input :spend, :required => false, :hint => "Amount OR Percentage allocated to this Sub-Activity from the main Activity's Past Expenditure.", :label => "Sub-Activity Past Expenditure"
    - if @response.data_request.budget?
      %h4 Planned expenditure
      .nested_field
        = f.input :budget, :required => false, :hint => "Amount OR Percentage allocated to this Sub-Activity from the main Activity's Budget.", :label => "Sub-Activity Budget"

    = link_to_remove_fields "remove", f
