-# auto included by link_to_add_fields()

- error_class = ""
- error_class = "error" unless f.object.errors.empty?

%tr.overflow_fix.fields{:class => error_class}
  %td
    = f.hidden_field :data_response_id, :value => @response.id
    .f_from_container
      .implementer_container
        .ui_widget
          = f.hidden_field :updated_at
          = f.select :provider_mask,  funding_organizations_select, {:prompt => true}, :class => 'js_implementer_select js_combobox f_from'

  %td= f.text_field :spend_mask, :class => 'js_spend'
  %td= f.text_field :budget_mask, :class => 'js_budget'
  %td= link_to_remove_fields "x", f, :class => 'delete_button'
