.fields
  %ul.dashboard_section
    = f.input :data_response_id, :as => :hidden, :value => @response.id, :required => false
    = f.input :provider, :label => "Implementer", :as => :select, :collection => Organization.all, :required => false, :hint => "The name of the organization that implemented this Sub-Activity"
    - if @response.data_request.budget?
      %h4 Planned expenditure
      .nested_field
        = f.input :spend, :required => false, :hint => "Enter the amount or the percentage amount spent by this Sub-Activity from the main Activity's Spend. Accepts spend amount OR percentage." 
    - if @response.data_request.spend?
      %h4 Past expenditure
      .nested_field
        = f.input :budget, :required => false, :hint => "Enter the amount or the percentage amount allocated to this Sub-Activity from the main Activity's Spend. Accepts spend amount OR percentage."

    = link_to_remove_fields "remove", f
