.fields
  %ul.dashboard_section
    = f.input :data_response_id, :as => :hidden, :value => @data_response.id, :required => false
    = f.input :provider, :label => "Implementer", :as => :select, :collection => Organization.all, :required => false
    - if @data_response.data_request.budget?
      %h4 Planned expenditure
      .nested_field
        = f.input :budget, :label => "Budget FY 10-11", :required => false
        = f.input :budget_percentage, :label => "% of Main Activity's Budget", :required => false
    - if @data_response.data_request.spend?
      %h4 Past expenditure
      .nested_field
        = f.input :spend, :label => "Spend FY 09-10", :required => false
        = f.input :spend_percentage, :label => "% of Main Activity's Budget", :required => false

    = link_to_remove_fields "remove", f
