- title("Activities Bulk Create")

- content_for :sub_nav do
  = render :partial => 'shared/sub_nav_projects'


%ul.breadcrumb
  %li= Activities
  %li.last Bulk Create

%h1.main_heading Activities Bulk Create

= render 'getting_started_bulk'

- @activities.each_with_index do |activity, index|
  .activity_box
    = render 'bulk_edit', :activity => activity, :response => @response

%br

= link_to "Finish and Continue", response_projects_path(@response), :class => 'create_new', :confirm => "Please check that all activities are saved. Saved activites show a green checkmark next to them.  Are you sure you want to leave this page?"
