- title("Edit Activity")

= render :partial => 'projects/sub_nav'

= render 'breadcrumb', :response => @response, :activity => @activity

%h1.main_heading Edit Activity

.main_heading
  = render 'help'

= render 'activities/tab_nav', :activity => @activity

.wrap-70 
  = error_messages_for :activity, :header_message  => nil, :message => "Oops, we couldn't save your changes."

  - semantic_form_for @activity, :url => response_activity_path(@response, @activity), :html => {:class => "basic_form"} do |f|
    = render 'form', :f => f

= render :partial => 'shared/comments', :comments => @comments
