- title("Edit Activity")

= render :partial => 'projects/sub_nav'

= render 'breadcrumb', :response => @response, :activity => @activity

%h1.main_heading Edit Activity

.main_heading
  = render 'help'

%ul.response-notice
  - unless @response.activities_without_amounts.select{|e| e == @activity}.empty?
    %li= "Please enter at least one amount (#{requested_amounts(@response)}) for this Activity"

  - unless @activity.spend_classified?
    %li= "Please classify the Past Expenditure for this activity."

  - unless @activity.budget_classified?
    %li= "Please classify the Current Budget for this activity."

= render 'activities/tab_nav', :activity => @activity


.full_width
  = error_messages_for :activity, :header_message  => nil, :message => "Oops, we couldn't save your changes."

  - semantic_form_for @activity, :url => response_activity_path(@response, @activity), :html => {:class => "basic_form"} do |f|
    = render 'form', :f => f

  = render 'sub_activities_import_export', :activity => @activity

= render :partial => 'shared/comments', :comments => @comments
