- title("Activities")

%h1.main_heading
  #search
    - form_tag response_activities_path(@response), :method => :get do
      = render 'shared/search_form'
  Activities

= render 'getting_started'

%ul.horizontal
  %li
    - link_to new_response_activity_path(@response), :class => "create_button" do
      = image_tag "new_white.png"
      Add Activity

- if params[:query]
  %p
    = "Activities with names or description containing #{params[:query]}"
    = link_to "(Back to complete activity listing)", response_activities_path(@response), :class => 'target'

= render 'list', :activities => @activities

= will_paginate @activities

%ul{ :id => 'position_container', :class => 'image_list' }

