- title(truncate(@activity.description, :length => 100))

= render :partial => 'projects/sub_nav'

= render 'activities/tab_nav', :activity => @activity

%h1.main_heading
  = truncate(@activity.description, :length => 100)

  %span
    %ul.manage_bar.inline
      %li= link_to "Edit", edit_response_activity_path(@data_response, @activity)

= render 'shared/activities/show'

