- usd_to_rwf = Money.default_bank.get_rate("USD", "RWF")

%table.standard
  %thead
    %tr
      %th Organization
      = render :partial => 'reports/shared/sort_columns'

  %tbody
    - organizations.each do |organization|
      %tr{:class => cycle("even", "odd")}
        %td= link_to organization.name, reports_district_organization_path(location, organization)

        - spent_total = organization.spent_sum
        - budget_total = organization.budget_sum
        %td
          %ul
            %li= n2c(spent_total * usd_to_rwf, 'RWF')
            %li= "(#{n2c(spent_total, '$')})"
        %td
          %ul
            %li= n2c(budget_total * usd_to_rwf, 'RWF')
            %li= "(#{n2c(budget_total, '$')})"
