.tabs_nav.two-thirds

  %ul.inline_tab

    %li MTEF:
    %li{:id => 'tab1', :class => 'selected'}
      = link_to "Current Budget", "#"
    %li{:id => 'tab2'}
      = link_to "Past Expenditure", "#"

    %li NSP:
    %li{:id => 'tab3'}
      = link_to "Current Budget", "#"
    %li{:id => 'tab4'}
      = link_to "Past Expenditure", "#"

    %li Inputs:
    %li{:id => 'tab5'}
      = link_to "Current Budget", "#"
    %li{:id => 'tab6'}
      = link_to "Past Expenditure", "#"
