.tabs_nav.two-thirds

  %ul.compact_tab
    %li MTEF
    %li{:id => 'tab1', :class => 'selected'}
      = link_to "Budget", "#"
    %li{:id => 'tab2'}
      = link_to "Spend", "#"
    %li NSP
    %li{:id => 'tab3'}
      = link_to "Budget", "#"
    %li{:id => 'tab4'}
      = link_to "Spend", "#"
    %li HSSPII Budget
    %li{:id => 'tab5'}
      = link_to "Program", "#"
    %li{:id => 'tab6'}
      = link_to "Objective", "#"
    %li HSSPII Spend
    %li{:id => 'tab7'}
      = link_to "Program", "#"
    %li{:id => 'tab8'}
      = link_to "Objective", "#"

.tabs.two-thirds
  .tab1
    .chart{:id => "dr_#{data_response.id}_mtef_budget"}
      %strong You need to upgrade your Flash Player

    .chart.tree{:id => "dr_#{data_response.id}_mtef_budget_tree"}
      = render '/shared/data_responses/mtef_budget_tree_chart'

  .tab2
    .chart{:id => "dr_#{data_response.id}_mtef_spend"}
      %strong You need to upgrade your Flash Player

  .tab3
    .chart{:id => "dr_#{data_response.id}_nsp_budget"}
      %strong You need to upgrade your Flash Player

  .tab4
    .chart{:id => "dr_#{data_response.id}_nsp_spend"}
      %strong You need to upgrade your Flash Player

  .tab5
    .chart{:id => "dr_#{data_response.id}_budget_stratprog_coding"}
      %strong You need to upgrade your Flash Player

  .tab6
    .chart{:id => "dr_#{data_response.id}_budget_stratobj_coding"}
      %strong You need to upgrade your Flash Player

  .tab7
    .chart{:id => "dr_#{data_response.id}_spend_stratprog_coding"}
      %strong You need to upgrade your Flash Player

  .tab8
    .chart{:id => "dr_#{data_response.id}_spend_stratobj_coding"}
      %strong You need to upgrade your Flash Player
