:javascript
  google.load("visualization", "1", {packages:["treemap"]});
  _treemap_data = #{get_treemap_data(data_response, ['mtef_budget', 'mtef_spend', 'nsp_budget', 'nsp_spend'])};

.tabs_nav.two-thirds

  %ul.compact_tab
    %li MTEF
    %li{:id => 'tab1', :class => 'selected'}
      = link_to "Budget", "#"
    %li{:id => 'tab2'}
      = link_to "Spend", "#"
    %li NSP
    %li{:id => 'tab3'}
      = link_to "Budget", "#"
    %li{:id => 'tab4'}
      = link_to "Spend", "#"
    %li HSSPII Budget
    %li{:id => 'tab5'}
      = link_to "Program", "#"
    %li{:id => 'tab6'}
      = link_to "Objective", "#"
    %li HSSPII Spend
    %li{:id => 'tab7'}
      = link_to "Program", "#"
    %li{:id => 'tab8'}
      = link_to "Objective", "#"

.tabs.two-thirds
  .tab1
    = render 'shared/data_responses/chart_tab', :chart_type => 'mtef_budget', :data_response => data_response

  .tab2
    = render 'shared/data_responses/chart_tab', :chart_type => 'mtef_spend', :data_response => data_response

  .tab3
    = render 'shared/data_responses/chart_tab', :chart_type => 'nsp_budget', :data_response => data_response

  .tab4
    = render 'shared/data_responses/chart_tab', :chart_type => 'nsp_spend', :data_response => data_response

  .tab5
    .chart{:id => "dr_#{data_response.id}_budget_stratprog_coding"}

  .tab6
    .chart{:id => "dr_#{data_response.id}_budget_stratobj_coding"}

  .tab7
    .chart{:id => "dr_#{data_response.id}_spend_stratprog_coding"}

  .tab8
    .chart{:id => "dr_#{data_response.id}_spend_stratobj_coding"}
