#tree_map_chart{:style => "width:600px; height:400px;"}

-# Todo - move

- data_rows = "data.addRows([ ['Global',null,0,0],\r"

- CodingBudget.with_code_ids(Nsp.all).with_activities(@data_response.activities).each do |coding|
  - data_rows << "            ['#{coding.code.external_id}', '#{coding.code.parent.external_id}', #{coding.calculated_amount}, #{coding.code.level}],\r"

-# strip last comma
- data_rows = data_rows[0..(data_rows.rindex(',')-1)]
- data_rows << "  ]); "


:javascript
  google.load("visualization", "1", {packages:["treemap"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
      // Create and populate the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Code');
      data.addColumn('string', 'Parent');
      data.addColumn('number', 'Market trade volume (size)');
      data.addColumn('number', 'Market increase/decrease (color)');
      #{data_rows}

      // Create and draw the visualization.
      var tree = new google.visualization.TreeMap(document.getElementById('tree_map_chart'));
      tree.draw(data, {
        minColor: '#f00',
        midColor: '#ddd',
        maxColor: '#0d0',
        headerHeight: 15,
        fontColor: 'black',
        showScale: true});
  }
