%table.third.summary
  %tbody
    %tr
      %td Dates
      %td= "#{project.start_date} to #{project.end_date}"
    %tr
      %td Total Budget:
      %td= n2cnds(project.entire_budget, project.currency || @response.currency)
    %tr
      %td Total Current Budget (current FY):
      %td= n2cnds(project.budget, project.currency || @response.currency)
    %tr
      %td Total Past Expenditure (past FY):
      %td= n2cnds(project.spend, project.currency || @response.currency)
    - unless @policy_maker
      %tr
        %td Spent Q1:
        %td= n2cnds(project.spend_q1, project.currency || @response.currency)

      %tr
        %td Spent Q2:
        %td= n2cnds(project.spend_q2, project.currency || @response.currency)

      %tr
        %td Spent Q3:
        %td= n2cnds(project.spend_q3, project.currency || @response.currency)

      %tr
        %td Spent Q4:
        %td= n2cnds(project.spend_q4, project.currency || @response.currency)

    %tr
      %td== Districts (#{project.locations.count}/#{Location.count}):
      %td
        %ul.dashboard_districts
          - project.locations.map(&:name).each do |loc|
            %li= "#{loc},"

= render '/shared/data_responses/chart_nav'

.tabs.two-thirds
  .tab1{:"data-chart_type" => "project", :"data-id" => project.id, :style => "display: block;"}
    = render 'shared/data_responses/chart_tab', :chart_type => 'mtef_budget', :element => project, :element_type => 'project'

  .tab2{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'mtef_spend', :element => project, :element_type => 'project'

  .tab3{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'nsp_budget', :element => project, :element_type => 'project'

  .tab4{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'nsp_spend', :element => project, :element_type => 'project'

  .tab5{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'cc_budget', :element => project, :element_type => 'project'

  .tab6{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'cc_spend', :element => project, :element_type => 'project'

  -#.tab5
    -#.chart{:id => "project_#{project.id}_stratprog_budget_pie"}

  -#.tab6
    -#.chart{:id => "project_#{project.id}_stratobj_budget_pie"}

  -#.tab7
    -#.chart{:id => "project_#{project.id}_stratprog_spend_pie"}

  -#.tab8
    -#.chart{:id => "project_#{project.id}_stratobj_spend_pie"}
