%table.third.summary
  %tbody
    %tr
      %td Dates
      %td= "#{project.start_date} to #{project.end_date}"
    %tr
      %td Total Budget:
      %td= n2c(project.entire_budget, project.currency || @data_response.currency)
    %tr
      %td Total Budget (current GOR FY):
      %td= n2c(project.budget, project.currency || @data_response.currency)
    %tr
      %td Total Spent (past GOR FY):
      %td= n2c(project.spend, project.currency || @data_response.currency)
    - unless @policy_maker
      %tr
        %td Spent Q1:
        %td=  n2c(project.spend_q1, project.currency || @data_response.currency)

      %tr
        %td Spent Q2:
        %td=  n2c(project.spend_q2, project.currency || @data_response.currency)

      %tr
        %td Spent Q3:
        %td=  n2c(project.spend_q3, project.currency || @data_response.currency)

      %tr
        %td Spent Q4:
        %td=  n2c(project.spend_q4, project.currency || @data_response.currency)

    %tr
      %td Districts:
      %td
        %ul.dashboard_districts
          - project.locations.map(&:name).each do |loc|
            %li= "#{loc},"

= render '/shared/data_responses/chart_nav'

.tabs.two-thirds
  .tab1{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'mtef_budget', :element => project, :element_type => 'project'

  .tab2{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'mtef_spend', :element => project, :element_type => 'project'

  .tab3{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'nsp_budget', :element => project, :element_type => 'project'

  .tab4{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'nsp_spend', :element => project, :element_type => 'project'

  .tab5
    .chart{:id => "project_#{project.id}_stratprog_budget_pie"}

  .tab6
    .chart{:id => "project_#{project.id}_stratobj_budget_pie"}

  .tab7
    .chart{:id => "project_#{project.id}_stratprog_spend_pie"}

  .tab8
    .chart{:id => "project_#{project.id}_stratobj_spend_pie"}
