- unless @policy_maker
  .actions= link_to "Edit Project", edit_project_url(project.id)

%table.third.summary
  %tbody
    %tr
      %td Dates
      %td= "#{project.start_date} to #{project.end_date}"
    %tr
      %td Total Budget:
      %td= number_to_currency(project.entire_budget, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
    %tr
      %td Total Budget (current FY):
      %td= number_to_currency(project.budget, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
    %tr
      %td Total Spend (past FY):
      %td= number_to_currency(project.spend, :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
    %tr
      %td Spend Q4 (FY 08-09):
      %td=  number_to_currency(project.spend_q4_prev , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")
    - unless @policy_maker
      %tr
        %td Spend Q1:
        %td=  number_to_currency(project.spend_q1 , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

      %tr
        %td Spend Q2:
        %td=  number_to_currency(project.spend_q2 , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

      %tr
        %td Spend Q3:
        %td=  number_to_currency(project.spend_q3 , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

      %tr
        %td Spend Q4:
        %td=  number_to_currency(project.spend_q4 , :unit => project.currency.to_s + ' ', :separator => ".", :delimiter => ",")

    %tr
      %td Districts:
      %td
        %ul.dashboard_districts
          - project.locations.map(&:name).each do |loc|
            %li= "#{loc},"


.tabs_nav.two-thirds

  %ul.compact_tab
    %li MTEF
    %li{:id => 'tab1', :class => 'selected'}
      = link_to "Budget", "#"
    %li{:id => 'tab2'}
      = link_to "Spend", "#"
    %li NSP
    %li{:id => 'tab3'}
      = link_to "Budget", "#"
    %li{:id => 'tab4'}
      = link_to "Spend", "#"
    %li HSSPII Budget
    %li{:id => 'tab5'}
      = link_to "Program", "#"
    %li{:id => 'tab6'}
      = link_to "Objective", "#"
    %li HSSPII Spend
    %li{:id => 'tab7'}
      = link_to "Program", "#"
    %li{:id => 'tab8'}
      = link_to "Objective", "#"

.tabs.two-thirds
  .tab1{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'mtef_budget', :element => project, :element_type => 'project'

  .tab2{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'mtef_spend', :element => project, :element_type => 'project'

  .tab3{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'nsp_budget', :element => project, :element_type => 'project'

  .tab4{:"data-chart_type" => "project", :"data-id" => project.id}
    = render 'shared/data_responses/chart_tab', :chart_type => 'nsp_spend', :element => project, :element_type => 'project'

  .tab5
    .chart{:id => "project_#{project.id}_stratprog_budget_pie"}
      %strong You need to upgrade your Flash Player

  .tab6
    .chart{:id => "project_#{project.id}_stratobj_budget_pie"}
      %strong You need to upgrade your Flash Player

  .tab7
    .chart{:id => "project_#{project.id}_stratprog_spend_pie"}
      %strong You need to upgrade your Flash Player

  .tab8
    .chart{:id => "project_#{project.id}_stratobj_spend_pie"}
      %strong You need to upgrade your Flash Player
