.simple_table.third.response_summary
  %table.summary
    %tbody
      %tr
        %td Point of Contact:
        %td= @response.contact_name
      %tr
        %td Phone:
        %td= @response.contact_phone_number
      %tr
        %td Office Phone
        %td= @response.contact_main_office_phone_number
      %tr
        %td Currency
        %td= @response.currency
      %tr
        %td Start of Fiscal Year:
        %td= @response.fiscal_year_start_date
      %tr
        %td End of Fiscal Year:
        %td= @response.fiscal_year_end_date
      - unless @policy_maker
        %tr
          %td{:colspan => 2}= link_to 'Edit Settings', edit_organization_path(current_user.organization)
