- javascript "/ampie/swfobject.js"

= render 'shared/data_responses/javascript', :projects => @projects, :data_response => @response

%ul.breadcrumb
  %li= @response.organization.name
  %li= @response.request.title

%h1.main_heading= "Review Response"

%h3 Executive Summary

.simple_table
  %table
    %thead
      %th Projects
      %th Spent Total
      %th Current budget Total
      %th Activities
      %th Sub Activities
      %th Spent Total
      %th Current budget Total
      %th Unclassified Activities
    %tbody
      %tr
        %td= @response.projects.size
        %td= n2cnds(@response.total_project_spend, @response.currency)
        %td= n2cnds(@response.total_project_budget, @response.currency)
        %td= @response.activities_count
        %td= @response.sub_activities_count
        /should we include other costs below? we are now
        %td= n2cnds(@response.total_activity_spend, @response.currency)
        %td= n2cnds(@response.total_activity_budget, @response.currency)
        %td= "#{@response.unclassified_activities_count} / #{@response.activities_count}"

.details_and_charts
  = render 'shared/data_responses/response_details'
  = render 'shared/data_responses/data_responses_charts', :data_response => @response


#data_response_sub_tabs.tabs_nav
  %ul.inline_alt_tab
    %li{:class => 'selected' }= link_to "Comments (#{@response.comments.size})", "#", :class => "comment_details"
    %li= link_to "Projects (#{@projects.count})", "#", :id => "project_details"
    %li= link_to "Activities without a Project (#{@response.activities_without_projects_count})", "#", :class => "activity_details"
    %li= link_to "Other Costs without a Project (#{@other_costs_without_projects.count})", "#", :class => "activity_details"

.tabs
  .tab1{:style => 'display: block;'}
    = render 'shared/data_responses/comments', :commentable => @response
  .tab2
    = render 'shared/data_responses/projects', :projects => @projects
  .tab3
    = render 'shared/data_responses/activities', :activities => @activities_without_projects, :non_linked => true
  .tab4
    = render 'shared/data_responses/activities', :activities => @other_costs_without_projects, :non_linked => true, :other_costs => true

