- unless activity.sub_activities.empty?
  %table.sub_activities
    %thead
      %tr
        %th Sub-Implementer
        %th Budget
        %th Budget percentage
        %th Spent
        %th Spent percentage
    %tbody
      /TODO sort by budget & calculate %'s if missing
      - activity.sub_activities.find(:all, :include => :provider).each do |sub_activity|
        %tr.sub_activity.entry_header
          %td=  sub_activity.implementer.try(:name)
          %td= n2c(sub_activity.budget, sub_activity.currency)
          %td= number_to_percentage(sub_activity.budget_percentage, :precision => 2)
          %td= n2c(sub_activity.spend, sub_activity.currency)
          %td= number_to_percentage(sub_activity.spend_percentage, :precision => 2)
        %tr.sub_activity.entry_main
          %td.s_border{:colspan => 100}= sub_activity.text_for_provider
