- usd_to_rwf = Money.default_bank.get_rate("USD", "RWF")

%table.standard.clickable
  %thead
    %tr
      %th Name
      %th Organization
      %th Project
      %th Funders
      = render :partial => 'reports/shared/sort_columns'

  %tbody
    - activities.each do |activity|
      %tr{:class => cycle("even", "odd")}
        - project = activity.projects.first
        %td= link_to "#{friendly_name(activity)}", reports_district_activity_path(location, activity)
        %td= h activity.org_name
        %td= h friendly_name(project)
        %td
          - if project
            %ul
              - project.funding_sources.map(&:name).uniq.each do |name|
                %li= name
        - spent_total  = BigDecimal.new(activity.spent_sum)
        - budget_total = BigDecimal.new(activity.budget_sum)
        %td
          %ul
            %li= n2c(spent_total * usd_to_rwf, 'RWF')
            %li= "(#{n2c(spent_total, '$')})"
        %td
          %ul
            %li= n2c(budget_total * usd_to_rwf, 'RWF')
            %li= "(#{n2c(budget_total, '$')})"