%tr.activity_row
  %td.desc= activity.title
  %td= text_field_tag :"activities[#{activity.id}]#{type}_q4_prev", activity.send("#{type}_q4_prev"), :class => 'qamount'
  %td= text_field_tag :"activities[#{activity.id}]#{type}_q1", activity.send("#{type}_q1"), :class => 'qamount'
  %td= text_field_tag :"activities[#{activity.id}]#{type}_q2", activity.send("#{type}_q2"), :class => 'qamount'
  %td= text_field_tag :"activities[#{activity.id}]#{type}_q3", activity.send("#{type}_q3"), :class => 'qamount'
  %td= text_field_tag :"activities[#{activity.id}]#{type}_q4", activity.send("#{type}_q4"), :class => 'qamount'
  %td.total_amount
    %span.total_transform.pointer= n2cndrs(activity.total_by_type(type), activity.currency)
