%tr.js_project_row
  %td.name.wrap-10{:rowspan => project.normal_activities.length + project.other_costs.length + 4}
    = link_to project.name, edit_response_project_path(@response, project)
%tr.activity_subheading.js_activities_subheading
  %td{:colspan => 100} Activities
- project.normal_activities.ordered_by_id.each do |activity|
  = render 'activity_row', :activity => activity, :type => params[:id]
%tr.activity_subheading.js_other_costs_subheading
  %td{:colspan => 100} Other Costs
- project.other_costs.ordered_by_id.each do |activity|
  = render 'activity_row', :activity => activity, :type => params[:id]

%tr.filler2.js_project_total_row{:"data-project_id" => project.id}
  %td
    - link_to new_response_activity_path(@response, :project_id => project.id), :class => 'add_activity add_row' do
      = image_tag "new.png"
      Add activity
    &nbsp;
    - link_to new_response_other_cost_path(@response, :project_id => project.id), :class => 'add_other_cost add_row' do
      = image_tag "new.png"
      Add other cost
  %td.total Subtotal
  %td.total_amount
    %span.js_project_total_spend_amount{:"data-rate" => currency_rate(project.currency, @response.currency)}= project.converted_activities_total_by_type('spend', project.currency) + project.converted_other_costs_total_by_type('spend', project.currency)
    %span.currency= project.currency

  %td.total_amount
    %span.js_project_total_budget_amount{:"data-rate" => currency_rate(project.currency, @response.currency)}= project.converted_activities_total_by_type('budget', project.currency) + project.converted_other_costs_total_by_type('budget', project.currency)
    %span.currency= project.currency
