%tr.js_project_row
  %td.name{:rowspan => project.activities.length + 2}= project.name
- project.activities.ordered_by_id.each do |activity|
  = render 'activity_row', :activity => activity, :type => params[:id]
%tr.filler2.js_project_total_row{:"data-project_id" => project.id}
  %td{:colspan => 5}
    - link_to new_response_activity_path(@response, :project_id => project.id), :class => 'add_activity add_row' do
      = image_tag "new.png"
      Add activity
  %td.total Subtotal
  %td.total_amount
    %span.js_project_total= project.activities_total_by_type(params[:id])
    %span.currency= project.currency
