:javascript
  var _response_id = "#{@response.id}";
  var _type        = "#{params[:id]}";

- content_for :data_entry_sub_nav do
  = render 'shared/data_entry_sub_nav'

%h1.main_heading Workplan

- form_tag response_workplan_path(@response, params[:id]), :method => :put, :id => 'workplan' do
  %table.workplan
    %thead
      %tr
        %th.no-bg{:colspan => 2}
        %th.no-padding{:colspan => 6}
          %ul.tabs
            %li= link_to 'Spend', edit_response_workplan_path(@response, :spend), :class => (params[:id] == 'spend' ? 'active' : nil)
            %li= link_to 'Budget', edit_response_workplan_path(@response, :budget), :class => (params[:id] == 'budget' ? 'active' : nil)
      %tr.head
        %th{:colspan => 2}
        %th= @response.fiscal_year_start_date.try(:year)
        %th{:colspan => 5}= @response.fiscal_year_end_date.try(:year)
      %tr.head
        %th Project
        %th Activity
        %th Q4 Prev
        %th Q1
        %th Q2
        %th Q3
        %th Q4
        %th Total
    %tbody
      - @projects.each do |project|
        = render 'project_row', :project => project
      %tr.filler.project_total
        %td{:colspan => 6}
          - link_to new_response_project_path(@response), :class => 'add_project create_new' do
            = image_tag "new.png"
            Add project

        %td.total Total
        -# TODO: allow it to mix currencies - see bug #13666947
        - total = @projects.map{|p| p.activities.map{|a| a.total_by_type(params[:id])}.sum }.sum
        %td.total_amount= n2cndrs(total, @response.currency)
      %tr
        %td.borderless{:colspan => 8}
          = submit_tag :Save, :style => (@projects.detect{|p| p.activities.present? } ? nil : 'display: none;'), :class => 'save_btn right big'
