:javascript
  var _response_id = "#{@response.id}";
  var _type        = "#{params[:id]}";

= render 'shared/data_entry_sub_nav'

%h1.main_heading Workplan

- form_tag response_workplan_path(@response, params[:id]), :method => :put, :id => 'workplan' do
  %table
    %thead
      %tr
        %th{:colspan => 2}
        %th{:colspan => 6}
          %ul
            %li= link_to 'Spend', response_workplan_path(@response, :spend)
            %li= link_to 'Budget', response_workplan_path(@response, :budget)
      %tr
        %th{:colspan => 2}
        %th= @response.fiscal_year_start_date.try(:year)
        %th{:colspan => 5}= @response.fiscal_year_end_date.try(:year)
      %tr
        %th Project
        %th Activity
        %th Q4 Prev
        %th Q1
        %th Q2
        %th Q3
        %th Q4
        %th Total
    %tbody
      - @projects.each do |project|
        = render 'project_row', :project => project
      %tr
        %td{:colspan => 6}= link_to "Add project", new_response_project_path(@response), :class => 'add_project'
        %td Total
        %td= @projects.map{|p| p.activities.map{|a| a.total_by_type(params[:id])}.sum }.sum
      %tr
        %td{:colspan => 8}
          = submit_tag :Save, :style => (@projects.detect{|p| p.activities.present? } ? nil : 'display: none;'), :class => 'save_btn'
