= render 'shared/data_entry_sub_nav'

%h1.main_heading Manage

%table.workplan
  %thead
    %tr.head
      %th Project
      %th{:colspan => 2} Activity
  %tbody
    - @projects.each do |project|
      %tr
        %td{:rowspan => project.activities.length + 2}= link_to project.name, edit_response_project_path(@response, project)
      - project.activities.ordered.each do |activity|
        %tr
          %td.name= link_to activity.title, edit_response_activity_path(@response, activity)
          %td.total
            = link_to 'Edit', edit_response_activity_path(@response, activity)
            = link_to image_tag("delete_row.png"), response_activity_path(@response, activity), :method => :delete, :confirm => "Are you sure you want to delete \"#{activity.title}\"?", :title => 'Delete activity', :class => "delete_row"

      %tr.filler2
        %td{:colspan => 2}
          - link_to new_response_activity_path(@response, :project_id => project.id), :class => "add_row" do
            = image_tag"new.png"
            Add activity
    %tr.filler
      %td{:colspan => 3}
        - link_to new_response_project_path(@response), :class => "create_new" do
          = image_tag"new.png"
          Add project