= render 'shared/data_entry_sub_nav'

%h1.main_heading Manage

%table.standard
  %thead
    %tr
      %th Project
      %th{:colspan => 2} Activity
  %tbody
    - @projects.each do |project|
      %tr
        %td{:rowspan => project.activities.length + 2}= link_to project.name, edit_response_project_path(@response, project)
      - project.activities.each do |activity|
        %tr
          %td= link_to activity.title, edit_response_activity_path(@response, activity)
          %td
            = link_to 'Edit', edit_response_activity_path(@response, activity)
            = link_to image_tag("icon_close_flash.png"), response_activity_path(@response, activity), :method => :delete, :confirm => "Are you sure you want to delete \"#{activity.title}\"?", :title => 'Delete activity'

      %tr
        %td{:colspan => 2}= link_to "Add activity", new_response_activity_path(@response, :project_id => project.id)
    %tr
      %td{:colspan => 3}= link_to "Add project", new_response_project_path(@response)
