
- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

:javascript
  google.load("visualization", "1", {packages: ["corechart"]});
  var _budget_ufs_values      = #{js_safe(@budget_ufs_values)};
  var _budget_fa_values       = #{js_safe(@budget_fa_values)};
  var _spend_ufs_values       = #{js_safe(@spend_ufs_values)};
  var _spend_fa_values        = #{js_safe(@spend_fa_values)};

- unless current_user.district_manager?
  %ul.breadcrumb
    %li= link_to "Reports", user_report_dashboard_path
    %li= link_to "Districts", reports_districts_path

%h1.main_heading
  = h @location.name


= render 'nav'

.full
  .first-half
    %h2 Ultimate Funding Source (Expenditure)
    #spend_ufs_pie.bordered
  .second-half
    %h2 Ultimate Funding Source (Current Budget)
    #budget_ufs_pie.bordered

.full
  .first-half
    %h2 Financing Agent (Expenditure)
    #spend_fa_pie.bordered
  .second-half
    %h2 Financing Agent (Current Budget)
    #budget_fa_pie.bordered

= render :partial => 'top_organizations_and_activities'
