%ul.breadcrumb
  %li= link_to "Reports", user_report_dashboard_path(current_user)

%h1.main_heading Review District Expenditures and Budgets

%table.standard.rounded.clickable
  %thead
    %tr
      %th District
      %th Organizations
      %th Activities
      %th Total Spent
      %th Per capita spending
      %th Total Budget

  %tbody
    - @locations.each do |loc|
      %tr{:class => cycle("even", "odd")}
        %td= link_to "#{h loc.name}", reports_district_path(loc)
        %td= loc.organizations_count
        %td= loc.activities_count
        - spent_total = Money.new(@spent_codings.detect{|c| c.code_id == loc.id}.try(:total).to_i, :USD)
        - budget_total = Money.new(@budget_codings.detect{|c| c.code_id == loc.id}.try(:total).to_i, :USD)
        %td
          %ul
            -#%li= n2c(spent_total.exchange_to(:RWF), 'RWF')
            %li= n2c(spent_total.usd_to_rwf, 'RWF')
            %li= "(#{n2c(spent_total, '$')})"
          -#= n2c(spent_total)
        %td
          - if loc.district
            %ul
              - spent_per_capita = Money.new((loc.district.population.to_f / @total_population) * @spent_codings.detect{|c| c.code_id == loc.id}.try(:total).to_i, :USD)
              %li= n2c(spent_per_capita.usd_to_rwf, 'RWF')
              %li= "(#{n2c(spent_per_capita, '$')})"
        %td
          %ul
            -#%li= n2c(budget_total.exchange_to(:RWF), 'RWF')
            %li= n2c(budget_total.usd_to_rwf, 'RWF')
            %li= "(#{n2c(budget_total, '$')})"
          -#= n2c(budget_total)
