#footer
  .wrapper
    %ul.right
      %li= link_to "About", static_page_url(:about)
      %li= link_to "Help / Contact Us", static_page_url(:contact)
      %li= link_to "News", static_page_url(:news)
      %li.powered
        Powered by
      %li
        %h2.logo
          Health Resource Tracker
    %ul.left
      %li
        - country = ENV['HRT_COUNTRY'] || 'rwanda'
        %a{:href => '/'}
          = image_tag "#{country}-coat-of-arms-small.png"
          %h1= country

      %li
        %a{:href => 'http://www.usaid.gov/', :target => '_blank'}
          = image_tag "usaid.jpg"
      %li
        %a{:href => 'http://www.hs2020.org/', :target => '_blank'}
          = image_tag "hs2020.jpg"