#footer
  .wrapper

    %ul#browsers.right
      %li
        %p Recommended Browsers:
      %li
        %a{:href => 'http://firefox.com/'}
          = image_tag"firefox_icon.png"
      %li
        %a{:href => 'http://www.google.com/chrome/'}
          = image_tag"chrome_icon.png"
      %li
        %a{:href => 'http://opera.com/'}
          = image_tag"opera_icon.png"
      %li
        %a{:href => 'http://www.apple.com/safari/'}
          = image_tag"safari_icon.png"

    %ul.left
      %li= link_to "Help", help_link, :target => "_blank"
      %li= link_to "Contact", contact_link, :target => "_blank"
      %li= link_to "About", about_page_path
      %li
        %p
          Powered by
          %strong Health Resource Tracker

  = render :partial => 'layouts/ga'
