#footer
  .wrapper

    %ul.right
      %li
        - country = ENV['HRT_COUNTRY'] || 'rwanda'
        %a{:href => '/'}
          = image_tag "#{country}-coat-of-arms-small.png", :class => "left"
          %span.country= country
      %li= link_to image_tag("usaid.jpg"), 'http://www.usaid.gov/', :target => '_blank'
      %li= link_to image_tag("hs2020.jpg"), 'http://www.hs2020.org/', :target => '_blank'
      - unless RAILS_ENV == 'production'
        %li.version= "v#{Version.current}"

  = render :partial => 'layouts/ga'
