#footer
  .wrapper
    %ul.right
      %li= link_to "About", static_page_url(:about)
      %li= link_to "Help / Contact Us", static_page_url(:contact)
      %li= link_to "News", static_page_url(:news)
      %br
      %li
        %h2
          %span Powered by
          Health Resource Tracker
      
    %ul#browsers
      %li
        %p
          Recommended
          %br
          Browsers:
      %li
        %a{:href => 'http://firefox.com/'}
          = image_tag"firefox_icon.png"
      %li
        %a{:href => 'http://www.google.com/chrome/'}
          = image_tag"chrome_icon.png"
      %li
        %a{:href => 'http://opera.com/'}
          = image_tag"opera_icon.png"
      %li
        %a{:href => 'http://www.apple.com/safari/'}
          = image_tag"safari_icon.png"
          
    