#footer
  .wrapper
    - unless controller_name == "static_page"
      %ul.right
        %li
          - country = ENV['HRT_COUNTRY'] || 'rwanda'
          %a{:href => '/'}
            = image_tag "#{country}-coat-of-arms-small.png"
            %h2= country
        %li
          %a{:href => 'http://www.usaid.gov/', :target => '_blank'}
            = image_tag "usaid.jpg"
        %li
          %a{:href => 'http://www.hs2020.org/', :target => '_blank'}
            = image_tag "hs2020.jpg"
        %li.powered
          Powered by
        %li
          %h2.logo
            Health Resource Tracker
        - unless RAILS_ENV == 'production'
          %li.powered= "v#{Version.current}"

    %ul.left
      %li= link_to "Help", "http://hrtapp.tenderapp.com/kb", :target => "_blank"
      %li= link_to "Contact", "http://hrtapp.tenderapp.com/discussions", :target => "_blank"
      %li= link_to "Guide", static_page_url(:user_guide)
      %li= link_to "About", static_page_url(:about)

  -# asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet
  - unless Settings.google_account_id.blank?
    :javascript
      var _gaq = [['_setAccount', '#{Settings.google_account_id}'], ['_trackPageview']];
      (function(d, t) {
       var g = d.createElement(t),
           s = d.getElementsByTagName(t)[0];
       g.async = true;
       g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       s.parentNode.insertBefore(g, s);
      })(document, 'script');
