#header_app
  .wrapper
    #logo
      - org_name = current_user.organization.name
      - org_name = @response.organization.name if @response
      %p
        -
        = "#{truncate(org_name, :length => 35)}: "
        - # sysadmin has no request/response
        - # TODO: show request name when logged in as admin
        - # but you're viewing a reporter's org/response
        - unless current_user.sysadmin?
          = "[#{current_request.name}]"

    .right
      - country = ENV['HRT_COUNTRY'] || 'rwanda'
      %a{:href => '/'}
        = image_tag "#{country}-coat-of-arms-med.png"

    = render :partial => '/layouts/login_nav'
