#header_app
  .wrapper
    #logo

      - if current_user && current_user.organization
        %p
          = "#{truncate(current_user.organization.name, :length => 35)}: "
          - # sysadmin has no request/response
          - # TODO: show request name when logged in as admin
          - # but you're viewing a reporter's org/response
          = "[#{current_user.current_request_name}]"

      - else
        %p= "No organization specified"

    .right
      - country = ENV['HRT_COUNTRY'] || 'rwanda'
      %a{:href => '/'}
        = image_tag "#{country}-coat-of-arms-med.png"

    = render :partial => '/layouts/login_nav'
