%body{:id => controller.controller_name + "_" + controller.action_name, :class => "app"}

  = render "layouts/header_app"
  = render :partial => 'layouts/main_nav'

  #content
    .wrapper
      = yield :sub_nav
      = render :partial => 'layouts/flashes'
      #main

        #desc
          :javascript
            $('desc').hide();
          %h2 Description
          - content_for :head do
            :javascript
              jQuery(document).ready(function(){
                jQuery('#page_tips_open_link').click(function(){
                     jQuery('#desc').toggle();
                     jQuery('#page_tips_nav').toggle();
                });

                jQuery('#page_tips_close_link').click(function(){
                     jQuery('#desc').toggle();
                     jQuery('#page_tips_nav').toggle();
                     jQuery("#page_tips_open_link").effect("highlight", {}, 1500);
                });

              });
          
          %span.close= link_to "Close", "#", :id => "page_tips_close_link"
          #page_tips_nav
            = link_to "Show Page Tips", "#", :id => "page_tips_open_link"
          %p
            =yield :page_help
        = yield
        .comments
          = yield :comments

      #sidebar

        #helper
          :javascript
            $('sidebar').hide();
          = yield :side_bar

  = yield(:header)
  = yield(:tabs)
  = yield(:main)
