- content_for :head do
  :javascript
    jQuery(document).ready(function(){
      jQuery('#page_tips_open_link').click(function(){
           jQuery('#desc').toggle();
           jQuery('#page_tips_nav').toggle();
      });

      jQuery('#page_tips_close_link').click(function(){
           jQuery('#desc').toggle();
           jQuery('#page_tips_nav').toggle();
           jQuery("#page_tips_open_link").effect("highlight", {}, 1500);
      });

    });


%body{:id => controller.controller_name + "_" + controller.action_name, :class => "app"}

  = render "layouts/header_app"
  = render :partial => 'layouts/main_nav'

  #content
    .wrapper
      = yield :sub_nav
      = render :partial => 'layouts/flashes'
      #main

        = yield :page_help

        = yield
        .comments
          = yield :comments
        
      #sidebar
        :javascript
          $('sidebar').hide()

        #helper
          = yield :side_bar

  = yield(:header)
  = yield(:tabs)
  = yield(:main)
