%body#app
  = render "layouts/header_app"

  = render :partial => 'layouts/main_nav'

  #content
    .wrapper
      = yield :sub_nav
      = render :partial => 'layouts/flashes'
      #main

        #desc
          :javascript
            $('desc').hide();
          %h2 Description
          %p
            =yield :page_help
          // %a read more
          // This is the description generator
          // .page_help
          //   = yield :page_help
        = yield
        .comments
          = yield :comments

      #sidebar

        #helper
          :javascript
            $('sidebar').hide();
          = yield :side_bar

  = yield(:header)
  = yield(:tabs)
  = yield(:main)
