%body{:id => controller.controller_name + "_" + controller.action_name, :class => "app"}

  = render "layouts/header_app"
  = render :partial => 'layouts/main_nav'

  #content
    .wrapper
      = yield :sub_nav
      = render :partial => 'layouts/flashes'
      #main
        = yield :page_help
        = yield
        .comments
          = yield :comments

      #sidebar

        #helper
          = yield :side_bar

  = yield(:header)
  = yield(:tabs)
  = yield(:main)
