#header
  .background
    .inner
      #logo
        %h2 
          Ubuzima
          %span Mu Rwanda
      = render :partial => '/layouts/login_nav'

#tabs
  %ul
    %li{ :class => [controller.class.to_s == "ProjectsController" ? "active" : '']}
      = link_to 'Projects', projects_path

    %li{ :class => [controller.class.to_s == "FundingSourcesController" ? "active" : '']}
      = link_to 'Funding Sources', funding_sources_data_entry_path

    %li{ :class => [controller.class.to_s == "ProvidersController" ? "active" : '']}
      = link_to 'Implementers', providers_data_entry_path
    %li{ :class => [controller.class.to_s == "ActivitiesController" ? "active" : '']}
      = link_to 'Activities', activities_path

    %li{ :class => [controller.class.to_s =="OtherCostsController" ? "active" : '']}
      = link_to 'Other Costs', other_costs_path

  = image_tag "tagline.png"

#content
  = render :partial => 'layouts/top_menu'
  = render :partial => 'layouts/flashes'
  #main

    #desc
      :javascript
        $('desc').hide();
      %h2 Description
      %p
        =yield :page_help
      // %a read more
      // This is the description generator
      // .page_help
      //   = yield :page_help
    = yield
    .comments
      = yield :comments

  #sidebar

    #helper
      :javascript
        $('sidebar').hide();
      = yield :side_bar
