%body#landing
  #header
    .background
      .inner
        #logo
          = image_tag("ubuzima.png")
        = render :partial => '/layouts/login_nav'
        %span.quote Improving lives through better health policy
        = image_tag("tagline.png")
  = yield(:tabs)
  = yield(:main)
