#admin

  - if current_user
    %ul
      %li
        - link_to user_dashboard_path(current_user) do
          = image_tag("icon_dashboard.png")
          Dashboard
      %li
        - link_to edit_profile_path do
          = image_tag("icon_profile.png")
          My Profile
      %li
        - link_to logout_path do
          = image_tag("icon_logout.png")
          Sign Out
    %p
      Logged in as
      = "#{current_user.email}"

  - else
    %ul
      %li.borderless
        %a{ :href => login_path, :class => "signin borderless"}
          =image_tag"icon_signin.png"
          Sign in
    %span Have an account?
