#admin

  - if current_user
    %ul
      %li
        %a{ :href => user_dashboard_path(current_user)}
          = image_tag"icon_dashboard.png"
          Dashboard
      %li
        %a{ :href => edit_user_url(current_user.id)}
          = image_tag"icon_profile.png"
          My Profile
      %li
        %a{ :href => logout_path }
          = image_tag"icon_logout.png"
          Sign Out
    %span
      = "#{current_user.email}"

  - else
    %ul
      %li.borderless
        %a{ :href => login_path, :class => "signin borderless"}
          =image_tag"icon_signin.png"
          Sign in
    %span Have an account?
