#admin

  - if current_user
    %ul
      %li
        %a{ :href => user_dashboard_path(current_user)}
          = image_tag"icon_dashboard.png"
          Dashboard
      %li
        %a{ :href => edit_user_url(current_user.id)}
          = image_tag"icon_profile.png"
          My Profile
      %li.last= link_to "Sign out", logout_path
    %span
      = "#{current_user.email}"

  - else
    %ul
      %li
        = link_to "Sign in", login_path, :class => "signin"
    %span Have an account?
