#admin

  - if current_user
    %ul
      = render '/shared/dashboard_link', :dashboard_active => false
      %li= link_to "My Profile", edit_user_url(current_user.id)
      %li= link_to "Sign out", logout_path
    %span
      - if current_user.organization
        = "#{current_user.email} [#{truncate(current_user.organization.name, :length => 35)}]"
      - else
        = "#{current_user.email} [No organization specified]"

  - else
    %ul
      %li= link_to "Sign in", login_path
    %span Have an account?
