#main-nav
  .wrapper
    - help_active = reports_active = false
    - if controller.controller_name == 'dashboard'
      -dashboard_active = true if controller.action_name == 'index'
      -reports_active   = true if controller.action_name == 'reports'

    - if controller.class.to_s == "StaticPageController"
      - help_active      = true if params[:page] == 'user_guide'
      - reports_active   = true if params[:page] == 'reports'

    -# will break if more tabs are added!
    - workplan_active = !dashboard_active && !help_active && !reports_active

    %ul
      - if current_user.role? :admin
        %li{ :class => dashboard_active ? "active" : ''}= link_to "Dashboard", admin_dashboard_path
      - elsif current_user.role?(:reporter) || current_user.role?(:activity_manager)
        %li{ :class => dashboard_active ? "active" : ''}= link_to "Dashboard", reporter_dashboard_path
      %li{ :class => workplan_active ? "active" : ''}
        -# this might break if no response selected
        - if current_user && current_user.current_data_response
          = link_to 'My Data', edit_data_response_path(current_user.current_data_response)
        - else
          = link_to 'My Data', ''
      %li{ :class => reports_active ? "active" : ''}
        = link_to 'Reports', reporter_reports_path
      %li{ :class => help_active ? "active" : ''}
        = link_to 'Help', static_page_path(:user_guide)
