#sub-nav
  %ul
    %li{ :class => (controller.class.to_s == "DataResponsesController" && controller.action_name == 'edit' ? "active" : '')}
      = link_to 'Settings', edit_data_response_path(current_user.current_data_response || 1)

    %li{ :class => [controller.class.to_s == "ProjectsController" ? "active" : '']}
      = link_to 'Projects', projects_path

    %li{ :class => [controller.class.to_s == "FundingSourcesController" ? "active" : '']}
      = link_to 'Funding Sources', funding_sources_data_entry_path

    %li{ :class => [controller.class.to_s == "ProvidersController" ? "active" : '']}
      = link_to 'Implementers', providers_data_entry_path

    %li{ :class => [controller.class.to_s == "ActivitiesController" ? "active" : '']}
      = link_to 'Activities', activities_path

    %li{ :class => [ ["ClassificationsController", "CodeAssignmentsController"].include?(controller.class.to_s) ? "active" : '']}
      = link_to 'Classifications', classifications_path

    %li{ :class => [controller.class.to_s =="OtherCostsController" ? "active" : '']}
      = link_to 'Other Costs', other_costs_path

    %li{ :class => (controller.class.to_s == "Reporter::DataResponsesController" && controller.action_name == "show" ? "active" : '')}
      = link_to 'Review', reporter_data_response_path(current_user.current_data_response || 1)

    %li{ :class => (controller.controller_name == "data_responses" && controller.action_name == "review" ? "active" : '')}
      = link_to 'Submit', review_data_response_path(current_user.current_data_response || 1)
