#sub-nav
  %ul
    %li{ :class => [controller.class.to_s == "ProjectsController" ? "active" : '']}
      = link_to 'Projects', response_projects_path(@data_response)

    %li{ :class => [controller.class.to_s == "FundingSourcesController" ? "active" : '']}
      = link_to 'Funding Sources', funding_sources_path

    %li{ :class => [controller.class.to_s == "ActivitiesController" ? "active" : '']}
      = link_to 'Activities', response_activities_path(@data_response)

    %li{ :class => [ ["ClassificationsController", "CodeAssignmentsController"].include?(controller.class.to_s) ? "active" : '']}
      = link_to 'Classifications', classifications_path

    %li{ :class => [controller.class.to_s =="OtherCostsController" ? "active" : '']}
      = link_to 'Other Costs', response_other_costs_path(@data_response)

      %li{ :class => (controller.class.to_s == "ResponsesController" && controller.action_name == 'edit' ? "active" : '')}
        = link_to 'Settings', edit_response_path(current_user.current_data_response || 1)

    %li{ :class => (controller.class.to_s == "Reporter::ResponsesController" && controller.action_name == "show" ? "active" : '')}
      = link_to 'Review', reporter_response_path(current_user.current_data_response || 1)

    %li{ :class => (controller.controller_name == "data_responses" && controller.action_name == "review" ? "active" : '')}
      = link_to 'Submit', review_response_path(current_user.current_data_response || 1)
