- content_for :body do
  %body{:id => get_controller_id(controller), :class => "app"}
    = render "layouts/header_app"

    #main-nav
      .wrapper
        %ul
          - %w(dashboard reports responses organizations users activities districts).each do |tab|
            %li= build_admin_nav_tab(tab)

    #content
      .wrapper
        = yield :sub_nav
        = render 'layouts/flashes'
        .full-width
          = yield

-# content_for :footer do
  -#if you want to do your own thing
  -#= render :partial => 'layouts/some_different_footer'

= render 'layouts/app'