- content_for :body do
  %body{:id => get_controller_id(controller), :class => "app"}
    = render 'layouts/header_app'
    = render 'layouts/admin_main_nav'

    #content
      .wrapper
        = yield :sub_nav
        = render 'layouts/flashes'
        .full-width
          = yield

- content_for :footer do
  = render :partial => 'layouts/footer'

= render 'layouts/app'
