!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = render :partial => 'layouts/title'
    = yield(:head)

  - if controller.controller_name == "static_page" &&  controller.action_name == "index"
    = render :partial => 'layouts/landing_page'
  - else
    = render :partial => 'layouts/inner_pages'

  = render :partial => 'layouts/footer'

