!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      - title = yield(:title) || " : Resource Tracking Database "
      = "Resource Tracking Database" + " : " + title
    = javascript_include_tag :defaults, 'jquery-1.4.2.min', 'jquery.collapsibleCheckboxTree','jquery.validateClassificationTree', 'jquery.tipsy', 's3Slider', :cache => true
    = record_select_includes
    = active_scaffold_includes
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'custom', 'tipsy'

    -# move to partial...
    - if controller.controller_name == "static_page" &&  controller.action_name == "index"
      = stylesheet_link_tag 's3slider.css', :media => 'screen'
      :javascript
        jQuery(document).ready(function(){
          jQuery('#s3slider').s3Slider({
            timeOut: 4000
          });
        });

    = yield(:head)

  - if controller.controller_name == "static_page" &&  controller.action_name == "index"
    %body#landing
      = render :partial => 'layouts/landing_page'
      #header
        .background
          .inner
            #logo
            = render :partial => '/layouts/login_nav'
            %span.quote Improving lives through better health policy
            = image_tag("tagline.png")
      = yield(:tabs)
      = yield(:main)

  - else
    %body
      = render :partial => 'layouts/inner_pages'
      = yield(:header)
      = yield(:tabs)
      = yield(:main)

  #footer
    = render :partial => 'layouts/footer'

