!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      - title = yield(:title) || APP_CONFIG[:site_description]
      = APP_CONFIG[:site_name] + " : " + title

    = javascript_include_tag :defaults, 'jquery-1.4.2.min', 'jquery.collapsibleCheckboxTree', 'jquery.tipsy', :cache => true
    = record_select_includes
    = active_scaffold_includes
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'custom', 'tipsy'
    = stylesheet_link_tag 'compiled/code_tree', :media => 'screen'
    = yield(:head)

  %body
    #header
      #logo
        = image_tag("logo.png", :alt => "Rwanda Resource Tracking Database")
      #admin
        %ul
          %li= link_to 'Dashboard', static_page_path(:ngo_dashboard)
          %li= link_to "logout", "#"

    #tabs
      %ul

        %li{ :class => [controller.class == ProjectsController ? "active" : '']}
          = link_to 'Projects', projects_path

        %li{ :class => [controller.class == FundingSourcesController ? "active" : '']}
          = link_to 'Funding Sources', funding_sources_data_entry_path

        %li{ :class => [controller.class == ProvidersController ? "active" : '']}
          = link_to 'Providers', providers_data_entry_path
        %li{ :class => [controller.class == ActivitiesController ? "active" : '']}
          = link_to 'Activities', activities_path

        %li{ :class => [controller.class == OtherCostsController ? "active" : '']}
          = link_to 'Other Costs', other_costs_path

        %li{ :class => [controller.class == StaticPageController ? "active" : '']}
          = link_to 'Submit', static_page_path(:ngo_dashboard)

      = image_tag "tagline.png"

    #content
      = render :partial => 'layouts/top_menu'

      #main

        - if flash[:notice]
          #notice= flash[:notice]

        #desc
          :javascript
            $('desc').hide();
          %h2 Description
          %p
            =yield :page_help
          // %a read more
          // This is the description generator
          // .page_help
          //   = yield :page_help

        = yield

        .comments
          = yield :comments

      #sidebar


        #helper
          :javascript
            $('sidebar').hide();
          = yield :side_bar

    #footer
      = render :partial => 'layouts/footer'
