<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <title>Hardcoded Title in App Layout</title>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag 'simpler_css' %>
  <%= stylesheet_link_tag 'custom' %>
  </head>
  <body>
    <div id="header">
      <div class="round" id="banner">
          <%=  image_tag("logo_s.png", :alt => "Rwanda Resource Tracking Database", :class => "round") %>
      </div>
      <div id="top_spacer"></div>
      <div class="login round" id="login"  ><font size="4px">
          <ul>
            <li><%= link_to "logout", "#" %></li>
            <li><%= link_to "About", "#" %></li>
            <li><%= link_to "Contact", "#" %></li>
          </ul> <!--| About | News | Contact -->
      </font>
      </div>
    </div> <!-- top -->
    <div class="doc" id="main">
      <div class="side_menu" id="left_side_bar">
        
        <%= yield :left_side_bar %>

      </div>
      <div id="content" class="round" >
        <div class="breadcrumbs" >
          <%= yield :breadcrumbs %>
        </div>

          <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
          <% end %>
          
          <div class="page_help"> 
            <%= yield :page_help %>
          </div>

          <%= yield %>

          <div class="comments">
            <%= yield :comments %>
          </div>

        </div> <!-- content -->
      <div class=right_side_bar>
        <%= yield :right_side_bar %>
      </div>
  </div> <!-- middle -->

  <div id="bottom">
    <div id="footer"> Footer </div>
  </div> <!-- bottom -->

  </body>
</html>
