!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  = render 'layouts/head'

  %body.promo.landing#promo_landing
    = render 'layouts/flashes'
    .container

      = render 'layouts/header', :landing_page => true

      #content
        = yield

      .push

    = render 'layouts/footer'
