-# an inner page with a compact header

- content_for :body do
  %body.promo.login
    #header_app
      .wrapper
        #tagline
          %h2= link_to "Health Resource Tracker", root_path
          %h6 Improving lives through better health policy
        = render :partial => 'layouts/login_nav'

    = render :partial => 'layouts/flashes'
    #content
      .wrapper
        = yield

- content_for :footer do
  = render :partial => 'layouts/footer'

= render 'layouts/app'

- unless RAILS_ENV == 'production'
  %p= "v#{Version.current}"
