-# main site landing page - large header

- content_for :body do
  %body.promo.landing
    = render "layouts/header", :landing_page => true
    = yield(:tabs)
    #content
      .wrapper
        = yield

    = render 'layouts/footer'

= render 'layouts/app'