
- content_for :body do
  - full_width_page = false
  - full_width_page = true if [ "ProjectsController", "CodeAssignmentsController", "Reporter::DashboardController", "Reporter::ReportsController", "Reporter::ResponsesController", "ResponsesController"].include? controller.class.to_s

  %body{:id => get_controller_id(controller), :class => "app"}
    = render "layouts/header_app"
    = render "layouts/reporter_main_nav"

    #content
      .wrapper
        -# need sub nav on most pages, except...
        - unless [ "Reporter::DashboardController", "Reporter::ReportsController", "Reporter::CommentsController"].include? controller.class.to_s
          - unless controller.controller_name == "responses" && controller.action_name == "new"
            = render :partial => 'layouts/sub_nav'
        = render 'layouts/flashes'

        - unless full_width_page
          #main
            = yield :page_help
            = yield
            .comments
              -#= yield :comments
          #sidebar
            :javascript
              jQuery('#sidebar').hide()
            #helper
              = yield :side_bar

        - else
          .full-width
            = yield
            .comments
              -#= yield :comments

        = yield(:main)

- content_for :footer do
  = render :partial => 'layouts/footer'

= render 'layouts/app'

