- full_width_page = false
- full_width_page = true if [ "ProjectsController", "ActivitiesController", "OtherCostsController", "CodeAssignmentsController", "Reporter::DashboardController", "Reporter::ReportsController", "ResponsesController", "OrganizationsController"].include? controller.class.to_s

!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  = render 'layouts/head'
  %body{:id => get_controller_id(controller), :class => "app"}
    = render "layouts/header_app"
    = render "layouts/reporter/main_nav"
    .sub-nav-arrows
      .wrapper
        = yield :sub_nav

    #content
      .wrapper
        = render 'layouts/flashes'

        .full-width
          = yield

    = render 'layouts/footer'
