- content_for :body do
  %body{:id => get_controller_id(controller), :class => "app"}
    = render 'layouts/header_app'
    - if current_user.admin?
      = render 'layouts/admin_main_nav'
    - else
      = render "layouts/reporter_main_nav"

    #content
      .wrapper
        = yield :sub_nav
        = render 'layouts/flashes'
        .full-width
          = yield

= render 'layouts/app'
